# Lists revisited

**Lists are everywhere**

Core List Operations 

- **Looping** through a list: Go through each item in the list one by one using a loop. (now)
- **Inserting** elements into a list: Add an item at a specific position in the list. (later)
- **Appending** elements to a list: Add an item to the end of the list. (later)
- **Deleting** elements from a list: Remove items from the list by value or position. (later)

## Recommended Additions (later)

- **Updating** elements in a list: Modify an existing item by index. Example: my_list[2] = "new value"
- **Searching** for elements: Check if an item is in the list using in or find its index with .index(). Example: "apple" in my_list
- **Slicing** a list: Access a part of the list using slice notation. Example: my_list[1:4]
- **Sorting** a list: Sort items alphabetically or numerically. Example: my_list.sort() or sorted(my_list) (now)
- **Copying** a list: Create a copy using slicing or .copy(). Example: copy = my_list[:]
- **Clearing** a list: Remove all items with .clear().

*Multiple examples in the **Python Essentials** course

# Financial Transactions: Lists, Loops, Sorting

In [12]:
# List of financial transactions (positive = income, negative = expense)
fin_transactions = [10000, -150, -25, -2515, +3650, -2100, -4500]

print("Printing transaction as they occurred\n")

# Print and calculate each transaction
print("Transaction history:\n")
for transaction in fin_transactions:
    print(transaction)

Printing transaction as they occurred

Transaction history:

10000
-150
-25
-2515
3650
-2100
-4500

In [75]:
fin_transactions = [10000, -150, -25, -2515, +3650, -2100, -4500]

print("Printing transaction as they occurred, adding a transaction number\n")

transaction_record = 0

# Print and calculate each transaction
print("Transaction history:\n")
for transaction in fin_transactions:
    transaction_record = transaction_record +1
    print(transaction_record, transaction, sep=": ")

Printing transaction as they occurred, adding a transaction number

Transaction history:

1: 10000
2: -150
3: -25
4: -2515
5: 3650
6: -2100
7: -4500

## Sorting : Method list.sort()

- **list.sort()** modifies the list in place
- It **sorts the list itself**, modifying its order
- It returns **None** — not a new list

In [115]:
fin_transactions = [10000, -150, -25, -2515, +3650, -2100, -4500]
print("Transactions sorted from smallest to largest:\n")
fin_transactions.sort()
print(fin_transactions)
print()
# Display sorted transactions
for transaction in fin_transactions:
    print(f"{transaction:+} EUR")

Transactions sorted from smallest to largest:

[-4500, -2515, -2100, -150, -25, 3650, 10000]

-4500 EUR
-2515 EUR
-2100 EUR
-150 EUR
-25 EUR
+3650 EUR
+10000 EUR

## Sorting : Reversed

In [18]:
fin_transactions = [10000, -150, -25, -2515, +3650, -2100, -4500]
print("Transactions sorted from smallest to largest:\n")
fin_transactions.sort(reverse=True)
print(fin_transactions)
print()
# Display sorted transactions
for transaction in fin_transactions:
    print(f"{transaction:+} EUR")

Transactions sorted from smallest to largest:

[10000, 3650, -25, -150, -2100, -2515, -4500]

+10000 EUR
+3650 EUR
-25 EUR
-150 EUR
-2100 EUR
-2515 EUR
-4500 EUR

## Sorting : Function sorted()

- If you need a new sorted list (without modifying the original)
- Use the built-in **sorted()** function

In [20]:
fin_transactions = [10000, -150, -25, -2515, +3650, -2100, -4500]
print("Transactions sorted from largest to smallest:\n")
# Sort transactions in descending order; sorted() returns a new sorted list, leaving the original unchanged.
sorted_transactions = sorted(fin_transactions, reverse=True)

# Display sorted transactions
for transaction in sorted_transactions:
    print(f"{transaction:+} EUR")

Transactions sorted from largest tosmallest:

+10000 EUR
+3650 EUR
-25 EUR
-150 EUR
-2100 EUR
-2515 EUR
-4500 EUR

In [22]:
# List of financial transactions (positive = income, negative = expense)
fin_transactions = [10000, -150, -25, -2515, +3650, -2100, -4500]

# Initialize balance
balance = 0

print("Printing and calculating each transaction:\n")

# Print and calculate each transaction
print("Transaction history:\n")
for transaction in fin_transactions:
    balance += transaction
    print(f"{transaction:+} EUR  →  Current balance: {balance} EUR")

# Final result
print("\n=> Final balance:", balance, "EUR")

Printing and calculating each transaction:

Transaction history:

+10000 EUR  →  Current balance: 10000 EUR
-150 EUR  →  Current balance: 9850 EUR
-25 EUR  →  Current balance: 9825 EUR
-2515 EUR  →  Current balance: 7310 EUR
+3650 EUR  →  Current balance: 10960 EUR
-2100 EUR  →  Current balance: 8860 EUR
-4500 EUR  →  Current balance: 4360 EUR

=> Final balance: 4360 EUR

## Storing Transactions in a File: Using Loops and File Handling

The following Python script performs the following jobs:

- Calculates the running balance,
- Adds a timestamp for each transaction (using today's date),
- Writes the data to a file called transactions_<date>.txt.
- Alternative file format csv, spreadsheet, database will be discussed at a later time.

In [98]:
from datetime import datetime

# List of financial transactions (positive = income, negative = expense)
fin_transactions = [10000, -150, -25, -2515, +3650, -2100, -4500]

# Prepare filename with today's date
today = datetime.today().strftime('%Y-%m-%d')
filename = f"transactions_{today}.txt"

# Initialize balance
balance = 0

# Open file for writing
with open(filename, "w") as file:
    file.write(f"Transaction Log - {today}\n")
    file.write("=" * 40 + "\n")

    for transaction in fin_transactions:
        balance += transaction
        timestamp = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
        file.write(f"{timestamp} | {transaction:+} EUR | Balance: {balance} EUR\n")

    file.write("=" * 40 + "\n")
    file.write(f"Final balance: {balance} EUR\n")

print(f"Transactions exported to: {filename}")

Transactions exported to: transactions_2025-05-20.txt

## Reading transactions from a file

- Make sure that the file exists, else the program will crach
- Use try ... except

In [100]:
from datetime import datetime

# Get today's date to match the file name
today = datetime.today().strftime('%Y-%m-%d')
filename = f"transactions_{today}.txt"

try:
    with open(filename, "r") as file:
        print(f"Displaying contents of {filename}:\n")
        contents = file.read()
        print(contents)
except FileNotFoundError:
    print(f"File {filename} not found.")

Displaying contents of transactions_2025-05-20.txt:

Transaction Log - 2025-05-20
========================================
2025-05-20 15:08:56 | +10000 EUR | Balance: 10000 EUR
2025-05-20 15:08:56 | -150 EUR | Balance: 9850 EUR
2025-05-20 15:08:56 | -25 EUR | Balance: 9825 EUR
2025-05-20 15:08:56 | -2515 EUR | Balance: 7310 EUR
2025-05-20 15:08:56 | +3650 EUR | Balance: 10960 EUR
2025-05-20 15:08:56 | -2100 EUR | Balance: 8860 EUR
2025-05-20 15:08:56 | -4500 EUR | Balance: 4360 EUR
========================================
Final balance: 4360 EUR

# Weather Stats: lists and loops

Here are the first three months as an example:

- January: Max Temp = 10°C, Min Temp = -1°C, Sunny = 5 days, Cloudy = 15 days, Rainy = 11 days
- February: Max Temp = 12°C, Min Temp = 0°C, Sunny = 6 days, Cloudy = 12 days, Rainy = 11 days
- March: Max Temp = 15°C, Min Temp = 2°C, Sunny = 8 days, Cloudy = 14 days, Rainy = 9 days

In [141]:
weather_2025_1 = ['January', 10, -1, 5, 15, 11]
weather_2025_2 = ['February', 12, 0, 6, 12, 11]
weather_2025_3 = ['March', 15, 2, 8, 14, 9]
weather_2025_4 = ['April', 18, 5, 12, 10, 8]
weather_2025_5 = ['May', 22, 9, 14, 9, 8]
weather_2025_6 = ['June', 25, 13, 15, 8, 7]
weather_2025_7 = ['July', 28, 15, 18, 7, 6]
weather_2025_8 = ['August', 27, 14, 17, 8, 6]
weather_2025_9 = ['September', 23, 11, 13, 10, 7]
weather_2025_10 = ['October', 17, 7, 9, 14, 8]
weather_2025_11 = ['November', 11, 3, 6, 17, 7]
weather_2025_12 = ['December', 7, 0, 4, 18, 9]

# Display complete list of measurements for one month
print(weather_2025_1)

# Pick out a specific element
print("Max Temp:", weather_2025_1[1])
print("Min Temp:", weather_2025_1[2])

['January', 10, -1, 5, 15, 11]
Max Temp: 10
Min Temp: -1

## A Table is a "List of Lists"

In [64]:
# A table is a "list of lists"
weather_year_2025 = [
    ['January', 10, -1, 5, 15, 11], ['February', 12, 0, 6, 12, 11], ['March', 15, 2, 8, 14, 9], 
    ['April', 18, 5, 12, 10, 8], ['May', 22, 9, 14, 9, 8], ['June', 25, 13, 15, 8, 7], 
    ['July', 28, 15, 18, 7, 6], ['August', 27, 14, 17, 8, 6], ['September', 23, 11, 13, 10, 7], 
    ['October', 17, 7, 9, 14, 8], ['November', 11, 3, 6, 17, 7], ['December', 7, 0, 4, 18, 9]
]

# Print data of all months
for m in weather_year_2025:
    print(m)

['January', 10, -1, 5, 15, 11]
['February', 12, 0, 6, 12, 11]
['March', 15, 2, 8, 14, 9]
['April', 18, 5, 12, 10, 8]
['May', 22, 9, 14, 9, 8]
['June', 25, 13, 15, 8, 7]
['July', 28, 15, 18, 7, 6]
['August', 27, 14, 17, 8, 6]
['September', 23, 11, 13, 10, 7]
['October', 17, 7, 9, 14, 8]
['November', 11, 3, 6, 17, 7]
['December', 7, 0, 4, 18, 9]

**Cell Address: [row][column]**

In [17]:
# Note: Run the previous cell first
# FIRST CELL
row_selected = 0
col_selected = 0
cell_value = weather_year_2025[row_selected][col_selected]
print(cell_value)

# NEXT ROW
row_selected = 1
col_selected = 0
cell_value = weather_year_2025[row_selected][col_selected]
print(cell_value)

# NEXT CELL
row_selected = 1
col_selected = 1
cell_value = weather_year_2025[row_selected][col_selected]
print(cell_value)

# LAST CELL
row_selected = -1
col_selected = -1
cell_value = weather_year_2025[row_selected][col_selected]
print(cell_value)

January
February
12
9

**Task**: Write a program that loops though all the cells and displays cell address and cell value

In [66]:
# Note: Run the previous cell first
for row_index in range(len(weather_year_2025)):
    row = weather_year_2025[row_index]
    for col_index in range(len(row)):
        value = row[col_index]
        print(f"Cell[{row_index}][{col_index}] = {value}")

Cell[0][0] = January
Cell[0][1] = 10
Cell[0][2] = -1
Cell[0][3] = 5
Cell[0][4] = 15
Cell[0][5] = 11
Cell[1][0] = February
Cell[1][1] = 12
Cell[1][2] = 0
Cell[1][3] = 6
Cell[1][4] = 12
Cell[1][5] = 11
Cell[2][0] = March
Cell[2][1] = 15
Cell[2][2] = 2
Cell[2][3] = 8
Cell[2][4] = 14
Cell[2][5] = 9
Cell[3][0] = April
Cell[3][1] = 18
Cell[3][2] = 5
Cell[3][3] = 12
Cell[3][4] = 10
Cell[3][5] = 8
Cell[4][0] = May
Cell[4][1] = 22
Cell[4][2] = 9
Cell[4][3] = 14
Cell[4][4] = 9
Cell[4][5] = 8
Cell[5][0] = June
Cell[5][1] = 25
Cell[5][2] = 13
Cell[5][3] = 15
Cell[5][4] = 8
Cell[5][5] = 7
Cell[6][0] = July
Cell[6][1] = 28
Cell[6][2] = 15
Cell[6][3] = 18
Cell[6][4] = 7
Cell[6][5] = 6
Cell[7][0] = August
Cell[7][1] = 27
Cell[7][2] = 14
Cell[7][3] = 17
Cell[7][4] = 8
Cell[7][5] = 6
Cell[8][0] = September
Cell[8][1] = 23
Cell[8][2] = 11
Cell[8][3] = 13
Cell[8][4] = 10
Cell[8][5] = 7
Cell[9][0] = October
Cell[9][1] = 17
Cell[9][2] = 7
Cell[9][3] = 9
Cell[9][4] = 14
Cell[9][5] = 8
Cell[10][0] = November
Cell[10][1] = 11
Cell[10][2] = 3
Cell[10][3] = 6
Cell[10][4] = 17
Cell[10][5] = 7
Cell[11][0] = December
Cell[11][1] = 7
Cell[11][2] = 0
Cell[11][3] = 4
Cell[11][4] = 18
Cell[11][5] = 9

**Explanation:**
  
- range(len(weather_year_2025)): loops over the row indices (0–11).
- range(len(row)): loops over the column indices for that row.

This gives you both row_index and col_index, so you can print the full cell address and its value.

**Alternative: Using the enumerate() function**

In [25]:
for row_index, row in enumerate(weather_year_2025):
    for col_index, value in enumerate(row):
        print(f"Cell[{row_index}][{col_index}] = {value}")

Cell[0][0] = January
Cell[0][1] = 10
Cell[0][2] = -1
Cell[0][3] = 5
Cell[0][4] = 15
Cell[0][5] = 11
Cell[1][0] = February
Cell[1][1] = 12
Cell[1][2] = 0
Cell[1][3] = 6
Cell[1][4] = 12
Cell[1][5] = 11
Cell[2][0] = March
Cell[2][1] = 15
Cell[2][2] = 2
Cell[2][3] = 8
Cell[2][4] = 14
Cell[2][5] = 9
Cell[3][0] = April
Cell[3][1] = 18
Cell[3][2] = 5
Cell[3][3] = 12
Cell[3][4] = 10
Cell[3][5] = 8
Cell[4][0] = May
Cell[4][1] = 22
Cell[4][2] = 9
Cell[4][3] = 14
Cell[4][4] = 9
Cell[4][5] = 8
Cell[5][0] = June
Cell[5][1] = 25
Cell[5][2] = 13
Cell[5][3] = 15
Cell[5][4] = 8
Cell[5][5] = 7
Cell[6][0] = July
Cell[6][1] = 28
Cell[6][2] = 15
Cell[6][3] = 18
Cell[6][4] = 7
Cell[6][5] = 6
Cell[7][0] = August
Cell[7][1] = 27
Cell[7][2] = 14
Cell[7][3] = 17
Cell[7][4] = 8
Cell[7][5] = 6
Cell[8][0] = September
Cell[8][1] = 23
Cell[8][2] = 11
Cell[8][3] = 13
Cell[8][4] = 10
Cell[8][5] = 7
Cell[9][0] = October
Cell[9][1] = 17
Cell[9][2] = 7
Cell[9][3] = 9
Cell[9][4] = 14
Cell[9][5] = 8
Cell[10][0] = November
Cell[10][1] = 11
Cell[10][2] = 3
Cell[10][3] = 6
Cell[10][4] = 17
Cell[10][5] = 7
Cell[11][0] = December
Cell[11][1] = 7
Cell[11][2] = 0
Cell[11][3] = 4
Cell[11][4] = 18
Cell[11][5] = 9

**enumerate()**

The enumerate() function lets you loop through a list while keeping track of the index (position) of each item.

## During a loop : Select a value in a list by using index

In [62]:
# Note: Run the previous cell first
for m in weather_year_2025:
    print("- Month:", m[0],"=> Max Temp:", m[1])

- Month: January => Max Temp: 10
- Month: February => Max Temp: 12
- Month: March => Max Temp: 15
- Month: April => Max Temp: 18
- Month: May => Max Temp: 22
- Month: June => Max Temp: 25
- Month: July => Max Temp: 28
- Month: August => Max Temp: 27
- Month: September => Max Temp: 23
- Month: October => Max Temp: 17
- Month: November => Max Temp: 11
- Month: December => Max Temp: 7

## During a loop : Select a month

**Static variable**

In [208]:
# Note: Run the previous cell first
month_to_search = "July"
for m in weather_year_2025:
    if m[0] == month_to_search:
        print("Month:", m[0],"=> Max Temp:", m[1])

Month: July => Max Temp: 28

**Interactive input**

In [210]:
# Note: Run the previous cell first
month_to_search = input("What month to select?")
for m in weather_year_2025:
    if m[0] == month_to_search:
        print("Month:", m[0],"=> Max Temp:", m[1])

What month to select? July

Month: July => Max Temp: 28

**Interactive input with partial match**

- Updated Script (with partial match) using lower or uppercase and "in"

In [55]:
# Note: Run the previous cell first
month_to_search = input("What month to select? ").lower()
for m in weather_year_2025:
    if month_to_search in m[0].lower():
        print("Month:", m[0], "=> Max Temp:", m[1])

What month to select?  De

Month: December => Max Temp: 7

## Extra Practice 
- Saving weather data to a file
- Reading weather data from a file
- Displaying weather data graphically

# Lists Further Explored
**Core List Operations**

- Looping through a list: Go through each item in the list one by one using a loop. (done)
- Inserting elements into a list: Add an item at a specific position in the list. 
- Appending elements to a list: Add an item to the end of the list. 
- Deleting elements from a list: Remove items from the list by value or position. 

**Recommended Additions**

- Updating elements in a list: Modify an existing item by index. Example: my_list[2] = "new value" 
- Searching for elements: Check if an item is in the list using in or find its index with .index(). Example: "apple" in my_list 
- Slicing a list: Access a part of the list using slice notation. Example: my_list[1:4] 
- Sorting a list: Sort items alphabetically or numerically. (done)
- Copying a list: Create a copy using slicing or .copy(). Example: copy = my_list[:] 
- Clearing a list: Remove all items with .clear().

Multiple examples in the Python Essentials course.

In [219]:
# END OF THE PREP