# Reviewing & Analyzing Code Examples

**Module 2 - Output, Function Arguments, Variables, Interaction with the User Using Input**

**Output: The Print Function**

In [16]:
kilometers = 42.150
miles = 26.4

miles_to_kilometers = miles * 1.61
kilometers_to_miles = kilometers / 1.61

print(miles, "miles is", round(miles_to_kilometers, 2), "kilometers")
print(kilometers, "kilometers is", round(kilometers_to_miles, 2), "miles")

26.4 miles is 42.5 kilometers
42.15 kilometers is 26.18 miles

In [159]:
# new: Get input from the user
kilometers = float(input("Enter distance in kilometers: "))
miles = float(input("Enter distance in miles: "))

# Perform conversions
miles_to_kilometers = miles * 1.61
kilometers_to_miles = kilometers / 1.61

# Display results
print(miles, "miles is", round(miles_to_kilometers, 2), "kilometers")
print(kilometers, "kilometers is", round(kilometers_to_miles, 2), "miles")

Enter distance in kilometers:  1
Enter distance in miles:  1

1.0 miles is 1.61 kilometers
1.0 kilometers is 0.62 miles

**Simple Calculator Using Functions**

All functions below have two necessary arguments

In [9]:
def add(n1,n2):
    return n1+n2

def subtract(n1, n2):
    return n1-n2

def multiply(n1, n2):
    return n1*n2

def divide(n1, n2):
    if n2 != 0:
        return n1/n2
    else:
        return ("Error: Division by Zero")

def main():
    print (add(100,10))
    print (subtract(100,10))
    print (multiply(100,10))
    print (divide(100,10))

if __name__ == "__main__":
   main()

110
90
1000
10.0

**Using Variables**

In [163]:
first_name = "Yvan"
last_name = "Rooseleer"
company = "BiASC"
address = "Gravenbosstraat 134"
city = "Brussel"

print (first_name, last_name, company, address, city)
print(len(first_name))
print(len(last_name))
print (first_name[0], last_name, sep = ". ")

Yvan Rooseleer BiASC Gravenbosstraat 134 Brussel
4
9
Y. Rooseleer

**Pythagorean formula**

In [24]:
# new
# it is recommended to use parentheses for clarity in expressions 
a = 3.0
b = 4.0
c = ((a ** 2) + (b ** 2)) ** 0.5
print("c =", c)

c = 5.0

**Input: Interaction with the user**

In [30]:
# new: Ask the user for input
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))

# Calculate the hypotenuse c using the Pythagorean theorem
c = ((a ** 2) + (b ** 2)) ** 0.5

# Display the result
print("c =", c)

Enter the value of a:  10
Enter the value of b:  5

c = 11.180339887498949

**Calculating time**

In [171]:
## CONVERT HH MIN SEC TO SECONDS : INTERACTIVE
HH = int(input("How  many hours? (0-48)"))
MM = int(input("How  many minutes? (0-59)"))
SS = int(input("How  many seconds? (0-59)"))
SEC = (HH * 60 * 60) + (MM * 60) + SS
print ("Result: " , HH, ":", MM , ":", SS , " is" , sep="", end=" ")
print(SEC, "seconds", sep=" ")

How  many hours? (0-48) 2
How  many minutes? (0-59) 2
How  many seconds? (0-59) 2

Result: 2:2:2 is 7322 seconds

**Module 3 Making Decisions**

**Boolean values and None**

In [192]:
print(True > False)
print(True < False)
print(int(True))
print(int(False))
print(1==1)
print(1==0)
print(True==False)
print(type(1))
print(type(True))
print(type(None))

True
False
1
0
True
False
False
<class 'int'>
<class 'bool'>
<class 'NoneType'>

In [249]:
name = None
print(name)
name = "" # empty string is invisible
print(name)

None

In [212]:
name = None # note the same as the empty string ""
name = input("What's your name?")
if name != ""  # not: name != None:
    print(name)
else:
    print("Unknown")

What's your name? Yvan

Yvan

In [247]:
# Display names from a file until the name is unknown or None
# file treated as a list of rows
import csv

filename = "netherlands_suriname_names.csv"

with open(filename, newline="") as file:
    reader = csv.reader(file)
    rows = list(reader)

# First row is the header
header = rows[0]
first_name_index = header.index("First Name")
last_name_index = header.index("Last Name")

# Iterate over remaining rows (skip header)
for row in rows[1:]:
    first = row[first_name_index].strip()
    last = row[last_name_index].strip()

    if not first or not last:
        print("Encountered missing name — stopping.")
        break

    print(f"{last}, {first[0]}.")

# Display how many
how_many = len(rows)-1 # remove the header line
print(f"Total names: {how_many}")

Kalloe, S.
Jansen, P.
Jansen, S.
Visser, S.
Monifa, C.
Pinas, A.
Meijer, J.
de Vries, J.
Jansen, K.
Visser, S.
Meijer, S.
Monifa, C.
de Vries, E.
Baldewsingh, S.
Ramdien, C.
Bakker, P.
Visser, K.
Jansen, P.
Meijer, K.
Kalloe, S.
Total names: 20

In [243]:
# Display names from a file until the name is unknown or None
# csvDictReader: csv.reader handles edge cases better like quoted fields).
import csv

filename = "netherlands_suriname_names.csv"

with open(filename, mode="r", newline="") as file:
    reader = csv.DictReader(file)
    
    for row in reader:
        first_name = row["First Name"]
        last_name = row["Last Name"]

        # Stop if either first name or last name is None or empty
        if first_name is None or last_name is None or first_name.strip() == "" or last_name.strip() == "":
            print("Encountered missing name — stopping.")
            break

        # Format and print the name
        initial = first_name[0] + "." if first_name else ""
        formatted_name = f"{last_name}, {initial}"
        print(formatted_name)

Kalloe, S.
Jansen, P.
Jansen, S.
Visser, S.
Monifa, C.
Pinas, A.
Meijer, J.
de Vries, J.
Jansen, K.
Visser, S.
Meijer, S.
Monifa, C.
de Vries, E.
Baldewsingh, S.
Ramdien, C.
Bakker, P.
Visser, K.
Jansen, P.
Meijer, K.
Kalloe, S.

In [229]:
# Display age of persons
import csv

# File to read
filename = "netherlands_suriname_names.csv"

# Read and process the CSV file
with open(filename, mode="r", newline="") as file:
    reader = csv.DictReader(file)
    
    print(f"{'Name':<25} {'Age in 2025':<12}")
    print("-" * 40)
    
    for row in reader:
        last_name = row["Last Name"]
        first_name = row["First Name"]
        birth_year = int(row["Birth Year"])
        
        # Format name as: Last Name, F.
        initial = first_name[0] + "." if first_name else ""
        formatted_name = f"{last_name}, {initial}"
        
        # Calculate age
        age_2025 = 2025 - birth_year
        
        print(f"{formatted_name:<25} {age_2025:<12}")

Name                      Age in 2025
----------------------------------------
Kalloe, S.                26
Jansen, P.                67
Jansen, S.                9
Visser, S.                0
Monifa, C.                12
Pinas, A.                 69
Meijer, J.                7
de Vries, J.              51
Jansen, K.                72
Visser, S.                50
Meijer, S.                32
Monifa, C.                75
de Vries, E.              25
Baldewsingh, S.           65
Ramdien, C.               59
Bakker, P.                54
Visser, K.                59
Jansen, P.                21
Meijer, K.                64
Kalloe, S.                9

In [237]:
# Sort names
import csv

# File to read
filename = "netherlands_suriname_names.csv"

# Read all rows into a list of dictionaries
with open(filename, mode="r", newline="") as file:
    reader = csv.DictReader(file)
    people = list(reader)

# Sort the list by last name, then by first name
people.sort(key=lambda person: (person["Last Name"], person["First Name"]))

# Display the header
print(f"{'Name':<25} {'Age in 2025':<12}")
print("-" * 40)

# Process and display each entry
for person in people:
    last_name = person["Last Name"]
    first_name = person["First Name"]
    birth_year = int(person["Birth Year"])

    # Format: Last Name, F.
    initial = first_name[0] + "." if first_name else ""
    formatted_name = f"{last_name}, {initial}"

    # Calculate age in 2025
    age_2025 = 2025 - birth_year

    print(f"{formatted_name:<25} {age_2025:<12}")
    
# Display how many
how_many = len(people)
print(f"Total names: {how_many}")

Name                      Age in 2025
----------------------------------------
Bakker, P.                54
Baldewsingh, S.           65
Jansen, K.                72
Jansen, P.                67
Jansen, P.                21
Jansen, S.                9
Kalloe, S.                26
Kalloe, S.                9
Meijer, J.                7
Meijer, K.                64
Meijer, S.                32
Monifa, C.                12
Monifa, C.                75
Pinas, A.                 69
Ramdien, C.               59
Visser, K.                59
Visser, S.                0
Visser, S.                50
de Vries, E.              25
de Vries, J.              51
Total names: 20

In [233]:
# Count names
import csv

# File to read
filename = "netherlands_suriname_names.csv"

# Read all rows into a list of dictionaries
with open(filename, mode="r", newline="") as file:
    reader = csv.DictReader(file)
    people = list(reader)

# Sort the list by last name, then by first name
people.sort(key=lambda person: (person["Last Name"], person["First Name"]))

# Display the header
print(f"{'Name':<25} {'Age in 2025':<12}")
print("-" * 40)

# Counter for total names
count = 0

# Process and display each entry
for person in people:
    last_name = person["Last Name"]
    first_name = person["First Name"]
    birth_year = int(person["Birth Year"])

    # Format: Last Name, F.
    initial = first_name[0] + "." if first_name else ""
    formatted_name = f"{last_name}, {initial}"

    # Calculate age in 2025
    age_2025 = 2025 - birth_year

    print(f"{formatted_name:<25} {age_2025:<12}")
    count += 1

# Print total number of names
print("-" * 40)
print(f"Total names: {count}")

Name                      Age in 2025
----------------------------------------
Bakker, P.                54
Baldewsingh, S.           65
Jansen, K.                72
Jansen, P.                67
Jansen, P.                21
Jansen, S.                9
Kalloe, S.                26
Kalloe, S.                9
Meijer, J.                7
Meijer, K.                64
Meijer, S.                32
Monifa, C.                12
Monifa, C.                75
Pinas, A.                 69
Ramdien, C.               59
Visser, K.                59
Visser, S.                0
Visser, S.                50
de Vries, E.              25
de Vries, J.              51
----------------------------------------
Total names: 20

**Conditions**

In [69]:
# Ask the user to enter a temperature in Celsius
temp = int(input("Enter the measured temperature in Celsius: "))

# Determine if the water is liquid
is_liquid = temp > 0 and temp < 100

# Display the result
print("Temperature measured:", temp)
print("Is water liquid at this temperature?", is_liquid)

# Alternative output
print("----------")
print(f"Temperature: {temp}°C → Liquid: {is_liquid}")

Enter the measured temperature in Celsius:  0

Temperature measured: 0
Is water liquid at this temperature? False
----------
Temperature: 0°C → Liquid: False

In [67]:
#### Using a funnction
# Ask the user to enter a temperature in Celsius
temp = int(input("Enter the measured temperature in Celsius: "))

# Function to determine if water is liquid at the given temperature
def is_liquid(temp):
    return 0 < temp < 100

# Determine and display the result
print("Temperature measured:", temp)
print("Is water liquid at this temperature?", is_liquid(temp))
# Alternative output
print("----------")
print(f"Temperature: {temp}°C → Liquid: {is_liquid(temp)}")

Enter the measured temperature in Celsius:  2

Temperature measured: 2
Is water liquid at this temperature? True
----------
Temperature: 2°C → Liquid: True

**Loops**

In [128]:
#### Using a list, series, table or file
temperatures = [-200, -2, 0, -10, -1, 0, 1, 10, 100, 1000]

# Functions to determine the state of water
def is_solid(temp):
    return temp <= 0

def is_liquid(temp):
    return 0 < temp < 100

def is_gas(temp):
    return temp >= 100

# Output the state for each temperature
for t in temperatures:
    print(f"Temperature: {t}°C → Solid: {is_solid(t)}, Liquid: {is_liquid(t)}, Gas: {is_gas(t)}")

Temperature: -200°C → Solid: True, Liquid: False, Gas: False
Temperature: -2°C → Solid: True, Liquid: False, Gas: False
Temperature: 0°C → Solid: True, Liquid: False, Gas: False
Temperature: -10°C → Solid: True, Liquid: False, Gas: False
Temperature: -1°C → Solid: True, Liquid: False, Gas: False
Temperature: 0°C → Solid: True, Liquid: False, Gas: False
Temperature: 1°C → Solid: False, Liquid: True, Gas: False
Temperature: 10°C → Solid: False, Liquid: True, Gas: False
Temperature: 100°C → Solid: False, Liquid: False, Gas: True
Temperature: 1000°C → Solid: False, Liquid: False, Gas: True

**Lists**

In [147]:
## List of temperatures
temperatures = [-200, -2, 0, -10, -1, 0, 1, 10, 100, 1000]
t = int(input("Which temperature to output?"))
if t in range(len(temperatures)):
    print(temperatures[t])
else:
    print("Not in range")

Which temperature to output? -1

Not in range

**Creating and Reading a File of Measurements**

In [110]:
import csv

# List of temperatures
temperatures = [-200, -10, -1, 0, 1, 10, 100, 1000]

# File name for the output CSV
filename = "temperature_measurements.csv"

# Open the CSV file for writing
with open(filename, mode="w", newline="") as file:
    writer = csv.writer(file)
    
    # Write the header
    writer.writerow(["Measurement_Code", "Temperature_C"])
    
    # Write each measurement
    for i, temp in enumerate(temperatures, start=1):
        code = f"measurement_{i}"
        writer.writerow([code, temp])

print(f"CSV file '{filename}' has been created successfully.")

CSV file 'temperature_measurements.csv' has been created successfully.

In [149]:
import csv

# Function to determine if water is liquid
def is_liquid(temp):
    return 0 < temp < 100

# File name of the CSV to read
filename = "temperature_measurements.csv"

# Open the CSV file for reading
with open(filename, mode="r") as file:
    reader = csv.DictReader(file)
    
    print(f"{'Measurement':<20} {'Temp (°C)':<12} {'Is Liquid':<10}")
    print("-" * 45)
    
    for row in reader:
        code = row["Measurement_Code"]
        temp = float(row["Temperature_C"])
        liquid = is_liquid(temp)
        print(f"{code:<20} {temp:<12} {str(liquid):<10}")

Measurement          Temp (°C)    Is Liquid
---------------------------------------------
measurement_1        -200.0       False
measurement_2        -10.0        False
measurement_3        -1.0         False
measurement_4        0.0          False
measurement_5        1.0          True
measurement_6        10.0         True
measurement_7        100.0        False
measurement_8        1000.0       False

**Formatted Output: f-string**

In Python formatted string literals (f-strings) can produce nicely aligned tabular output. 

**value** → the thing to print (like 'Measurement')

: → starts the formatting spec

< → left-align the text

width → total number of characters the field should occupy

**Leap Years**

- A year not divisible by 4 is not a leap year
- A year divisible by 4 but not by 100 is a leap year
- A year divisible by 100 but not by 400 is not a leap year
- A year  divisible by 400 is a leap year

In [155]:
year = int(input("What year do you want ot check? "))

if year % 4 != 0:
    print(f"{year} is NOT a leap year (not divisible by 4)")
elif year % 100 != 0:
    print(f"{year} IS a leap year (divisible by 4 but not by 100)")
elif year % 400 != 0:
    print(f"{year} is NOT a leap year (divisible by 100 but not by 400)")
else:
    print(f"{year} IS a leap year (divisible by 400)")

What year do you want ot check?  1000

1000 is NOT a leap year (divisible by 100 but not by 400)

In [157]:
years = [1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 2100, 2200]

for year in years:
    if year % 4 != 0:
        print(f"{year} is NOT a leap year (not divisible by 4)")
    elif year % 100 != 0:
        print(f"{year} IS a leap year (divisible by 4 but not by 100)")
    elif year % 400 != 0:
        print(f"{year} is NOT a leap year (divisible by 100 but not by 400)")
    else:
        print(f"{year} IS a leap year (divisible by 400)")

1000 is NOT a leap year (divisible by 100 but not by 400)
1100 is NOT a leap year (divisible by 100 but not by 400)
1200 IS a leap year (divisible by 400)
1300 is NOT a leap year (divisible by 100 but not by 400)
1400 is NOT a leap year (divisible by 100 but not by 400)
1500 is NOT a leap year (divisible by 100 but not by 400)
1600 IS a leap year (divisible by 400)
1700 is NOT a leap year (divisible by 100 but not by 400)
1800 is NOT a leap year (divisible by 100 but not by 400)
1900 is NOT a leap year (divisible by 100 but not by 400)
2000 IS a leap year (divisible by 400)
2100 is NOT a leap year (divisible by 100 but not by 400)
2200 is NOT a leap year (divisible by 100 but not by 400)