# Python Essentials Prep 3-4 juni

- Here are some tips who to work with script examples from the online course in order to master them.
- Preparing for the exam means that you have experimented with every key example from the course.

Let's focus on examples directly from the course.

## Outputs

In [24]:
print("fish", "chips", sep="&")
print("Procter", "Gamble", sep="&")
print("Johnson", "Johnson", sep="&")

fish&chips
Procter&Gamble
Johnson&Johnson

In [442]:
print("fish", "chips", sep=" & ", end=" ")
print("Procter", "Gamble", sep=" & ", end=" ")
print("Johnson", "Johnson", sep=" & ", end=" ")

fish & chips Procter & Gamble Johnson & Johnson

In [154]:
print("fish", "chips", sep=" and ", end="or ")
print("Procter", "Gamble", sep=" and ", end=" or ")
print("Johnson", "Johnson", sep=" and ", end=" or ")

fish and chipsor Procter and Gamble or Johnson and Johnson or

In [156]:
word = "Python"
for letter in word:
    print(letter, end="*")

P*y*t*h*o*n*

In [190]:
# Not in  the course but similar
text = "Python is powerful"
for letter in text:
    if letter == " ":
        break  # Stop when the first space is found
    print(letter)    
for letter in text:
    if letter == " ":
        break  # Stop when the first space is found
    print(letter, end=" ")

P
y
t
h
o
n
P y t h o n

## Operators

In [446]:
x = 1 // 2 * 3    # Both // and * have the same precedence, and are evaluated left to right
print(x)

0

In [444]:
x = 2 // 2 * 3    # Both // and * have the same precedence, and are evaluated left to right
print(x)

3

In [734]:
# Multiple assignment is evaluated in parallel (right-hand side is evaluated first).
# You can reuse variables on both sides safely in Python.
x = 1
y = 2
x, y, z = x, x, y
z, y, z = x, y, z

print(x, y, z)

1 1 2

In [448]:
x = 11
y = 4
 
x = x % y    # x = 11 % 4 result: 3
x = x % y    # x = 3 % 4  result: 3   # result stays 3
y = y % x    # y = 4 % 3  result: 1
 
print(y)

1

In [450]:
y = 2 + 3 * 5
# Multiplication (*) has higher precedence than addition (+)
# So evaluate 3 * 5 first → 15
# Then add 2 + 15 → 17
print(y)

17

**What Does PEMDAS Stand For?**

Standard order of operations

- **P**	Parentheses	(2 + 3) * 4
- **E**	Exponents (powers)	2 ** 3 → 8
- **MD**	Multiplication and Division (left to right)	6 / 2 * 3 → 9.0
- **AS**	Addition and Subtraction (left to right)

In [56]:
x = 1 / 2 + 3 // 3 + 4 ** 2
# standard order of operations (PEMDAS):
# ** → exponentiation
# / and // → division and floor division (same precedence, left to right)
# + → addition
print(x)

17.5

In [5]:
a = 6
b = 3
a /= 2 * b
# a = a / (2 * b)
print(a)

1.0

In [459]:
x = 0
x = float(x)                           
# x becomes a float: 0.0
y = 3 * x**3 - 2 * x**2 + 3 * x - 1
# This code evaluates a cubic polynomial, a polynomial of degree 3, meaning the highest exponent of the variable is 3
# The final value is a float, even though the result looks like a whole number.

print("y =", y)

y = -1.0

In [461]:
x = 1
x = float(x)
y = 3 * x**3 - 2 * x**2 + 3 * x - 1
print("y =", y)

y = 3.0

In [463]:
x = -1
x = float(x)
y = 3 * x**3 - 2 * x**2 + 3 * x - 1
print("y =", y)

y = -9.0

In [465]:
z = 10
y = 0
x = y < z and z > y or y > z and z < y 
#  (y < z and z > y) or (y > z and z < y)
print(x)

True

## Conditions

In [58]:
x = 10
 
if x == 10: # True
    print("x == 10")
 
if x > 15: # False
    print("x > 15")
 
elif x > 10: # False
    print("x > 10")
 
elif x > 5: # True
    print("x > 5")
 
else:
    print("else will not be executed")

x == 10
x > 5

In [60]:
# nested conditions
x = 10
 
if x > 5: # True
    if x == 6: # False
        print("nested: x == 6")
    elif x == 10: # True
        print("nested: x == 10")
    else:
        print("nested: else")
else:
    print("else")

nested: x == 10

In [62]:
x, y, z = 5, 10, 8
 
print(x > z)
print((y - 5) == x)

False
True

In [66]:
x = 1
y = 1.0
z = "1"
 
if x == y:
    print("one")
if y == int(z):
    print("two")
elif x == y:
    print("three")
else:
    print("four")

one
two

## Looping

In [467]:
# How many stars (*) will the following snippet send to the console?
i = 0
while i <= 3 :
    i += 2
    print("*")

*
*

In [469]:
# How many stars (*) will the following snippet send to the console?
i = 0
while i <= 5 :
    i += 1
    if i % 2 == 0:
      break
    print("*")

*

In [471]:
# How many hashes (#) will the following snippet send to the console?
for i in range(1):
    print("#")
else:
    print("#")  ## a for...else block executes the else after the loop finishes normally

#
#

In [392]:
var = 0
while var < 6:
    var += 1
    if var % 2 == 0:
        continue    # skips printing
    print("#")

#
#
#

In [132]:
i = 1
while i < 5:
    print(i)
    i += 1
else:
    print("else:", i)

1
2
3
4
else: 5

In [138]:
for i in range(5):
    print(i)
else:
    print("else:", i)

0
1
2
3
4
else: 4

In [198]:
for i in range(3):
    print(i, end=" ")  # Outputs: 0 1 2

0 1 2

In [196]:
for i in range(6, 1, -2):
    print(i, end=" ")  # Outputs: 6, 4, 2

6 4 2

In [218]:
n = range(4)
 
for num in n:
    print(num - 1)
else:
    print(num)

-1
0
1
2
3

In [222]:
for i in range(0, 6, 3):
    print(i)

0
3

In [146]:
i = 111
for i in range(100, 111):
    print(i)
else:
    print("else:", i)

100
101
102
103
104
105
106
107
108
109
110
else: 110

In [148]:
counter = 5
while counter > 2:
    print(counter)
    counter -= 1

5
4
3

In [473]:
counter = 5
while counter != 0:
    print("Inside loop:", counter)
    counter -= 1
print("Outside loop:", counter)

Inside loop: 5
Inside loop: 4
Inside loop: 3
Inside loop: 2
Inside loop: 1
Outside loop: 0

In [475]:
counter = 5
while counter:
    print("Inside loop:", counter)
    counter -= 1
print("Outside loop:", counter)

Inside loop: 5
Inside loop: 4
Inside loop: 3
Inside loop: 2
Inside loop: 1
Outside loop: 0

In [72]:
i = 0
while i < 10:
    print("Looping: ", i)
    i += 1

Looping:  0
Looping:  1
Looping:  2
Looping:  3
Looping:  4
Looping:  5
Looping:  6
Looping:  7
Looping:  8
Looping:  9

In [76]:
for i in range(10):
    print("Looping: ", i)
    pass # <= placeholder statement. It does nothing and is used when a statement is syntactically required but no action is needed.

Looping:  0
Looping:  1
Looping:  2
Looping:  3
Looping:  4
Looping:  5
Looping:  6
Looping:  7
Looping:  8
Looping:  9

In [477]:
for i in range(2, 8):
    print("The value of i is currently:", i)

The value of i is currently: 2
The value of i is currently: 3
The value of i is currently: 4
The value of i is currently: 5
The value of i is currently: 6
The value of i is currently: 7

In [479]:
for i in range(2, 8, 3):
    print("The value of i is currently:", i)

The value of i is currently: 2
The value of i is currently: 5

In [84]:
for i in range(1, 1): # <= Start at 1 and go up to but not including 1
    print("The value of i is currently:", i)

In [481]:
for i in range(2, 1): # <= Start at 2 and go up to but not including 1
    print("The value of i is currently:", i)

In [483]:
for i in range(-2, 1): # <= Start at -2 and go up to but not including 1
    print("The value of i is currently:", i)

The value of i is currently: -2
The value of i is currently: -1
The value of i is currently: 0

In [487]:
power = 1
for expo in range(8):
    print("2 to the power of", expo, "is", power)
    power *= 2

2 to the power of 0 is 1
2 to the power of 1 is 2
2 to the power of 2 is 4
2 to the power of 3 is 8
2 to the power of 4 is 16
2 to the power of 5 is 32
2 to the power of 6 is 64
2 to the power of 7 is 128

In [489]:
for i in range(1, 10):
    if i % 2 == 0:
        print(i)

2
4
6
8

In [495]:
# break - example

print("The break instruction:")
for i in range(1, 6):
    if i == 3:
        break    # The break statement exits the loop immediately when i == 3
    print("Inside loop:", i)
print("Outside loop")

The break instruction:
Inside loop: 1
Inside loop: 2
Outside loop

In [499]:
# continue - example

print("\nThe continue instruction:")
for i in range(1, 6):
    if i == 3:
        continue # Skips the rest of the loop body for that iteration
    print("Inside loop:", i)
print("Outside loop")

The continue instruction:
Inside loop: 1
Inside loop: 2
Inside loop: 4
Inside loop: 5
Outside loop

In [505]:
# continue - example

print("\nThe continue instruction:")
for i in range(1, 6):
    if i == 3:
        pass # Does nothing, the loop continues normally
    print("Inside loop:", i)
print("Outside loop")

The continue instruction:
Inside loop: 1
Inside loop: 2
Inside loop: 3
Inside loop: 4
Inside loop: 5
Outside loop

In [507]:
# Not from the course, but similar
print("Odd numbers between 1 and 10:")

for i in range(1, 11):
    if i % 2 == 0:
        continue  # Skip even numbers
    print(i)

print("Done.")

Odd numbers between 1 and 10:
1
3
5
7
9
Done.

In [509]:
# Not from the course, but similar
print("Counting up to 10, but stop at 5:")

for i in range(1, 11):
    if i == 5:
        print("Stopping the loop at", i)
        break  # Exit the loop completely
    print("Current number:", i)

print("Loop finished.")

Counting up to 10, but stop at 5:
Current number: 1
Current number: 2
Current number: 3
Current number: 4
Stopping the loop at 5
Loop finished.

**Influencing loops: continue vs break vs pass**

- **continue**
    - Skips the rest of the current iteration
    - When you want to ignore specific values
- **break**
    - Exits the entire loop early
    -  When a condition is met to stop looping
- **pass**
    - Does nothing, placeholder
    - Used to write code that runs later

In [200]:
for ch in "john.smith@pythoninstitute.org":
    if ch == "@":
        break
    print(ch, end="")

john.smith

In [202]:
# Similar example,not in the course
email = "john.smith@pythoninstitute.org"

# Split into local part and domain
local_part, domain_full = email.split("@")

# Split domain into name and top-level domain
domain_name, tld = domain_full.rsplit(".", 1)

# Display the results
print("Username:", local_part)
print("Domain name:", domain_name)
print("Top-level domain:", tld)

Username: john.smith
Domain name: pythoninstitute
Top-level domain: org

In [204]:
for digit in "0165031806510":
    if digit == "0":
        print("x", end="")
        continue
    print(digit, end="")

x165x318x651x

In [216]:
# Similar example
for digit in "320165031806510":
    if digit == "0":
        print("#", end="")
        continue
    print(digit, end="")

32#165#318#651#

In [511]:
var = 1
print(var > 0)              # var > 0 → 1 > 0 → True
print(not (var <= 0))       # First evaluate var <= 0 → 1 <= 0 → False ; Then apply not → not False → True

True
True

## True & False

In [513]:
var = 1
print(var != 0)              # var != 0 means "var is not equal to 0" ; 1 != 0 → True
print(not (var == 0))        # var == 0 → 1 == 0 → False ; not False → True

True
True

In [515]:
# Binary left shift and binary right shift
var = 256                    # 256 = 0b1_0000_0000  (just a 1 followed by 8 zeros)
var_right = var >> 1         # bitwise right shift: Shifts all bits one place to the right  ; Equivalent to integer division by 2
var_left = var << 2          # bitwise left shift:  Shifts all bits two places to the left  ; Equivalent to multiplying by 4 (because 2**2 = 4)
print(var, var_left, var_right)

256 1024 128

In [396]:
var = 1
while var < 10:
    print("#")
    var = var << 1    # var << 1 shifts the bits of var left by 1 position (same as multiplying by 2)

#
#
#
#

In [594]:
# Logical operators
x = True
y = False

print(x and y)   # Logical AND
print(x or y)    # Logical OR
print(not x)     # Logical NOT

False
True
False

## Logical vs. bit operations

In [266]:
# Bbased on the course, but different example
# Use Case: User Permissions with Bitwise Operators

READ    = 1 << 0  # 0001
WRITE   = 1 << 1  # 0010
EXECUTE = 1 << 2  # 0100
print(READ)
print(WRITE)
print(EXECUTE)

1
2
4

In [284]:
x = 1
y = 0

z = ((x == y) and (x == y)) or not(x == y)

    # x == y                      1 == 0 → False
    # ((x == y) and (x == y))     False and False → False
    # not(x == y)                 not(False) → True

print(not(z))

False

In [402]:
# Bit Operations
a = 1        # binary: 0001
b = 0        # binary: 0000

c = a & b    # AND: 1 & 0 = 0
d = a | b    # OR:  1 | 0 = 1
e = a ^ b    # XOR: 1 ^ 0 = 1

print(c + d + e)

2

In [276]:
# Bit Operations
x = 4   # Binary: 0100
y = 1   # Binary: 0001
 
a = x & y    # Bitwise AND: 0100 & 0001 → 0000 → 0

b = x | y    # Bitwise OR: 0100 | 0001 → 0101 → 5

c = ~x       # tricky! Bitwise NOT: flips all the bits of x
             # x = 4 → binary: 0000 0100
             # ~x = bitwise NOT = 1111 1011 in 2’s complement (for signed integers)
             # This equals -5 in Python (because Python uses signed integers)

d = x ^ 5    # Bitwise XOR: 0100 ^ 0101 → 0001 → 1
e = x >> 2   # Right shift: 0100 becomes 0001 → 1
f = x << 2   # Left shift: 0100 becomes 10000 → 16
 
print(a, b, c, d, e, f)

0 5 -5 1 1 16

## Lists

In [412]:
vals = [0, 1, 2]
vals[0], vals[2] = vals[2], vals[0]
# This is a simultaneous swap in Pytho ; It swaps the first and last elements of the list.
print(vals)

[2, 1, 0]

In [420]:
nums = [1, 2, 3]
print(nums)
vals = nums[-1:-2]
print(vals)
# Start at index -1, which is the last element: 3
# Stop before index -2, which is the element 2
# BUT: the default step is +1 (left-to-right)
# Since -1 is after -2, and we're going left to right, Python returns an empty list

[1, 2, 3]
[]

In [424]:
my_list = [i for i in range(-1, 2)]         # Remark: -1 is a number, not an index in this example
print(my_list)

[-1, 0, 1]

In [404]:
my_list = [3, 1, -2]
print(my_list[my_list[-1]])                 # my_list[my_list[-1]] → my_list[-2]

1

In [408]:
my_list = [1, 2, 3, 4]
print(my_list[-3:-2])
#" Start at index -3 (value 2)
# Stop before index -2 (value 3)
# So the result is a list containing only [2]

[2]

In [286]:
numbers = [10, 5, 7, 2, 1]
print("Original list contents:", numbers)    # Printing original list contents.
 
numbers[0] = 111
print("New list contents: ", numbers)        # Current list contents.

Original list contents: [10, 5, 7, 2, 1]
New list contents:  [111, 5, 7, 2, 1]

In [288]:
numbers = [10, 5, 7, 2, 1]
print("Original list contents:", numbers)    # Printing original list contents.

numbers[0] = 111
print("\nPrevious list contents:", numbers)  # Printing previous list contents.

numbers[1] = numbers[4]                      # Copying value of the fifth element to the second.
print("Previous list contents:", numbers)    # Printing previous list contents.

print("\nList length:", len(numbers))        # Printing the list's length.

Original list contents: [10, 5, 7, 2, 1]

Previous list contents: [111, 5, 7, 2, 1]
Previous list contents: [111, 1, 7, 2, 1]

List length: 5

In [290]:
numbers = [10, 5, 7, 2, 1]
print("Original list content:", numbers)     # Printing original list content.

numbers[0] = 111
print("\nPrevious list content:", numbers)   # Printing previous list content.

numbers[1] = numbers[4]                      # Copying value of the fifth element to the second.
print("Previous list content:", numbers)     # Printing previous list content.

print("\nList's length:", len(numbers))      # Printing previous list length.

###

del numbers[1]                               # Removing the second element from the list.
print("New list's length:", len(numbers))    # Printing new list length.
print("\nNew list content:", numbers)        # Printing current list content.

###

Original list content: [10, 5, 7, 2, 1]

Previous list content: [111, 5, 7, 2, 1]
Previous list content: [111, 1, 7, 2, 1]

List's length: 5
New list's length: 4

New list content: [111, 7, 2, 1]

In [292]:
numbers = [111, 7, 2, 1]
print(numbers[-1])

1

In [294]:
numbers = [111, 7, 2, 1]
print(numbers[-2])

2

In [298]:
numbers = [111, 7, 2, 1]
print(len(numbers))
print(numbers)

###

numbers.append(4)
print(len(numbers))
print(numbers)

###

numbers.insert(0, 222)
print(len(numbers))
print(numbers)

#

4
[111, 7, 2, 1]
5
[111, 7, 2, 1, 4]
6
[222, 111, 7, 2, 1, 4]

In [300]:
my_list = []  # Creating an empty list.

for i in range(5):
    my_list.append(i + 1)

print(my_list)

[1, 2, 3, 4, 5]

In [302]:
my_list = []  # Creating an empty list.
 
for i in range(5):
    my_list.insert(0, i + 1)

print(my_list)

[5, 4, 3, 2, 1]

In [306]:
my_list = [10, 1, 8, 3, 5]
total = 0

for i in range(len(my_list)):
    total += my_list[i]

print(total)

27

In [308]:
my_list = [10, 1, 8, 3, 5]
total = 0
 
for i in my_list:
    total += i
 
print(total)

27

In [310]:
my_list = [10, 1, 8, 3, 5]
 
my_list[0], my_list[4] = my_list[4], my_list[0]      # Swaps the first and last elements
my_list[1], my_list[3] = my_list[3], my_list[1]      # Swaps other elements
 
print(my_list)

[5, 3, 8, 1, 10]

In [312]:
my_list = ["white", "purple", "blue", "yellow", "green"]
 
for color in my_list:
    print(color)

white
purple
blue
yellow
green

In [318]:
my_list = ["white", "purple", "blue", "yellow", "green"]
color = my_list[1] 
print(color)
print(color[1])

purple
u

In [320]:
lst = [1, 2, 3, 4, 5]
lst.insert(1, 6)
del lst[0]
lst.append(1)
 
print(lst)

[6, 2, 3, 4, 5, 1]

In [322]:
lst = [1, 2, 3, 4, 5]
lst_2 = []
add = 0
 
for number in lst:
    add += number
    lst_2.append(add)
 
print(lst_2)

[1, 3, 6, 10, 15]

In [324]:
lst = [1, [2, 3], 4]
print(lst[1])
print(len(lst))

[2, 3]
3

In [758]:
# nested list comprehension that builds a 3×3 matrix
matrix = [[x for x in range(3)] for y in range(3)]
print(matrix)

count = 0
for row in matrix:
    for element in row:
        if element % 2 != 0:    # Select odd numbers
            count += 1          # Count odd numbers
print(count)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]
3

## Sorting Lists

In [326]:
lst = ["D", "F", "A", "Z"]
lst.sort()
 
print(lst)

['A', 'D', 'F', 'Z']

In [328]:
a = 3
b = 1
c = 2
 
lst = [a, c, b]
lst.sort()
 
print(lst)

[1, 2, 3]

In [330]:
a = "A"
b = "B"
c = "C"
d = " "
 
lst = [a, b, c, d]
lst.reverse()
 
print(lst)

[' ', 'C', 'B', 'A']

## Slicing

In [738]:
inventory = ['apple', 'banana', 'cherry']
backup_inventory = inventory
del backup_inventory[:]
print(backup_inventory)

[]

In [336]:
# slices
list_1 = [1]               # list_1 contains [1]
list_2 = list_1[:]         # list_2 is a **shallow copy** of list_1
list_1[0] = 2              # we change the first element of list_1
print(list_2)              # what’s in list_2? => the same as in the original list_1

[1]

In [340]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[1:3]    # Start at index 1 (which is 8); Go up to, but not including index 3 (which is 4)
print(new_list)

[8, 6]

In [517]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[1:-1]
# Start at index 1 → value 8
# Stop before index -1 → value 2
# So you include indexes: 1, 2, and 3
print(new_list)

[8, 6, 4]

In [346]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[-1:1]
# Since the start index is after the stop index and no step is given (defaults to +1), Python can’t go backward — so the slice is empty.
print(new_list)

[]

In [519]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[:3]         # slice from the start of the list up to (but not including) index 3
print(new_list)

[10, 8, 6]

In [352]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[3:]
print(new_list)

[4, 2]

In [356]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[:]          # The syntax [:] means: "Take a slice starting from the beginning to the end of the list."
print(new_list)

[10, 8, 6, 4, 2]

In [521]:
my_list = [10, 8, 6, 4, 2]
del my_list[1:3]               # Start at index 1 → value 8 ; Stop before index 3 → so deelte until index 2 (value 6)
print(my_list)

[10, 4, 2]

In [364]:
my_list = [10, 8, 6, 4, 2]
del my_list[:]                 # all elements
print(my_list)

[]

## List operations

In [366]:
my_list = [0, 3, 12, 8, 2]

print(5 in my_list)
print(5 not in my_list)
print(12 in my_list)

False
True
True

In [523]:
my_list = [17, 3, 11, 5, 1, 9, 7, 15, 13]
largest = my_list[0]

# The code finds the maximum value in the list by comparing each element
for i in my_list:
    if i > largest:
        largest = i
 
print(largest)

17

Below is a **simple linear search**:

- It goes through the list one element at a time.
- Stops as soon as it finds the target.
- Efficient for small or unsorted lists.

In [372]:
# find the location of a given element inside a list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
to_find = 5
found = False
 
for i in range(len(my_list)):
    found = my_list[i] == to_find
    if found:
        break
 
if found:
    print("Element found at index", i)
else:
    print("absent")

Element found at index 4

**set intersection**
- The code counts how many numbers in bets are also in drawn.
- This is a basic form of set intersection, done manually with a loop.

In [374]:
drawn = [5, 11, 9, 42, 3, 49]
bets = [3, 7, 11, 42, 34, 49]
hits = 0
 
for number in bets:
    if number in drawn:
        hits += 1
 
print(hits)

4

**Cleaner version with real sets**
- Using set makes the code shorter and more readable.
- **&** computes the intersection (common elements).
- len(hits) gives the number of matches.
- It's also faster for large lists compared to looping with in.

In [530]:
drawn = {5, 11, 9, 42, 3, 49}
bets = {3, 7, 11, 42, 34, 49}

# Set intersection gives common elements
hits = drawn & bets

print("Matching numbers:", hits)
print("Total hits:", len(hits))

Matching numbers: {11, 49, 42, 3}
Total hits: 4

**Create a list of cube values for numbers 0 through 4 using list comprehension**
- **range(5)** generates the numbers: 0, 1, 2, 3, 4
- For each num in that range, the code computes **num ** 3**, which is the cube of that number

In [537]:
cubed = [num ** 3 for num in range(5)]
print(cubed) # outputs: [0, 1, 8, 27, 64]

[0, 1, 8, 27, 64]

**List comprehension**

- List comprehension is a compact way to create a new list by applying an expression to each item in an iterable (like a range or another list).
- It's shorter and often clearer than using a for loop.

In [747]:
values = [i for i in range(-1, -3, -1)]
print(values)

[-1, -2]

Example below:
- Outer loop: for j in range(3) → runs 3 times (for j = 0, 1, 2)
- Inner list: [3 - i for i in range(3)] → creates [3, 2, 1]

In [440]:
t = [[3-i for i in range (3)] for j in range (3)]
print("list t:", t)
s = 0
for i in range(3):
    print("looping", i)
    s += t[i][i]
    print("s:",s)
print(s)

list t: [[3, 2, 1], [3, 2, 1], [3, 2, 1]]
looping 0
s: 3
looping 1
s: 5
looping 2
s: 6
6

# 4 June

## Functions

In [544]:
def intro(a="James Bond", b="Bond"):
     print("My name is", b + ".", a + ".")
 
intro()

My name is Bond. James Bond.

In [549]:
def intro(a="James Bond", b="Bond"):
     print("My name is", b + ".", a + ".")
 
intro("Yvan Rooseleer", "Rooseleer")

My name is Rooseleer. Yvan Rooseleer.

The function below:

- Builds and returns a list of even numbers from 0 to ran - 1.
- Is useful for filtering values based on a condition.

In [4]:
def even_num_lst(ran):
    lst = []
    for num in range(ran):
        if num % 2 == 0:
            lst.append(num)
    return lst
 
print(even_num_lst(11))

[0, 2, 4, 6, 8, 10]

**The same using list comprehension**

In [6]:
def even_num_lst(ran):
    return [num for num in range(ran) if num % 2 == 0]

print(even_num_lst(11))

[0, 2, 4, 6, 8, 10]

- How do you see that both functions above return a list ?

In [562]:
def power_list(lst):
    upd_list = []
    for elem in lst:
        elem = 2 ** elem
        upd_list.append(elem)
    return upd_list
 
foo = [1, 2, 3, 4, 5, 6, 7, 8]
print(power_list(foo))

[2, 4, 8, 16, 32, 64, 128, 256]

**Cleaner version with list comprehension**

In [564]:
def power_list(lst):
    return [2 ** elem for elem in lst]

foo = [1, 2, 3, 4, 5, 6, 7, 8]
print(power_list(foo))

[2, 4, 8, 16, 32, 64, 128, 256]

In [573]:
def power_list(lst):
    return [2 ** elem for elem in lst]

foo = range(1, 9)
print(power_list(foo))

[2, 4, 8, 16, 32, 64, 128, 256]

In [575]:
def power_list(lst, base=2):
    return [base ** elem for elem in lst]

foo = range(1, 9)
print(power_list(foo))         # Uses base 2 by default
print(power_list(foo, base=3)) # Uses base 3

[2, 4, 8, 16, 32, 64, 128, 256]
[3, 9, 27, 81, 243, 729, 2187, 6561]

**Scopes**

In [580]:
a = 1  # Global variable

def fun():
    a = 2  # Local variable (only inside the function)
    print(a)

fun()
print(a)

2
1

In [586]:
a = 1

def fun():
    global a    # Inside this function, I want to use and modify the global variable a, not create a new local one.
    a = 2       # Overwrites the global a
    print(a) 

fun()
a = 3           # Manual assignment, changes the global variable a to 3
print(a)

2
3

In [590]:
# What is the difference with the previous cell?
a = 1
 
 
def fun():
    global a
    a = 2
    print(a)
 
 
a = 3
fun()
print(a)

2
2

**Recursive functions**

In [601]:
# This function will call itself forever (until a RecursionError) because there's no stopping condition — i.e., no base case.

def factorial(n):
    return n * factorial(n - 1)
 
print(factorial(4))

RecursionError: maximum recursion depth exceeded

In [603]:
def factorial(n):
    if n == 0 or n == 1:
        return 1  # base case
    else:
        return n * factorial(n - 1)

print(factorial(4))  # Output: 24

24

**Iterative alternative**

In [606]:
def factorial(n):
    result = 1
    for i in range(2, n + 1):
        result *= i
    return result

print(factorial(4))  # Output: 24

24

## Tuples

In [613]:
my_tuple = (1, 10, 100, 1000)

#print(my_tuple[0])
#print(my_tuple[-1])
#print(my_tuple[1:])
print(my_tuple[:-2])

for elem in my_tuple:
    print("Element:", elem)

(1, 10)
Element: 1
Element: 10
Element: 100
Element: 1000

In [617]:
my_tuple = (1, 10, 100)

t1 = my_tuple + (1000, 10000)     # concatenates two tuples
t2 = my_tuple * 3                 # repeats the tuple 3 times

print(len(t2))
print(t1)
print(t2)
print(10 in my_tuple)             # Checks if the value 10 is in the tuple → True
print(-10 not in my_tuple)        # Checks if -10 is not in the tuple → True

9
(1, 10, 100, 1000, 10000)
(1, 10, 100, 1, 10, 100, 1, 10, 100)
True
True

In [753]:
my_tuple = (10, 20, 30, 40, 50)
print(type(my_tuple))
my_tuple = my_tuple[-3:-1]        # Start at index -3 → value 30 ; Stop before index -1 → value 50 (excluded)
my_tuple = my_tuple[-1]           # Last element, tuple becomes an integer
print(my_tuple)
print(type(my_tuple))

<class 'tuple'>
40
<class 'int'>

In [637]:
var = 123
 
t1 = (1,)                   # a tuple with one element: 1
t2 = (2,)                   # a tuple with one element: 2
t3 = (3, 123)               # a tuple with two elements: 3 and var = 123

# t2 = (2)
# print(type(t2))
 
t1, t2, t3 = t2, t3, t1     # exchanging values
 
print(t1, t2, t3)

(2,) (3, 123) (1,)

## Dictionaries

In [663]:
en_nl_dictionary = {
    "cat": "kat",
    "dog": "hond",
    "horse": "paard"
}

print(type(en_nl_dictionary))
print(en_nl_dictionary["cat"])

<class 'dict'>
kat

In [665]:
nl_en_dictionary = {
    "kat": "cat",
    "hond": "dog",
    "paard": "horse"
}
print(type(nl_en_dictionary))
print(nl_en_dictionary["kat"])

<class 'dict'>
cat

In [689]:
user_directory = {
    "firstname": "Yvan",
    "surname": "Rooseleer",
    "location": "Brussel",
    "mobile": "+32 123 45 678",
}

# Show type of the object
print("Type of user_directory:", type(user_directory))
# Show dictionary keys
print("Keys:", user_directory.keys())
# Access and print the surname using .get()
print("Surname:", user_directory.get("surname", "Not found"))
# Access and print the first name using filter [ . . . ]
print("First name:", user_directory["firstname"])
# Print everything
print("===Everything===")
for key in user_directory.keys():
    print(key, "->", user_directory[key])

Type of user_directory: <class 'dict'>
Keys: dict_keys(['firstname', 'surname', 'location', 'mobile'])
Surname: Rooseleer
First name: Yvan
===Everything===
firstname -> Yvan
surname -> Rooseleer
location -> Brussel
mobile -> +32 123 45 678

**More Practice with dict**
- Sorting dictionaries
- Adding keys
- Deleting keys
- Transforming into Json

In [14]:
# Based on the online course, but slighlty different example
students_scores = {
    'Alice': 88,
    'Bob': 75,
    'Charlie': 95,
    'Diana': 82
}

# Sort the dictionary by keys (alphabetically)
sorted_by_name = dict(sorted(students_scores.items()))
print("Sorted by name:", sorted_by_name)

# Sort the dictionary by values (ascending) => more difficult
# lambda is a way to create a small anonymous function — that is, a function without a name
# x is each tuple, like ("Alice", 88) 
# x[1] is the score 88
# Sort using the score
sorted_by_score = dict(sorted(students_scores.items(), key=lambda x: x[1]))
print("Sorted by score:", sorted_by_score)

# Sort by score descending
sorted_by_score_desc = dict(sorted(students_scores.items(), key=lambda x: x[1], reverse=True))
print("Sorted by score (descending):", sorted_by_score_desc)

print()

# Add Eddy's score
students_scores['Eddy'] = 55
print("Updated scores:", students_scores)

# Delete Alice's score
del students_scores['Alice']
print("Updated scores:", students_scores)

Sorted by name: {'Alice': 88, 'Bob': 75, 'Charlie': 95, 'Diana': 82}
Sorted by score: {'Bob': 75, 'Diana': 82, 'Alice': 88, 'Charlie': 95}
Sorted by score (descending): {'Charlie': 95, 'Alice': 88, 'Diana': 82, 'Bob': 75}

Updated scores: {'Alice': 88, 'Bob': 75, 'Charlie': 95, 'Diana': 82, 'Eddy': 55}
Updated scores: {'Bob': 75, 'Charlie': 95, 'Diana': 82, 'Eddy': 55}

In [26]:
# Transforming a dict into json

import json

students_scores = {
    'Bob': 75,
    'Charlie': 95,
    'Diana': 82,
    'Eddy': 55
}

# Convert to JSON
students_scores_string = json.dumps(students_scores)   # dumps means: "dump as a string"

print("Check out the differences ...")
print(type(students_scores))
print(students_scores)
print(type(students_scores_string))
print(students_scores_string)

Check out the differences ...
<class 'dict'>
{'Bob': 75, 'Charlie': 95, 'Diana': 82, 'Eddy': 55}
<class 'str'>
{"Bob": 75, "Charlie": 95, "Diana": 82, "Eddy": 55}

## Exceptions

In [701]:
# default exception 
try:
    value = int(input('Enter a natural number: '))
    print('The reciprocal of', value, 'is', 1/value)        
except:
    print('I do not know what to do.')
# Using a bare except: is not recommended for production code. It's better to catch specific exceptions

Enter a natural number:  10

The reciprocal of 10 is 0.1

In [703]:
# More than one exception
try:
    value = int(input('Enter a natural number: '))
    print('The reciprocal of', value, 'is', 1/value)        
except ValueError:
    print('I do not know what to do.')    
except ZeroDivisionError:
    print('Division by zero is not allowed in our Universe.')

Enter a natural number:  100

The reciprocal of 100 is 0.01

In [709]:
# default exception and how to use it
try:
    value = int(input('Enter a natural number: '))
    print('The reciprocal of', value, 'is', 1/value)        
except ValueError:
    print('I do not know what to do.')    
except ZeroDivisionError:
    print('Division by zero is not allowed in our Universe.')    
except:
    print('Something strange has happened here... Sorry!')
# The default except branch must be the last except branch

Enter a natural number:  0

Division by zero is not allowed in our Universe.

In [730]:
my_numbers = [10, 20, 30, 40, 50]

for i in range(4):
    my_numbers.insert(i, my_numbers[-1])

print(my_numbers)

[50, 50, 50, 50, 10, 20, 30, 40, 50]