# Praktijkvoorbeelden 3 juni

Here are some tips who to work with script examples from the online course in order to master them.
Preparing for the exam means that you have experimented with every key example from the course.

## Outputs

In [28]:
print("fish", "chips", sep=" & ")
print("Procter", "Gamble", sep="&")
print("Johnson", "Johnson", sep="@")

fish & chips
Procter&Gamble
Johnson@Johnson

In [34]:
print("fish", "chips", sep=" and ", end=" or ")
print("Procter", "Gamble", sep=" and ", end=" or ")
print("Johnson", "Johnson", sep=" and ")

fish and chips or Procter and Gamble or Johnson and Johnson

In [42]:
word = "Python"
print(len(word))
for letter in word:
    print(letter, end="*")

6
P*y*t*h*o*n*

In [52]:
# Not in  the course but similar
text = "Python is powerful"
for letter in text:
    if letter == " ":
        break  # Stop when the first space is found
    print(letter)    
for letter in text:
    if letter == " ":
        break  # Stop when the first space is found
    print(letter, end=" ")

P
y
t
h
o
n
P y t h o n

## Operators

In [66]:
x = 2 // 2 * 3    # Both // and * have the same precedence, and are evaluated left to right
print(2 // 2)
print(x)

1
3

In [68]:
# Multiple assignment is evaluated in parallel (right-hand side is evaluated first).
# You can reuse variables on both sides safely in Python.
x = 1
y = 2
x, y, z = x, x, y
z, y, z = x, y, z

print(x, y, z)

1 1 2

In [72]:
x = 11
y = 4
 
x = x % y    # x = 11 % 4 result: 3
x = x % y    # x = 3 % 4  result: 3   # result stays 3
y = y % x    # y = 4 % 3  result: 1
 
print(y)

1

In [82]:
a = 6
b = 3
a /= 2 * b # => solve this
print(a)

1.0

In [98]:
x = 0
x = float(x)                           
# x becomes a float: 0.0
y = 3 * x**3 - 2 * x**2 + 3 * x - 1
# This code evaluates a cubic polynomial, a polynomial of degree 3, meaning the highest exponent of the variable is 3
# The final value is a float, even though the result looks like a whole number.

print("y =", y)

y = -1.0

**What Does PEMDAS Stand For?**

Standard order of operations

- P Parentheses (2 + 3) * 4
- E Exponents (powers) 2 ** 3 → 8
- MD Multiplication and Division (left to right) 6 / 2 * 3 → 9.0
- AS Addition and Subtraction (left to right)

## Conditions

In [114]:
x = 10
 
if x == 10: # True
    print("x == 10")
 
if x > 15: # False
    print("x > 15")
 
elif x > 10: # False
    print("x > 10")
 
elif x > 5: # True
    print("x > 5")
 
else:
    print("else will not be executed")

x == 10
x > 5

In [122]:
# nested conditions
x = 10
 
if x > 5: # True
    if x == 6: # False
        print("nested: x == 6")
    elif x == 10: # True
        print("nested: x == 10")
    else:
        print("nested: else")
else:
    print("else")

nested: x == 10

## Looping

In [132]:
# How many stars (*) will the following snippet send to the console?
i = 3
while i <= 10 :
    i += 2 # => rewrite this
    print("*")

*
*
*
*

In [146]:
# How many stars (*) will the following snippet send to the console?
i = 0
while i <= 10 :
    i += 1  # => rewrite this
    if i % 2 == 0:
      break
    print(i, "*")

1 *

In [142]:
var = 0
while var < 6:
    var += 1
    if var % 2 == 0:
        continue    # skips printing
    print(var , "#")

1 #
3 #
5 #

In [148]:
for i in range(5):
    print(i)
else:
    print("else:", i)

0
1
2
3
4
else: 4

In [158]:
for i in range(3):
    print(i, end=" ")  # Outputs: 0 1 2
    #print(i)  # Outputs: 0 1 2

0 1 2

In [166]:
for i in range(20, 2, -5):
    print(i, end=" ")  # Outputs: 6, 4, 2

20 15 10 5

In [178]:
n = range(4,0,-1)
print(n)
for num in n:
    print("in n:", num - 1)
else:
    print("else:", num)

range(4, 0, -1)
in n: 3
in n: 2
in n: 1
in n: 0
else: 1

In [190]:
for i in range(20, 0, -5):
    print(i)

20
15
10
5

In [192]:
i = 111
for i in range(100, 111):
    print(i)
else:
    print("else:", i)

100
101
102
103
104
105
106
107
108
109
110
else: 110

In [198]:
for i in range(10):
    print("Looping: ", i)
    pass # <= placeholder statement. It does nothing and is used when a statement is syntactically required but no action is needed.

Looping:  0
Looping:  1
Looping:  2
Looping:  3
Looping:  4
Looping:  5
Looping:  6
Looping:  7
Looping:  8
Looping:  9

In [212]:
for i in range(1, 1): # <= Start at 1 and go up to but not including 1
    print("The value of i is currently:", i)

In [224]:
for i in range(20, -5, -5): # <= Start at -2 and go up to but not including 1
    print("The value of i is currently:", i)

The value of i is currently: 20
The value of i is currently: 15
The value of i is currently: 10
The value of i is currently: 5
The value of i is currently: 0

In [232]:
power = 1
# print(range(8))
for expo in range(21):
    print("2 to the power of", expo, "is", power)
    power *= 2

2 to the power of 0 is 1
2 to the power of 1 is 2
2 to the power of 2 is 4
2 to the power of 3 is 8
2 to the power of 4 is 16
2 to the power of 5 is 32
2 to the power of 6 is 64
2 to the power of 7 is 128
2 to the power of 8 is 256
2 to the power of 9 is 512
2 to the power of 10 is 1024
2 to the power of 11 is 2048
2 to the power of 12 is 4096
2 to the power of 13 is 8192
2 to the power of 14 is 16384
2 to the power of 15 is 32768
2 to the power of 16 is 65536
2 to the power of 17 is 131072
2 to the power of 18 is 262144
2 to the power of 19 is 524288
2 to the power of 20 is 1048576

In [234]:
# break - example

print("The break instruction:")
for i in range(1, 6): # 1 2 3 4 5
    if i == 3:
        break    # The break statement exits the loop immediately when i == 3
    print("Inside loop:", i)
print("Outside loop")

The break instruction:
Inside loop: 1
Inside loop: 2
Outside loop

In [236]:
print("\nThe continue instruction:")
for i in range(1, 6):
    if i == 3:
        continue # Skips the rest of the loop body for that iteration
    print("Inside loop:", i)
print("Outside loop")

The continue instruction:
Inside loop: 1
Inside loop: 2
Inside loop: 4
Inside loop: 5
Outside loop

**Influencing loops: continue vs break vs pass**

- **continue**
Skips the rest of the current iteration - When you want to ignore specific values
- **break**
Exits the entire loop early - When a condition is met to stop looping
- **pass**
Does nothing, placeholder - Used to write code that runs later

In [245]:
username = ""
for ch in "john.smith@pythoninstitute.org":
    if ch == "@":
        break
    username = username + ch    
    ##print(ch, end="")
print(username)

john.smith

In [247]:
for digit in "0165031806510":
    if digit == "0":
        print("x", end="")
        continue
    print(digit, end="")

x165x318x651x

## True & False

In [253]:
var = 1
print(var != 0)              # var != 0 means "var is not equal to 0" ; 1 != 0 → True
print((var == 0))
print(not (var == 0))        # var == 0 → 1 == 0 → False ; not False → True

True
False
True

In [257]:
# Binary left shift and binary right shift
var = 128                    # 128 = 0b1000_0000  (just a 1 followed by 7 zeros) "10000000" => 01000000
var_right = var >> 1         # bitwise right shift: Shifts all bits one place to the right  ; Equivalent to integer division by 2
var_left = var << 2          # bitwise left shift:  Shifts all bits two places to the left  ; Equivalent to multiplying by 4 (because 2**2 = 4)
print(var, var_left, var_right)

128 512 64

In [265]:
var = 1
while var < 1024:
    print(var, "#", sep=":")
    var = var << 1    # var << 1 shifts the bits of var left by 1 position (same as multiplying by 2)

1:#
2:#
4:#
8:#
16:#
32:#
64:#
128:#
256:#
512:#

In [267]:
var = 1024
while var > 1:
    print(var, "#", sep=":")
    var = var >> 1    # var << 1 shifts the bits of var left by 1 position (same as dividing by 2)

1024:#
512:#
256:#
128:#
64:#
32:#
16:#
8:#
4:#
2:#

In [269]:
# Logical operators
x = True
y = False

print(x and y)   # Logical AND
print(x or y)    # Logical OR
print(not x)     # Logical NOT

False
True
False

## Logical vs. bit operations

In [279]:
READ    = 1 << 0  # 0001
WRITE   = 1 << 1  # 0010
EXECUTE = 1 << 2  # 0100
print(READ)
print(WRITE)
print(EXECUTE)
print(READ+WRITE+EXECUTE)

1
2
4
7

In [281]:
x = 1
y = 0

z = ((x == y) and (x == y)) or not(x == y)

    # x == y                      1 == 0 → False
    # ((x == y) and (x == y))     False and False → False
    # not(x == y)                 not(False) → True

print(not(z))

False

In [283]:
# Bit Operations
a = 1        # binary: 0001
b = 0        # binary: 0000

c = a & b    # AND: 1 & 0 = 0
d = a | b    # OR:  1 | 0 = 1
e = a ^ b    # XOR: 1 ^ 0 = 1

print(c)
print(d)
print(e)
print(c + d + e)

0
1
1
2

In [285]:
# Bit Operations
z = 8   # Binary: 1000
x = 4   # Binary: 0100
y = 1   # Binary: 0001
 
a = x & y    # Bitwise AND: 0100 & 0001 → 0000 → 0

b = x | y    # Bitwise OR: 0100 | 0001 → 0101 → 5

c = ~x       # tricky! Bitwise NOT: flips all the bits of x
             # x = 4 → binary: 0000 0100
             # ~x = bitwise NOT = 1111 1011 in 2’s complement (for signed integers)
             # This equals -5 in Python (because Python uses signed integers)

d = x ^ 5    # Bitwise XOR: 0100 ^ 0101 → 0001 → 1
e = x >> 2   # Right shift: 0100 becomes 0001 → 1
f = x << 2   # Left shift: 0100 becomes 10000 → 16
 
print(a, b, c, d, e, f)

0 5 -5 1 1 16

## Lists

In [287]:
vals = [0, 1, 2]
vals[0], vals[2] = vals[2], vals[0]
# This is a simultaneous swap in Python ; It swaps the first and last elements of the list.
print(vals)

[2, 1, 0]

In [289]:
my_list = [1, 2, 3, 4]
print(my_list[-3:-2])
#" Start at index -3 (value 2)
# Stop before index -2 (value 3)
# So the result is a list containing only [2]

[2]

In [291]:
numbers = [10, 5, 7, 2, 1]
print("Original list contents:", numbers)    # Printing original list contents.
 
numbers[0] = 111
print("New list contents: ", numbers)        # Current list contents.

Original list contents: [10, 5, 7, 2, 1]
New list contents:  [111, 5, 7, 2, 1]

In [305]:
numbers = [111, 7, 2, 222]
print(len(numbers))
print(numbers[-1])
numbers.append(444)
print(len(numbers))
print(numbers)
print(numbers[-1])

4
222
5
[111, 7, 2, 222, 444]
444

## Sorting Lists

In [310]:
lst = ["Dave", "Fred", "Ann", "Zoe"]
lst.sort()
 
print(lst)

['Ann', 'Dave', 'Fred', 'Zoe']

In [314]:
a = "A"
b = "B"
c = "C"
d = " "
 
lst = [a, b, c, d]
lst.sort()
 
print(lst)

[' ', 'A', 'B', 'C']

## Slicing

In [316]:
inventory = ['apple', 'banana', 'cherry']
copy_inventory = inventory
del copy_inventory[:]
print(copy_inventory)

[]

In [320]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[1:4]    # Start at index 1 (which is 8); Go up to, but not including index 3 (which is 4)
print(my_list)
print(new_list)

[10, 8, 6, 4, 2]
[8, 6, 4]

In [326]:
my_list = [10, 8, 6, 4, 2, 1]
new_list = my_list[:4]         # slice from the start of the list up to (but not including) index 3
print(my_list)
print(new_list)

[10, 8, 6, 4, 2, 1]
[10, 8, 6, 4]

In [334]:
my_list = [10, 8, 6, 4, 2, 1]
new_list = my_list[2:]
print(my_list)
print(new_list)

[10, 8, 6, 4, 2, 1]
[6, 4, 2, 1]

In [336]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[:]          # The syntax [:] means: "Take a slice starting from the beginning to the end of the list."
print(my_list)
print(new_list)

[10, 8, 6, 4, 2]
[10, 8, 6, 4, 2]

In [344]:
my_list = [10, 8, 6, 4, 2, 1]
del my_list[1:4]               # Start at index 1 → value 8 ; Stop before index 3 → so deelte until index 2 (value 6)
print(my_list)

[10, 2, 1]

In [348]:
my_list = [10, 8, 6, 4, 2]
print(my_list)
del my_list[:]                 # all elements
print(my_list)

[10, 8, 6, 4, 2]
[]

## List operations

In [356]:
my_list = [222, 3, 11, 5, 1,999, 7, 15, 333]
largest = my_list[0]

# The code finds the maximum value in the list by comparing each element
for i in my_list:
    if i > largest:
        largest = i
 
print(largest)

999

In [360]:
# find the location of a given element inside a list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
to_find = 8
found = False
 
for i in range(len(my_list)):
    found = (my_list[i] == to_find)
    if found:
        break
 
if found:
    print("Element found at index", i)
else:
    print("absent")

Element found at index 7

In [362]:
drawn = [5, 11, 9, 42, 3, 49]
bets = [3, 7, 11, 42, 34, 49]
hits = 0
 
for number in bets:
    if number in drawn:
        hits += 1
 
print(hits)

4

In [364]:
drawn = {5, 11, 9, 42, 3, 49}
bets = {3, 7, 11, 42, 34, 49}

# Set intersection gives common elements
hits = drawn & bets

print("Matching numbers:", hits)
print("Total hits:", len(hits))

Matching numbers: {11, 49, 42, 3}
Total hits: 4

**List comprehension**

In [369]:
value_list = [i for i in range(-1, -3, -1)]
print(value_list)

[-1, -2]

In [381]:
value_list = [i for i in range(1, 10, 2)]
print(value_list)

[1, 3, 5, 7, 9]

In [387]:
t = [[i for i in range (3)] for j in range (3)]

#t = [[3-i for i in range (3)] for j in range (3)]

print("list t:", t)
s = 0
for i in range(3):
    print("looping", i)
    s += t[i][i]
    # s = s + t[i][i]
    print("s:",s)
print(s)

list t: [[0, 1, 2], [0, 1, 2], [0, 1, 2]]
looping 0
s: 0
looping 1
s: 1
looping 2
s: 3
3

## Functions

## Tuples

## Dictionaries

## Exceptions