# Praktijkvoorbeelden 20 mei

In [18]:
numbers = [10, 5, 7, 2, 1]
print("Aantal elementen:", len(numbers))
print("Lijst:", numbers)
del numbers[1]
print("Aantal elementen:", len(numbers))
print("Lijst:", numbers)

Aantal elementen: 5
Lijst: [10, 5, 7, 2, 1]
Aantal elementen: 4
Lijst: [10, 7, 2, 1]

In [12]:
numbers.append(111)
print("Aantal elementen:", len(numbers))
print("Lijst:", numbers)

Aantal elementen: 5
Lijst: [10, 7, 2, 1, 111]

In [28]:
numbers.sort()
print("Aantal elementen:", len(numbers))
print("Lijst:", numbers)

Aantal elementen: 7
Lijst: [1, 2, 7, 10, 222, 333, 555]

In [26]:
numbers.insert(-1, 555)
print(len(numbers))
print(numbers)

7
[1, 2, 7, 10, 333, 555, 222]

In [36]:
my_list = [1, 2, 7, 10, 222, 333, 555]
total = 0

for i in range(len(my_list)):
    print("Value: " , my_list[i])
    total = total + my_list[i]
    print("Subtotal: ", total)
    # total += my_list[i]

print(total)

Value:  1
Subtotal:  1
Value:  2
Subtotal:  3
Value:  7
Subtotal:  10
Value:  10
Subtotal:  20
Value:  222
Subtotal:  242
Value:  333
Subtotal:  575
Value:  555
Subtotal:  1130
1130

In [56]:
list_1 = [1,2,3,4,5]
list_2 = list_1[0:len(list_1)]
print(list_1)
print(list_2)
#list_1[0] = 2
#print(list_2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [58]:
my_list = [0, 3, 12, 8, 2]

print(5 in my_list)

print(5 not in my_list)

print(12 in my_list)

False
True
True

In [80]:
my_list = [17, 3, 11, 5, 1, 9000, 7, 150, 13000, 15000]
largest = my_list[0]
print(largest)

17

In [82]:
for i in range(0, len(my_list)):
    if my_list[i] > largest:
        largest = my_list[i]

print(largest)

15000

In [84]:
# List of financial transactions (positive = income, negative = expense)
fin_transactions = [10000, -150, -25, -2515, +3650, -2100, -4500]

print("Printing transaction as they occurred\n")

# Print and calculate each transaction
print("Transaction history:\n")
for transaction in fin_transactions:
    print(transaction)

Printing transaction as they occurred

Transaction history:

10000
-150
-25
-2515
3650
-2100
-4500

In [90]:
fin_transactions = [10000, -150, -25, -2515, +3650, -2100, -4500]

print("Printing transaction as they occurred, adding a transaction number\n")

transaction_index = 0

# Print and calculate each transaction
print("Transaction history:\n")
for transaction in fin_transactions:
    transaction_index = transaction_index + 1
    print(transaction_index, transaction, sep=": ")

Printing transaction as they occurred, adding a transaction number

Transaction history:

1: 10000
2: -150
3: -25
4: -2515
5: 3650
6: -2100
7: -4500

In [92]:
fin_transactions = [10000, -150, -25, -2515, +3650, -2100, -4500]
print("Transactions sorted from smallest to largest:\n")
fin_transactions.sort()
print(fin_transactions)
print()
# Display sorted transactions
for transaction in fin_transactions:
    print(f"{transaction:+} EUR")

Transactions sorted from smallest to largest:

[-4500, -2515, -2100, -150, -25, 3650, 10000]

-4500 EUR
-2515 EUR
-2100 EUR
-150 EUR
-25 EUR
+3650 EUR
+10000 EUR

In [94]:
fin_transactions = [10000, -150, -25, -2515, +3650, -2100, -4500]
print("Transactions sorted from smallest to largest:\n")
fin_transactions.sort(reverse=True)
print(fin_transactions)
print()
# Display sorted transactions
for transaction in fin_transactions:
    print(f"{transaction:+} EUR")

Transactions sorted from smallest to largest:

[10000, 3650, -25, -150, -2100, -2515, -4500]

+10000 EUR
+3650 EUR
-25 EUR
-150 EUR
-2100 EUR
-2515 EUR
-4500 EUR

In [100]:
my_team = ["Ricardo", "Raidel", "Bernice" , "Radjindra", "Winita"]
my_team.sort(reverse=False)
print(my_team)

['Bernice', 'Radjindra', 'Raidel', 'Ricardo', 'Winita']

In [104]:
my_team_2 = ["Ricardo", "Raidel", "Bernice" , "Radjindra", "Winita"]
my_team_s = sorted(my_team_2)
print(my_team_2)
print(my_team_s)

['Ricardo', 'Raidel', 'Bernice', 'Radjindra', 'Winita']
['Bernice', 'Radjindra', 'Raidel', 'Ricardo', 'Winita']

In [106]:
print(type(my_team))

<class 'list'>

In [122]:
# List of financial transactions (positive = income, negative = expense)
fin_transactions = [10000, -150, -25, -2515, +3650, -2100, -4500]

# Initialize balance
balance = 0

print("Printing and calculating each transaction:\n")

# Print and calculate each transaction
print("Transaction history:\n")
for tr in fin_transactions:
    balance = balance + tr
    print(f"{tr:+} EUR  →  Current balance: {balance} EUR")

# Final result
print("\n=> Final balance:", balance, "EUR")

Printing and calculating each transaction:

Transaction history:

+10000 EUR  →  Current balance: 10000 EUR
-150 EUR  →  Current balance: 9850 EUR
-25 EUR  →  Current balance: 9825 EUR
-2515 EUR  →  Current balance: 7310 EUR
+3650 EUR  →  Current balance: 10960 EUR
-2100 EUR  →  Current balance: 8860 EUR
-4500 EUR  →  Current balance: 4360 EUR

=> Final balance: 4360 EUR

In [5]:
from datetime import datetime

# Prepare filename with today's date
today = datetime.today().strftime('%Y-%m-%d')
print(today)
filename = f"transactions_{today}.txt"
print(filename)

2025-05-21
transactions_2025-05-21.txt

In [7]:
# Note: Run the previous cell first
# List of financial transactions (positive = income, negative = expense)
fin_transactions = [10000, -150, -25, -2515, +3650, -2100, -4500]

# Initialize balance
balance = 0

# Open file for writing
with open(filename, "w") as file:
    file.write(f"Transaction Log - {today}\n")
    file.write("_" * 60 + "\n")

    for transaction in fin_transactions:
        balance += transaction
        timestamp = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
        file.write(f"{timestamp} | {transaction:+} EUR | Balance: {balance} EUR\n")

    file.write("_" * 60 + "\n")
    file.write(f"Final balance: {balance} EUR\n")

print(f"Transactions exported to: {filename}")

Transactions exported to: transactions_2025-05-21.txt

In [9]:
#UNSAFE
from datetime import datetime

# Get today's date to match the file name
today = datetime.today().strftime('%Y-%m-%d')
filename = f"transactions_{today}.txt"

with open(filename, "r") as file:
    print(f"Displaying contents of {filename}:\n")
    contents = file.read()
    print(contents)

Displaying contents of transactions_2025-05-21.txt:

Transaction Log - 2025-05-21
____________________________________________________________
2025-05-21 14:18:06 | +10000 EUR | Balance: 10000 EUR
2025-05-21 14:18:06 | -150 EUR | Balance: 9850 EUR
2025-05-21 14:18:06 | -25 EUR | Balance: 9825 EUR
2025-05-21 14:18:06 | -2515 EUR | Balance: 7310 EUR
2025-05-21 14:18:06 | +3650 EUR | Balance: 10960 EUR
2025-05-21 14:18:06 | -2100 EUR | Balance: 8860 EUR
2025-05-21 14:18:06 | -4500 EUR | Balance: 4360 EUR
____________________________________________________________
Final balance: 4360 EUR

In [11]:
#SAFE
from datetime import datetime

# Get today's date to match the file name
today = datetime.today().strftime('%Y-%m-%d')
filename = f"transactions_{today}.txt"

try:
    with open(filename, "r") as file:
        print(f"Displaying contents of {filename}:\n")
        contents = file.read()
        print(contents)
except FileNotFoundError:
    print(f"File {filename} not found.")

Displaying contents of transactions_2025-05-21.txt:

Transaction Log - 2025-05-21
____________________________________________________________
2025-05-21 14:18:06 | +10000 EUR | Balance: 10000 EUR
2025-05-21 14:18:06 | -150 EUR | Balance: 9850 EUR
2025-05-21 14:18:06 | -25 EUR | Balance: 9825 EUR
2025-05-21 14:18:06 | -2515 EUR | Balance: 7310 EUR
2025-05-21 14:18:06 | +3650 EUR | Balance: 10960 EUR
2025-05-21 14:18:06 | -2100 EUR | Balance: 8860 EUR
2025-05-21 14:18:06 | -4500 EUR | Balance: 4360 EUR
____________________________________________________________
Final balance: 4360 EUR

In [150]:
weather_2025_1 = ['January', 10, -1, 5, 15, 11]
weather_2025_2 = ['February', 12, 0, 6, 12, 11]
weather_2025_3 = ['March', 15, 2, 8, 14, 9]
weather_2025_4 = ['April', 18, 5, 12, 10, 8]
weather_2025_5 = ['May', 22, 9, 14, 9, 8]
weather_2025_6 = ['June', 25, 13, 15, 8, 7]
weather_2025_7 = ['July', 28, 15, 18, 7, 6]
weather_2025_8 = ['August', 27, 14, 17, 8, 6]
weather_2025_9 = ['September', 23, 11, 13, 10, 7]
weather_2025_10 = ['October', 17, 7, 9, 14, 8]
weather_2025_11 = ['November', 11, 3, 6, 17, 7]
weather_2025_12 = ['December', 7, 0, 4, 18, 9]

# Display complete list of measurements for one month
print(weather_2025_12)

# Pick out a specific element
print("Maand:", weather_2025_12[0])
print("Max Temp:", weather_2025_12[1])
print("Min Temp:", weather_2025_12[2])

['December', 7, 0, 4, 18, 9]
Maand: December
Max Temp: 7
Min Temp: 0

In [172]:
# A table is a "list of lists"
weather_year_2025 = [
    ['January', 10, -1, 5, 15, 11], ['February', 12, 0, 6, 12, 11], ['March', 15, 2, 8, 14, 9], 
    ['April', 18, 5, 12, 10, 8], ['May', 22, 9, 14, 9, 8], ['June', 25, 13, 15, 8, 7], 
    ['July', 28, 15, 18, 7, 6], ['August', 27, 14, 17, 8, 6], ['September', 23, 11, 13, 10, 7], 
    ['October', 17, 7, 9, 14, 8], ['November', 11, 3, 6, 17, 7], ['December', 7, 0, 4, 18, 9]
]

# Print data of all months
gemiddeld = 0
totaal = 0
for maand in weather_year_2025:
    print(maand[0], maand[1], sep=": ")
    totaal = totaal + maand[1]
gemiddeld = totaal // 12
print()
print("Gemiddeld", gemiddeld, sep=": ")

January: 10
February: 12
March: 15
April: 18
May: 22
June: 25
July: 28
August: 27
September: 23
October: 17
November: 11
December: 7

Gemiddeld: 17

In [174]:
# Note: Run the previous cell first
# FIRST CELL
row_selected = 0
col_selected = 0
cell_value = weather_year_2025[row_selected][col_selected]
print(cell_value)

January

In [182]:
# Note: Run the previous cell first
# NEXT ROW
row_selected = 11
col_selected = -1
cell_value = weather_year_2025[row_selected][col_selected]
print(cell_value)

9

In [184]:
# Note: Run the previous cell first
for row_index in range(len(weather_year_2025)):
    row = weather_year_2025[row_index]
    for col_index in range(len(row)):
        value = row[col_index]
        print(f"Cell[{row_index}][{col_index}] = {value}")

Cell[0][0] = January
Cell[0][1] = 10
Cell[0][2] = -1
Cell[0][3] = 5
Cell[0][4] = 15
Cell[0][5] = 11
Cell[1][0] = February
Cell[1][1] = 12
Cell[1][2] = 0
Cell[1][3] = 6
Cell[1][4] = 12
Cell[1][5] = 11
Cell[2][0] = March
Cell[2][1] = 15
Cell[2][2] = 2
Cell[2][3] = 8
Cell[2][4] = 14
Cell[2][5] = 9
Cell[3][0] = April
Cell[3][1] = 18
Cell[3][2] = 5
Cell[3][3] = 12
Cell[3][4] = 10
Cell[3][5] = 8
Cell[4][0] = May
Cell[4][1] = 22
Cell[4][2] = 9
Cell[4][3] = 14
Cell[4][4] = 9
Cell[4][5] = 8
Cell[5][0] = June
Cell[5][1] = 25
Cell[5][2] = 13
Cell[5][3] = 15
Cell[5][4] = 8
Cell[5][5] = 7
Cell[6][0] = July
Cell[6][1] = 28
Cell[6][2] = 15
Cell[6][3] = 18
Cell[6][4] = 7
Cell[6][5] = 6
Cell[7][0] = August
Cell[7][1] = 27
Cell[7][2] = 14
Cell[7][3] = 17
Cell[7][4] = 8
Cell[7][5] = 6
Cell[8][0] = September
Cell[8][1] = 23
Cell[8][2] = 11
Cell[8][3] = 13
Cell[8][4] = 10
Cell[8][5] = 7
Cell[9][0] = October
Cell[9][1] = 17
Cell[9][2] = 7
Cell[9][3] = 9
Cell[9][4] = 14
Cell[9][5] = 8
Cell[10][0] = November
Cell[10][1] = 11
Cell[10][2] = 3
Cell[10][3] = 6
Cell[10][4] = 17
Cell[10][5] = 7
Cell[11][0] = December
Cell[11][1] = 7
Cell[11][2] = 0
Cell[11][3] = 4
Cell[11][4] = 18
Cell[11][5] = 9

In [186]:
# Note: Run the previous cell first
for row_index, row in enumerate(weather_year_2025):
    for col_index, value in enumerate(row):
        print(f"Cell[{row_index}][{col_index}] = {value}")

Cell[0][0] = January
Cell[0][1] = 10
Cell[0][2] = -1
Cell[0][3] = 5
Cell[0][4] = 15
Cell[0][5] = 11
Cell[1][0] = February
Cell[1][1] = 12
Cell[1][2] = 0
Cell[1][3] = 6
Cell[1][4] = 12
Cell[1][5] = 11
Cell[2][0] = March
Cell[2][1] = 15
Cell[2][2] = 2
Cell[2][3] = 8
Cell[2][4] = 14
Cell[2][5] = 9
Cell[3][0] = April
Cell[3][1] = 18
Cell[3][2] = 5
Cell[3][3] = 12
Cell[3][4] = 10
Cell[3][5] = 8
Cell[4][0] = May
Cell[4][1] = 22
Cell[4][2] = 9
Cell[4][3] = 14
Cell[4][4] = 9
Cell[4][5] = 8
Cell[5][0] = June
Cell[5][1] = 25
Cell[5][2] = 13
Cell[5][3] = 15
Cell[5][4] = 8
Cell[5][5] = 7
Cell[6][0] = July
Cell[6][1] = 28
Cell[6][2] = 15
Cell[6][3] = 18
Cell[6][4] = 7
Cell[6][5] = 6
Cell[7][0] = August
Cell[7][1] = 27
Cell[7][2] = 14
Cell[7][3] = 17
Cell[7][4] = 8
Cell[7][5] = 6
Cell[8][0] = September
Cell[8][1] = 23
Cell[8][2] = 11
Cell[8][3] = 13
Cell[8][4] = 10
Cell[8][5] = 7
Cell[9][0] = October
Cell[9][1] = 17
Cell[9][2] = 7
Cell[9][3] = 9
Cell[9][4] = 14
Cell[9][5] = 8
Cell[10][0] = November
Cell[10][1] = 11
Cell[10][2] = 3
Cell[10][3] = 6
Cell[10][4] = 17
Cell[10][5] = 7
Cell[11][0] = December
Cell[11][1] = 7
Cell[11][2] = 0
Cell[11][3] = 4
Cell[11][4] = 18
Cell[11][5] = 9