# Outputting: Printing tables Continued

**List of lists**

In [16]:
from tabulate import tabulate

# List of lists: weather data for each month
weather_year_2025 = [
    ['January', 10, -1, 5, 15, 11], 
    ['February', 12, 0, 6, 12, 11], 
    ['March', 15, 2, 8, 14, 9], 
    ['April', 18, 5, 12, 10, 8], 
    ['May', 22, 9, 14, 9, 8], 
    ['June', 25, 13, 15, 8, 7], 
    ['July', 28, 15, 18, 7, 6], 
    ['August', 27, 14, 17, 8, 6], 
    ['September', 23, 11, 13, 10, 7], 
    ['October', 17, 7, 9, 14, 8], 
    ['November', 11, 3, 6, 17, 7], 
    ['December', 7, 0, 4, 18, 9]
]

**Output with no headers**

In [18]:
# Run previous cell first
print(tabulate(weather_year_2025, tablefmt="grid"))

+-----------+----+----+----+----+----+
| January   | 10 | -1 |  5 | 15 | 11 |
+-----------+----+----+----+----+----+
| February  | 12 |  0 |  6 | 12 | 11 |
+-----------+----+----+----+----+----+
| March     | 15 |  2 |  8 | 14 |  9 |
+-----------+----+----+----+----+----+
| April     | 18 |  5 | 12 | 10 |  8 |
+-----------+----+----+----+----+----+
| May       | 22 |  9 | 14 |  9 |  8 |
+-----------+----+----+----+----+----+
| June      | 25 | 13 | 15 |  8 |  7 |
+-----------+----+----+----+----+----+
| July      | 28 | 15 | 18 |  7 |  6 |
+-----------+----+----+----+----+----+
| August    | 27 | 14 | 17 |  8 |  6 |
+-----------+----+----+----+----+----+
| September | 23 | 11 | 13 | 10 |  7 |
+-----------+----+----+----+----+----+
| October   | 17 |  7 |  9 | 14 |  8 |
+-----------+----+----+----+----+----+
| November  | 11 |  3 |  6 | 17 |  7 |
+-----------+----+----+----+----+----+
| December  |  7 |  0 |  4 | 18 |  9 |
+-----------+----+----+----+----+----+

**Output: Printing with headers for clarity**

In [20]:
# Run previous cells first

# Define the column headers and use the variable as an argument for tabulate
headers = ['Month', 'Max Temp (°C)', 'Min Temp (°C)', 'Sunny Days', 'Cloudy Days', 'Rainy Days']

# Print the formatted table
print(tabulate(weather_year_2025, headers=headers, tablefmt="grid"))

+-----------+-----------------+-----------------+--------------+---------------+--------------+
| Month     |   Max Temp (°C) |   Min Temp (°C) |   Sunny Days |   Cloudy Days |   Rainy Days |
+===========+=================+=================+==============+===============+==============+
| January   |              10 |              -1 |            5 |            15 |           11 |
+-----------+-----------------+-----------------+--------------+---------------+--------------+
| February  |              12 |               0 |            6 |            12 |           11 |
+-----------+-----------------+-----------------+--------------+---------------+--------------+
| March     |              15 |               2 |            8 |            14 |            9 |
+-----------+-----------------+-----------------+--------------+---------------+--------------+
| April     |              18 |               5 |           12 |            10 |            8 |
+-----------+-----------------+-----------------+--------------+---------------+--------------+
| May       |              22 |               9 |           14 |             9 |            8 |
+-----------+-----------------+-----------------+--------------+---------------+--------------+
| June      |              25 |              13 |           15 |             8 |            7 |
+-----------+-----------------+-----------------+--------------+---------------+--------------+
| July      |              28 |              15 |           18 |             7 |            6 |
+-----------+-----------------+-----------------+--------------+---------------+--------------+
| August    |              27 |              14 |           17 |             8 |            6 |
+-----------+-----------------+-----------------+--------------+---------------+--------------+
| September |              23 |              11 |           13 |            10 |            7 |
+-----------+-----------------+-----------------+--------------+---------------+--------------+
| October   |              17 |               7 |            9 |            14 |            8 |
+-----------+-----------------+-----------------+--------------+---------------+--------------+
| November  |              11 |               3 |            6 |            17 |            7 |
+-----------+-----------------+-----------------+--------------+---------------+--------------+
| December  |               7 |               0 |            4 |            18 |            9 |
+-----------+-----------------+-----------------+--------------+---------------+--------------+

**Output: Printing a dataframe table with headers**

In [61]:
# When printing a dataframe one can use headers="keys" 
import pandas as pd
from tabulate import tabulate

# Step 1: Create the data structure
weather_year_2025 = [
    ['Month', 'Max Temp', 'Min Temp', 'Sunny Days', 'Cloudy Days', 'Rainy Days'], 
    ['January', 10, -1, 5, 15, 11], 
    ['February', 12, 0, 6, 12, 11], 
    ['March', 15, 2, 8, 14, 9], 
    ['April', 18, 5, 12, 10, 8], 
    ['May', 22, 9, 14, 9, 8], 
    ['June', 25, 13, 15, 8, 7], 
    ['July', 28, 15, 18, 7, 6], 
    ['August', 27, 14, 17, 8, 6], 
    ['September', 23, 11, 13, 10, 7], 
    ['October', 17, 7, 9, 14, 8], 
    ['November', 11, 3, 6, 17, 7], 
    ['December', 7, 0, 4, 18, 9]
]

# Step 2: Extract headers and rows
headers = weather_year_2025[0]
data = weather_year_2025[1:]

# Step 3: Create a DataFrame
df = pd.DataFrame(data, columns=headers)

# Step 4: Print with tabulate using headers="keys"
print(tabulate(df, headers="keys", tablefmt="grid", showindex=False))

+-----------+------------+------------+--------------+---------------+--------------+
| Month     |   Max Temp |   Min Temp |   Sunny Days |   Cloudy Days |   Rainy Days |
+===========+============+============+==============+===============+==============+
| January   |         10 |         -1 |            5 |            15 |           11 |
+-----------+------------+------------+--------------+---------------+--------------+
| February  |         12 |          0 |            6 |            12 |           11 |
+-----------+------------+------------+--------------+---------------+--------------+
| March     |         15 |          2 |            8 |            14 |            9 |
+-----------+------------+------------+--------------+---------------+--------------+
| April     |         18 |          5 |           12 |            10 |            8 |
+-----------+------------+------------+--------------+---------------+--------------+
| May       |         22 |          9 |           14 |             9 |            8 |
+-----------+------------+------------+--------------+---------------+--------------+
| June      |         25 |         13 |           15 |             8 |            7 |
+-----------+------------+------------+--------------+---------------+--------------+
| July      |         28 |         15 |           18 |             7 |            6 |
+-----------+------------+------------+--------------+---------------+--------------+
| August    |         27 |         14 |           17 |             8 |            6 |
+-----------+------------+------------+--------------+---------------+--------------+
| September |         23 |         11 |           13 |            10 |            7 |
+-----------+------------+------------+--------------+---------------+--------------+
| October   |         17 |          7 |            9 |            14 |            8 |
+-----------+------------+------------+--------------+---------------+--------------+
| November  |         11 |          3 |            6 |            17 |            7 |
+-----------+------------+------------+--------------+---------------+--------------+
| December  |          7 |          0 |            4 |            18 |            9 |
+-----------+------------+------------+--------------+---------------+--------------+

**Output: Printing Excel spreadsheet using pandas and tabulate (review)**

In [49]:
# Rewritten version using headers="keys" 
import pandas as pd
from tabulate import tabulate

# Step 1: Load the spreadsheet
filename = "brussels_weather_2020.xlsx"
df = pd.read_excel(filename)

# Step 2: Display the filtered results using headers="keys"
print(tabulate(df, headers="keys", tablefmt="grid", showindex=False))

+-----------+------------+------------+--------------+---------------+--------------+
| Month     |   Max Temp |   Min Temp |   Sunny Days |   Cloudy Days |   Rainy Days |
+===========+============+============+==============+===============+==============+
| January   |         10 |         -1 |            5 |            15 |           11 |
+-----------+------------+------------+--------------+---------------+--------------+
| February  |         12 |          0 |            6 |            12 |           11 |
+-----------+------------+------------+--------------+---------------+--------------+
| March     |         15 |          2 |            8 |            14 |            9 |
+-----------+------------+------------+--------------+---------------+--------------+
| April     |         18 |          5 |           12 |            10 |            8 |
+-----------+------------+------------+--------------+---------------+--------------+
| May       |         22 |          9 |           14 |             9 |            8 |
+-----------+------------+------------+--------------+---------------+--------------+
| June      |         25 |         13 |           15 |             8 |            7 |
+-----------+------------+------------+--------------+---------------+--------------+
| July      |         28 |         15 |           18 |             7 |            6 |
+-----------+------------+------------+--------------+---------------+--------------+
| August    |         27 |         14 |           17 |             8 |            6 |
+-----------+------------+------------+--------------+---------------+--------------+
| September |         23 |         11 |           13 |            10 |            7 |
+-----------+------------+------------+--------------+---------------+--------------+
| October   |         17 |          7 |            9 |            14 |            8 |
+-----------+------------+------------+--------------+---------------+--------------+
| November  |         11 |          3 |            6 |            17 |            7 |
+-----------+------------+------------+--------------+---------------+--------------+
| December  |          7 |          0 |            4 |            18 |            9 |
+-----------+------------+------------+--------------+---------------+--------------+

**Filtered Output: Printing Excel spreadsheet using pandas and tabulate (review)**

In [71]:
# Adding a filter for partial output: only months with more than 15 sunny days
import pandas as pd
from tabulate import tabulate

# Step 1: Load the spreadsheet
filename = "brussels_weather_2020.xlsx"
df = pd.read_excel(filename)

# Step 2: Filter the DataFrame directly
filtered_df = df[df["Sunny Days"] > 15]  # This creates a boolean mask (a list of True/False values) to select matching rows

# Step 3: Display the filtered results using headers="keys"
print(tabulate(filtered_df, headers="keys", tablefmt="grid", showindex=False))

+---------+------------+------------+--------------+---------------+--------------+
| Month   |   Max Temp |   Min Temp |   Sunny Days |   Cloudy Days |   Rainy Days |
+=========+============+============+==============+===============+==============+
| July    |         28 |         15 |           18 |             7 |            6 |
+---------+------------+------------+--------------+---------------+--------------+
| August  |         27 |         14 |           17 |             8 |            6 |
+---------+------------+------------+--------------+---------------+--------------+

# Outputting: Printing f-strings Continued

In [3]:
# Basic variable substitution
name = "Alice"
age = 30
print(f"{name} is {age} years old.")

Alice is 30 years old.

In [5]:
# Inline arithmetic expressions
a = 10
b = 5
print(f"The sum of {a} and {b} is {a + b}.")

The sum of 10 and 5 is 15.

In [7]:
# Date formatting
from datetime import date
today = date.today()
print(f"Today's date is {today:%A, %d %B %Y}")

Today's date is Wednesday, 21 May 2025

In [9]:
# Aligning text in tables
for name, score in [("Alice", 92), ("Bob", 87), ("Charlie", 95)]:
    print(f"{name:<10} | Score: {score:>3}")

Alice      | Score:  92
Bob        | Score:  87
Charlie    | Score:  95

**name:<10**

- name is a string variable (e.g., "Alice")

< means left-align the text

- 10 is the total width the text should occupy

In [13]:
# Using dictionaries (more later)
person = {"name": "Bob", "city": "Antwerp"}
print(f"{person['name']} lives in {person['city']}.")

Bob lives in Antwerp.

In [15]:
# Loop with index and f-strings
names = ["Alice", "Bob", "Charlie"]
for i, name in enumerate(names, start=1):
    print(f"{i}. {name}")

1. Alice
2. Bob
3. Charlie

# Dictionary & json

- From list to dict
- Dictionaries and json have **key : value**  pairs
- **Keys** provide context and meaning

**Change the following list into a dictionary**

In [45]:
#LIST
weather_year_2025 = [
    ['January', 10, -1, 5, 15, 11], 
	['February', 12, 0, 6, 12, 11], 
	['March', 15, 2, 8, 14, 9], 
    ['April', 18, 5, 12, 10, 8], 
	['May', 22, 9, 14, 9, 8], 
	['June', 25, 13, 15, 8, 7], 
    ['July', 28, 15, 18, 7, 6], 
	['August', 27, 14, 17, 8, 6], 
	['September', 23, 11, 13, 10, 7], 
    ['October', 17, 7, 9, 14, 8], 
	['November', 11, 3, 6, 17, 7], 
	['December', 7, 0, 4, 18, 9]
]

print(type(weather_year_2025))

<class 'list'>

**Code to transform a list  into a dict, if meaning of data elements is known**

Here are the first three months as an example:

- January: Max Temp = 10°C, Min Temp = -1°C, Sunny = 5 days, Cloudy = 15 days, Rainy = 11 days
- February: Max Temp = 12°C, Min Temp = 0°C, Sunny = 6 days, Cloudy = 12 days, Rainy = 11 days
- March: Max Temp = 15°C, Min Temp = 2°C, Sunny = 8 days, Cloudy = 14 days, Rainy = 9 days

In [80]:
#DICT
# weather_year_2025 = {}

weather_dict = {
    row[0]: {
        "Max Temp": row[1],
        "Min Temp": row[2],
        "Sunny Days": row[3],
        "Cloudy Days": row[4],
        "Rainy Days": row[5]
    }
    for row in weather_year_2025
}

# Example: print data for January
print(weather_dict["January"])
print(weather_dict["February"])
print(type(weather_dict))

{'Max Temp': 10, 'Min Temp': -1, 'Sunny Days': 5, 'Cloudy Days': 15, 'Rainy Days': 11}
{'Max Temp': 12, 'Min Temp': 0, 'Sunny Days': 6, 'Cloudy Days': 12, 'Rainy Days': 11}
<class 'dict'>

In [82]:
# Raw dict format
print(weather_dict)

{'January': {'Max Temp': 10, 'Min Temp': -1, 'Sunny Days': 5, 'Cloudy Days': 15, 'Rainy Days': 11}, 'February': {'Max Temp': 12, 'Min Temp': 0, 'Sunny Days': 6, 'Cloudy Days': 12, 'Rainy Days': 11}, 'March': {'Max Temp': 15, 'Min Temp': 2, 'Sunny Days': 8, 'Cloudy Days': 14, 'Rainy Days': 9}, 'April': {'Max Temp': 18, 'Min Temp': 5, 'Sunny Days': 12, 'Cloudy Days': 10, 'Rainy Days': 8}, 'May': {'Max Temp': 22, 'Min Temp': 9, 'Sunny Days': 14, 'Cloudy Days': 9, 'Rainy Days': 8}, 'June': {'Max Temp': 25, 'Min Temp': 13, 'Sunny Days': 15, 'Cloudy Days': 8, 'Rainy Days': 7}, 'July': {'Max Temp': 28, 'Min Temp': 15, 'Sunny Days': 18, 'Cloudy Days': 7, 'Rainy Days': 6}, 'August': {'Max Temp': 27, 'Min Temp': 14, 'Sunny Days': 17, 'Cloudy Days': 8, 'Rainy Days': 6}, 'September': {'Max Temp': 23, 'Min Temp': 11, 'Sunny Days': 13, 'Cloudy Days': 10, 'Rainy Days': 7}, 'October': {'Max Temp': 17, 'Min Temp': 7, 'Sunny Days': 9, 'Cloudy Days': 14, 'Rainy Days': 8}, 'November': {'Max Temp': 11, 'Min Temp': 3, 'Sunny Days': 6, 'Cloudy Days': 17, 'Rainy Days': 7}, 'December': {'Max Temp': 7, 'Min Temp': 0, 'Sunny Days': 4, 'Cloudy Days': 18, 'Rainy Days': 9}}

## Printing with indentation

## json format

In [97]:
#indentation
import json
# Pretty-print the dictionary with indentation
print(json.dumps(weather_dict, indent=4))
# weather_dict_json = json.dumps(weather_dict)
# print(weather_dict_json)

{
    "January": {
        "Max Temp": 10,
        "Min Temp": -1,
        "Sunny Days": 5,
        "Cloudy Days": 15,
        "Rainy Days": 11
    },
    "February": {
        "Max Temp": 12,
        "Min Temp": 0,
        "Sunny Days": 6,
        "Cloudy Days": 12,
        "Rainy Days": 11
    },
    "March": {
        "Max Temp": 15,
        "Min Temp": 2,
        "Sunny Days": 8,
        "Cloudy Days": 14,
        "Rainy Days": 9
    },
    "April": {
        "Max Temp": 18,
        "Min Temp": 5,
        "Sunny Days": 12,
        "Cloudy Days": 10,
        "Rainy Days": 8
    },
    "May": {
        "Max Temp": 22,
        "Min Temp": 9,
        "Sunny Days": 14,
        "Cloudy Days": 9,
        "Rainy Days": 8
    },
    "June": {
        "Max Temp": 25,
        "Min Temp": 13,
        "Sunny Days": 15,
        "Cloudy Days": 8,
        "Rainy Days": 7
    },
    "July": {
        "Max Temp": 28,
        "Min Temp": 15,
        "Sunny Days": 18,
        "Cloudy Days": 7,
        "Rainy Days": 6
    },
    "August": {
        "Max Temp": 27,
        "Min Temp": 14,
        "Sunny Days": 17,
        "Cloudy Days": 8,
        "Rainy Days": 6
    },
    "September": {
        "Max Temp": 23,
        "Min Temp": 11,
        "Sunny Days": 13,
        "Cloudy Days": 10,
        "Rainy Days": 7
    },
    "October": {
        "Max Temp": 17,
        "Min Temp": 7,
        "Sunny Days": 9,
        "Cloudy Days": 14,
        "Rainy Days": 8
    },
    "November": {
        "Max Temp": 11,
        "Min Temp": 3,
        "Sunny Days": 6,
        "Cloudy Days": 17,
        "Rainy Days": 7
    },
    "December": {
        "Max Temp": 7,
        "Min Temp": 0,
        "Sunny Days": 4,
        "Cloudy Days": 18,
        "Rainy Days": 9
    }
}

**Selecting specific keys from a dict**

In [67]:
print(weather_dict["January"]["Max Temp"])
print(weather_dict["January"]["Min Temp"])
print(weather_dict["January"]["Sunny Days"])

10
-1
5

**Interactive input**

In [71]:
month_sel = input("Which month?")
print(weather_dict[month_sel]["Max Temp"])
print(weather_dict[month_sel]["Min Temp"])
print(weather_dict[month_sel]["Sunny Days"])

Which month? December

7
0
4

**Viewing existing keys of a dict**

**Top Level**

In [56]:
print(weather_dict.keys())

dict_keys(['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'])

**Second Level**

In [58]:
print(weather_dict["January"].keys())

dict_keys(['Max Temp', 'Min Temp', 'Sunny Days', 'Cloudy Days', 'Rainy Days'])

## Yaml - More human readable alternative to json

In [95]:
import json
import yaml  # Requires PyYAML

yaml_output = yaml.dump(weather_dict, sort_keys=False, allow_unicode=True)

# Step 3: Print the YAML result
print(yaml_output)

January:
  Max Temp: 10
  Min Temp: -1
  Sunny Days: 5
  Cloudy Days: 15
  Rainy Days: 11
February:
  Max Temp: 12
  Min Temp: 0
  Sunny Days: 6
  Cloudy Days: 12
  Rainy Days: 11
March:
  Max Temp: 15
  Min Temp: 2
  Sunny Days: 8
  Cloudy Days: 14
  Rainy Days: 9
April:
  Max Temp: 18
  Min Temp: 5
  Sunny Days: 12
  Cloudy Days: 10
  Rainy Days: 8
May:
  Max Temp: 22
  Min Temp: 9
  Sunny Days: 14
  Cloudy Days: 9
  Rainy Days: 8
June:
  Max Temp: 25
  Min Temp: 13
  Sunny Days: 15
  Cloudy Days: 8
  Rainy Days: 7
July:
  Max Temp: 28
  Min Temp: 15
  Sunny Days: 18
  Cloudy Days: 7
  Rainy Days: 6
August:
  Max Temp: 27
  Min Temp: 14
  Sunny Days: 17
  Cloudy Days: 8
  Rainy Days: 6
September:
  Max Temp: 23
  Min Temp: 11
  Sunny Days: 13
  Cloudy Days: 10
  Rainy Days: 7
October:
  Max Temp: 17
  Min Temp: 7
  Sunny Days: 9
  Cloudy Days: 14
  Rainy Days: 8
November:
  Max Temp: 11
  Min Temp: 3
  Sunny Days: 6
  Cloudy Days: 17
  Rainy Days: 7
December:
  Max Temp: 7
  Min Temp: 0
  Sunny Days: 4
  Cloudy Days: 18
  Rainy Days: 9