# Praktijkvoorbeelden 27 mei

## List of lists

- A table can be viewed as a list of lists
- In Python, you can represent a simple table as a list of rows, where each row is itself a list of values.

**Limitations**

- This is fine for small or simple data tables
- A list of lists lacks labels (like column names or row indices)
- It doesn’t support easy filtering, sorting, or column-based operations
- That’s why libraries like pandas use the DataFrame object, which is more powerful and behaves more like a spreadsheet or database table.

In [11]:
# List of lists: weather data for each month
weather_year_2025 = [
    ['January', 10, -1, 5, 15, 11], 
    ['February', 12, 0, 6, 12, 11], 
    ['March', 15, 2, 8, 14, 9], 
    ['April', 18, 5, 12, 10, 8], 
    ['May', 22, 9, 14, 9, 8], 
    ['June', 25, 13, 15, 8, 7], 
    ['July', 28, 15, 18, 7, 6], 
    ['August', 27, 14, 17, 8, 6], 
    ['September', 23, 11, 13, 10, 7], 
    ['October', 17, 7, 9, 14, 8], 
    ['November', 11, 3, 6, 17, 7], 
    ['December', 7, 0, 4, 18, 9]
]

print("Output in condensed format\n")
print(type(weather_year_2025)  )
print(weather_year_2025)

Output in condensed format

<class 'list'>
[['January', 10, -1, 5, 15, 11], ['February', 12, 0, 6, 12, 11], ['March', 15, 2, 8, 14, 9], ['April', 18, 5, 12, 10, 8], ['May', 22, 9, 14, 9, 8], ['June', 25, 13, 15, 8, 7], ['July', 28, 15, 18, 7, 6], ['August', 27, 14, 17, 8, 6], ['September', 23, 11, 13, 10, 7], ['October', 17, 7, 9, 14, 8], ['November', 11, 3, 6, 17, 7], ['December', 7, 0, 4, 18, 9]]

In [39]:
# Run previous cell first
from tabulate import tabulate
print("Output in table format\n")
print(tabulate(weather_year_2025, tablefmt="pretty"))

Output in table format

+-----------+----+----+----+----+----+
|  January  | 10 | -1 | 5  | 15 | 11 |
| February  | 12 | 0  | 6  | 12 | 11 |
|   March   | 15 | 2  | 8  | 14 | 9  |
|   April   | 18 | 5  | 12 | 10 | 8  |
|    May    | 22 | 9  | 14 | 9  | 8  |
|   June    | 25 | 13 | 15 | 8  | 7  |
|   July    | 28 | 15 | 18 | 7  | 6  |
|  August   | 27 | 14 | 17 | 8  | 6  |
| September | 23 | 11 | 13 | 10 | 7  |
|  October  | 17 | 7  | 9  | 14 | 8  |
| November  | 11 | 3  | 6  | 17 | 7  |
| December  | 7  | 0  | 4  | 18 | 9  |
+-----------+----+----+----+----+----+

In [15]:
# Run previous cell first
from tabulate import tabulate
print("Output in table format\n")
print(tabulate(weather_year_2025, tablefmt="grid"))

Output in table format

+-----------+----+----+----+----+----+
| January   | 10 | -1 |  5 | 15 | 11 |
+-----------+----+----+----+----+----+
| February  | 12 |  0 |  6 | 12 | 11 |
+-----------+----+----+----+----+----+
| March     | 15 |  2 |  8 | 14 |  9 |
+-----------+----+----+----+----+----+
| April     | 18 |  5 | 12 | 10 |  8 |
+-----------+----+----+----+----+----+
| May       | 22 |  9 | 14 |  9 |  8 |
+-----------+----+----+----+----+----+
| June      | 25 | 13 | 15 |  8 |  7 |
+-----------+----+----+----+----+----+
| July      | 28 | 15 | 18 |  7 |  6 |
+-----------+----+----+----+----+----+
| August    | 27 | 14 | 17 |  8 |  6 |
+-----------+----+----+----+----+----+
| September | 23 | 11 | 13 | 10 |  7 |
+-----------+----+----+----+----+----+
| October   | 17 |  7 |  9 | 14 |  8 |
+-----------+----+----+----+----+----+
| November  | 11 |  3 |  6 | 17 |  7 |
+-----------+----+----+----+----+----+
| December  |  7 |  0 |  4 | 18 |  9 |
+-----------+----+----+----+----+----+

In [33]:
col_headers = ['Month', 'Max Temp (°C)', 'Min Temp (°C)', 'Sunny Days', 'Cloudy Days', 'Rainy Days']
# print(type(col_headers))
short_headers = ['Month', 'Max', 'Min', 'Sunny', 'Cloudy', 'Rainy']
print(tabulate(weather_year_2025, headers=short_headers, tablefmt="grid"))

+-----------+-------+-------+---------+----------+---------+
| Month     |   Max |   Min |   Sunny |   Cloudy |   Rainy |
+===========+=======+=======+=========+==========+=========+
| January   |    10 |    -1 |       5 |       15 |      11 |
+-----------+-------+-------+---------+----------+---------+
| February  |    12 |     0 |       6 |       12 |      11 |
+-----------+-------+-------+---------+----------+---------+
| March     |    15 |     2 |       8 |       14 |       9 |
+-----------+-------+-------+---------+----------+---------+
| April     |    18 |     5 |      12 |       10 |       8 |
+-----------+-------+-------+---------+----------+---------+
| May       |    22 |     9 |      14 |        9 |       8 |
+-----------+-------+-------+---------+----------+---------+
| June      |    25 |    13 |      15 |        8 |       7 |
+-----------+-------+-------+---------+----------+---------+
| July      |    28 |    15 |      18 |        7 |       6 |
+-----------+-------+-------+---------+----------+---------+
| August    |    27 |    14 |      17 |        8 |       6 |
+-----------+-------+-------+---------+----------+---------+
| September |    23 |    11 |      13 |       10 |       7 |
+-----------+-------+-------+---------+----------+---------+
| October   |    17 |     7 |       9 |       14 |       8 |
+-----------+-------+-------+---------+----------+---------+
| November  |    11 |     3 |       6 |       17 |       7 |
+-----------+-------+-------+---------+----------+---------+
| December  |     7 |     0 |       4 |       18 |       9 |
+-----------+-------+-------+---------+----------+---------+

In [51]:
# ! pip install tabulate
! dir *.xlsx

 Volume in drive C is Windows
 Volume Serial Number is 9E1E-8F54

 Directory of C:\Users\yroos\Python Scripts\Python Essentials

15/05/2025  18:47             5.862 brussels_weather_2020.xlsx
               1 File(s)          5.862 bytes
               0 Dir(s)  638.655.922.176 bytes free

In [55]:
from tabulate import tabulate

# Include column headers as the first row in your data
weather_with_header = [
    ['Month', 'Max', 'Min', 'Sunny', 'Cloudy', 'Rainy'],  # <- Header row
    ['January', 10, -1, 5, 15, 11],
    ['February', 12, 0, 6, 12, 11],
    ['March', 15, 2, 8, 14, 9],
    ['April', 18, 5, 12, 10, 8]
]

# Use the first row as headers
print(tabulate(weather_with_header, headers="firstrow", tablefmt="grid"))

+----------+-------+-------+---------+----------+---------+
| Month    |   Max |   Min |   Sunny |   Cloudy |   Rainy |
+==========+=======+=======+=========+==========+=========+
| January  |    10 |    -1 |       5 |       15 |      11 |
+----------+-------+-------+---------+----------+---------+
| February |    12 |     0 |       6 |       12 |      11 |
+----------+-------+-------+---------+----------+---------+
| March    |    15 |     2 |       8 |       14 |       9 |
+----------+-------+-------+---------+----------+---------+
| April    |    18 |     5 |      12 |       10 |       8 |
+----------+-------+-------+---------+----------+---------+

## Pandas
- Output: Printing a dataframe table with headers

In [63]:
import pandas as pd

data = [['Jan', 10], ['Feb', 12]]
df = pd.DataFrame(data, columns=['Month', 'Max'])

print(df.columns)  # Index(['Month', 'Max Temp'], dtype='object')

Index(['Month', 'Max'], dtype='object')

In [67]:
import pandas as pd
from tabulate import tabulate

# Step 1: Create the data structure (without headers)
weather_year_2025 = [
    ['January', 10, -1, 5, 15, 11], 
    ['February', 12, 0, 6, 12, 11], 
    ['March', 15, 2, 8, 14, 9], 
    ['April', 18, 5, 12, 10, 8], 
    ['May', 22, 9, 14, 9, 8], 
    ['June', 25, 13, 15, 8, 7], 
    ['July', 28, 15, 18, 7, 6], 
    ['August', 27, 14, 17, 8, 6], 
    ['September', 23, 11, 13, 10, 7], 
    ['October', 17, 7, 9, 14, 8], 
    ['November', 11, 3, 6, 17, 7], 
    ['December', 7, 0, 4, 18, 9]
]

# Step 2: Define the column names separately
columns = ['Month', 'Max', 'Min', 'Sunny', 'Cloudy', 'Rainy']

# Step 3: Create the DataFrame (table)
df = pd.DataFrame(weather_year_2025, columns=columns)

# Step 4: Display using tabulate with headers="keys"
# The argument headers="keys" tells tabulate to use the column names (i.e., keys) from the DataFrame as the headers for the table
print(tabulate(df, headers="keys", tablefmt="grid", showindex=False))

+-----------+-------+-------+---------+----------+---------+
| Month     |   Max |   Min |   Sunny |   Cloudy |   Rainy |
+===========+=======+=======+=========+==========+=========+
| January   |    10 |    -1 |       5 |       15 |      11 |
+-----------+-------+-------+---------+----------+---------+
| February  |    12 |     0 |       6 |       12 |      11 |
+-----------+-------+-------+---------+----------+---------+
| March     |    15 |     2 |       8 |       14 |       9 |
+-----------+-------+-------+---------+----------+---------+
| April     |    18 |     5 |      12 |       10 |       8 |
+-----------+-------+-------+---------+----------+---------+
| May       |    22 |     9 |      14 |        9 |       8 |
+-----------+-------+-------+---------+----------+---------+
| June      |    25 |    13 |      15 |        8 |       7 |
+-----------+-------+-------+---------+----------+---------+
| July      |    28 |    15 |      18 |        7 |       6 |
+-----------+-------+-------+---------+----------+---------+
| August    |    27 |    14 |      17 |        8 |       6 |
+-----------+-------+-------+---------+----------+---------+
| September |    23 |    11 |      13 |       10 |       7 |
+-----------+-------+-------+---------+----------+---------+
| October   |    17 |     7 |       9 |       14 |       8 |
+-----------+-------+-------+---------+----------+---------+
| November  |    11 |     3 |       6 |       17 |       7 |
+-----------+-------+-------+---------+----------+---------+
| December  |     7 |     0 |       4 |       18 |       9 |
+-----------+-------+-------+---------+----------+---------+

**Output: Printing existing Excel spreadsheet using pandas and tabulate (review)**

In [74]:
! dir *.xlsx

 Volume in drive C is Windows
 Volume Serial Number is 9E1E-8F54

 Directory of C:\Users\yroos\Python Scripts\Python Essentials

15/05/2025  18:47             5.862 brussels_weather_2020.xlsx
               1 File(s)          5.862 bytes
               0 Dir(s)  638.637.420.544 bytes free

In [70]:
# Rewritten version using headers="keys" 
import pandas as pd
from tabulate import tabulate

# Step 1: Load the spreadsheet
filename = "brussels_weather_2020.xlsx"
df = pd.read_excel(filename)

In [78]:
# Run previous cell first
# Step 2: Display the filtered results using headers="keys"
# The argument headers="keys" tells tabulate to use the column names (i.e., keys) from the DataFrame as the headers for the table
print(tabulate(df, headers="keys", tablefmt="pretty", showindex=False))

+-----------+----------+----------+------------+-------------+------------+
|   Month   | Max Temp | Min Temp | Sunny Days | Cloudy Days | Rainy Days |
+-----------+----------+----------+------------+-------------+------------+
|  January  |    10    |    -1    |     5      |     15      |     11     |
| February  |    12    |    0     |     6      |     12      |     11     |
|   March   |    15    |    2     |     8      |     14      |     9      |
|   April   |    18    |    5     |     12     |     10      |     8      |
|    May    |    22    |    9     |     14     |      9      |     8      |
|   June    |    25    |    13    |     15     |      8      |     7      |
|   July    |    28    |    15    |     18     |      7      |     6      |
|  August   |    27    |    14    |     17     |      8      |     6      |
| September |    23    |    11    |     13     |     10      |     7      |
|  October  |    17    |    7     |     9      |     14      |     8      |
| November  |    11    |    3     |     6      |     17      |     7      |
| December  |    7     |    0     |     4      |     18      |     9      |
+-----------+----------+----------+------------+-------------+------------+

**Filtered Output: Printing Excel spreadsheet using pandas and tabulate (review)**

In [89]:
# Adding a filter for partial output: only months with more than 15 sunny days
import pandas as pd
from tabulate import tabulate

# Step 1: Load the spreadsheet
filename = "brussels_weather_2020.xlsx"
df = pd.read_excel(filename)


# Step 2: Filter the DataFrame directly

filtered_df = df[df["Cloudy Days"] > 12]  # This creates a boolean mask (a list of True/False values) to select matching rows

# Step 3: Display the filtered results using headers="keys"
print(tabulate(filtered_df, headers="keys", tablefmt="grid", showindex=False))

+----------+------------+------------+--------------+---------------+--------------+
| Month    |   Max Temp |   Min Temp |   Sunny Days |   Cloudy Days |   Rainy Days |
+==========+============+============+==============+===============+==============+
| January  |         10 |         -1 |            5 |            15 |           11 |
+----------+------------+------------+--------------+---------------+--------------+
| March    |         15 |          2 |            8 |            14 |            9 |
+----------+------------+------------+--------------+---------------+--------------+
| October  |         17 |          7 |            9 |            14 |            8 |
+----------+------------+------------+--------------+---------------+--------------+
| November |         11 |          3 |            6 |            17 |            7 |
+----------+------------+------------+--------------+---------------+--------------+
| December |          7 |          0 |            4 |            18 |            9 |
+----------+------------+------------+--------------+---------------+--------------+

In [93]:
print(df["Cloudy Days"] > 12)

0      True
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10     True
11     True
Name: Cloudy Days, dtype: bool

In [91]:
print(df[df["Cloudy Days"] > 12])

       Month  Max Temp  Min Temp  Sunny Days  Cloudy Days  Rainy Days
0    January        10        -1           5           15          11
2      March        15         2           8           14           9
9    October        17         7           9           14           8
10  November        11         3           6           17           7
11  December         7         0           4           18           9

## Outputting: Printing f-strings Continued

In [100]:
# Basic variable substitution
name = "Alice"
age = 30
print(f"{name} is {age} years old.")

Alice is 30 years old.

In [104]:
# Inline arithmetic expressions
av = 10
bv = 5
print(f"The sum of {av} and {bv} is {av + bv}.")

The sum of 10 and 5 is 15.

In [106]:
# Date formatting
from datetime import date
today = date.today()
print(f"Today's date is {today:%A, %d %B %Y}")

Today's date is Tuesday, 27 May 2025

In [134]:
print(type([("Alice", 92), ("Bob", 87), ("Charlie", 95)]))

<class 'list'>

In [138]:
print(type(("Alice", 92)))

<class 'tuple'>

In [126]:
# Aligning text in tables
for name, score in [("Alice", 92), ("Bob", 87), ("Charlie", 95)]:
    print(f"{name:<12} = Score: {score:>4}")

Alice        = Score:   92
Bob          = Score:   87
Charlie      = Score:   95

In [140]:
# Aligning text in tables
exam_scores = [("Alice", 92), ("Bob", 87), ("Charlie", 95)]
for name, score in exam_scores:
    print(f"{name:<12} = Score: {score:>4}")

Alice        = Score:   92
Bob          = Score:   87
Charlie      = Score:   95

In [142]:
# Using dictionaries (more later) -- "key : value pair"
person = {"name": "Bob", "city": "Antwerp"}
print(type(person))
print(f"{person['name']} lives in {person['city']}.")

<class 'dict'>
Bob lives in Antwerp.

In [148]:
# Using dictionaries (more later) -- "key : value pair"
words = {"nl": "boek", "en": "book"}
print(type(words))
print(f"{words['nl']} is in het Engels {words['en']}.")

<class 'dict'>
boek is in het Engels: book.

In [166]:
# Using dictionaries (more later) -- "key : value pair"
words = {"nl": "scherm", "en": "screen"}
print(type(words))
print(words.keys())
print(f"{words['nl']} is in het Engels {words['en']}.")

<class 'dict'>
dict_keys(['nl', 'en'])
scherm is in het Engels screen.

In [170]:
words = {"boek" : "book" , "scherm": "screen", "tabel" : "table"}
# print(f"{words['boek']} is in het Engels {words['en']}.")
print(words.keys())
print(words['boek'])
print(words['scherm'])
print(words['tabel'])
# Make an f-string

dict_keys(['boek', 'scherm', 'tabel'])
book
screen
table

In [172]:
words = {"book" : "boek" , "screen": "scherm", "table" : "tabel"}
# print(f"{words['boek']} is in het Engels {words['en']}.")
print(words.keys())
print(words['book'])
# Make an f-string

dict_keys(['book', 'screen', 'table'])
boek

## Lists vs Tuples
- Tuples are used for representing fixed collections of related values
- In the context of authentication, they can be used for storing a list of known user accounts, where each user is represented as a tuple of (username, password)
- Tuples are immutable, so each (username, password) pair can't be changed by accident
- They're perfect for representing fixed-length records
- Membership testing using in is straightforward.

In [179]:
user1 = ("alice", "password123") 
user2 = ("bob", "qwerty456")
user3 = ("carol", "letmein789")
print(type(user1))
users = [user1, user2, user3]
print(type(users))
print(users)

<class 'tuple'>
<class 'list'>
[('alice', 'password123'), ('bob', 'qwerty456'), ('carol', 'letmein789')]

In [187]:
# Run previous cell first
def authenticate(username, password):
    """
    Check if the given username and password match any user in the list.
    """
    if (username, password) in users:
        print(f"Welcome, {username}!")
        return True
    else:
        print(username, "Authentication failed.")
        return False

# Example usage
authenticate("alice", "password123")   # Correct
authenticate("bob", "wrongpass")       # Incorrect

Welcome, alice!
bob Authentication failed.

False

**Example: Membership Test with Tuples**

In [192]:
# Define a set of user accounts (username, password)
user_accounts = {
    ("alice", "pass123"),
    ("bob", "qwerty456"),
    ("carol", "letmein789")
}

def login(username, password):
    """
    Checks if the (username, password) pair exists in the set of accounts.
    """
    if (username, password) in user_accounts:
        print(f"Access granted. Welcome, {username}!")
    else:
        print("Access denied. Invalid credentials.")

# Test cases
login("alice", "pass123")       # Valid credentials
login("bob", "wrongpass")       # Invalid password
login("daniel", "abc123")       # Unknown user

Access granted. Welcome, alice!
Access denied. Invalid credentials.
Access denied. Invalid credentials.

## Dictionary & json

In [195]:
# SIMPLE DICT
weather_dict = {'January': {'Max Temp': 10, 'Min Temp': -1, 'Sunny Days': 5, 'Cloudy Days': 15, 'Rainy Days': 11}, 
                'February': {'Max Temp': 12, 'Min Temp': 0, 'Sunny Days': 6, 'Cloudy Days': 12, 'Rainy Days': 11}, 
                'March': {'Max Temp': 15, 'Min Temp': 2, 'Sunny Days': 8, 'Cloudy Days': 14, 'Rainy Days': 9}, 
                'April': {'Max Temp': 18, 'Min Temp': 5, 'Sunny Days': 12, 'Cloudy Days': 10, 'Rainy Days': 8}, 
                'May': {'Max Temp': 22, 'Min Temp': 9, 'Sunny Days': 14, 'Cloudy Days': 9, 'Rainy Days': 8}, 
                'June': {'Max Temp': 25, 'Min Temp': 13, 'Sunny Days': 15, 'Cloudy Days': 8, 'Rainy Days': 7}, 
                'July': {'Max Temp': 28, 'Min Temp': 15, 'Sunny Days': 18, 'Cloudy Days': 7, 'Rainy Days': 6}, 
                'August': {'Max Temp': 27, 'Min Temp': 14, 'Sunny Days': 17, 'Cloudy Days': 8, 'Rainy Days': 6}, 
                'September': {'Max Temp': 23, 'Min Temp': 11, 'Sunny Days': 13, 'Cloudy Days': 10, 'Rainy Days': 7}, 
                'October': {'Max Temp': 17, 'Min Temp': 7, 'Sunny Days': 9, 'Cloudy Days': 14, 'Rainy Days': 8}, 
                'November': {'Max Temp': 11, 'Min Temp': 3, 'Sunny Days': 6, 'Cloudy Days': 17, 'Rainy Days': 7}, 
                'December': {'Max Temp': 7, 'Min Temp': 0, 'Sunny Days': 4, 'Cloudy Days': 18, 'Rainy Days': 9}
               }

print(type(weather_dict))

<class 'dict'>

In [197]:
month_to_view = input("What month do you wish to view?")
print(weather_dict[month_to_view])

What month do you wish to view? March

{'Max Temp': 15, 'Min Temp': 2, 'Sunny Days': 8, 'Cloudy Days': 14, 'Rainy Days': 9}