# Data types

- int
  - very **natural**
- float
  - making a **calculator**
- boolean: True, False
  - computer **logic**
  - making **decisions**
- None
  - unknown
- string
  - computers can manage **language** easily: word processing, AI, ...

- complex: 
  - files are used to **store and transmit**: text file, csv, spreadsheet, image, ...
  - lists: **mainly next week**
  - dictionary and json: **later**

**Programming languages**

- "no ambiguity", as opposed to natural language
- "alternatives" are possible
  - some alternatives are better than others
  - some are safer than others

# Conditions are everywhere

**Temperature**

In [84]:
# Ask the user to enter a temperature in Celsius and determine if water will be liquid
temp = int(input("Enter the measured temperature in Celsius: "))

# Determine if the water is liquid
if temp in range(1,100):
    is_liquid = True
else:
    is_liquid = False
# alternative: is_liquid = temp > 0 and temp < 100

# Display the result
print("Temperature measured:", temp)
print("Is water liquid at this temperature?", is_liquid)

# Alternative output
print()
print("-" * 50)
print(f"Temperature: {temp}°C → Liquid: {is_liquid}")

Enter the measured temperature in Celsius:  1

Temperature measured: 1
Is water liquid at this temperature? True

--------------------------------------------------
Temperature: 1°C → Liquid: True

**Numbers: Prevent Crashing**

In [103]:
# Step 1
# Often we have to perform different calculations one after the other: example

# One
val1 = 10
val2 = 100  # avoid 0

calc_result = val1 / val2
print (calc_result)

# Two
val1 = 10
val2 = 10 # avoid 0

calc_result = val1 / val2
print (calc_result)

0.1
1.0

In [120]:
# Step 1 bis => Catch the ZeroDivisionError
val1 = 10
val2 = 0  

try:
    calc_result = val1 / val2
    print(calc_result)
except ZeroDivisionError:
    print("Error: Cannot divide by zero.")

Error: Cannot divide by zero.

In [ ]:
# Step 2
# Improvement to prevent division by zero => code being copied => unreadable, unmanageable for reuse

# One
val1 = 10
val2 = 100  # avoid 0

if val2 != 0:
    calc_result = val1 / val2
else:
    print("Error: Division by Zero")
    
print (calc_result)

# Two
val1 = 10
val2 = 10 # avoid 0

if val2 != 0:
    calc_result = val1 / val2
else:
    print("Error: Division by Zero")

calc_result = val1 / val2
print (calc_result)

In [18]:
# Step 3: creating a function for reusabilty
# Functions allow to reuse the same code without copying
# 
def divide(n1, n2):
    if n2 != 0:
        return n1/n2
    else:
        return ("Error: Division by Zero")

val1 = 10
val2 = 10 

calc_result = divide(val1,val2)
print (calc_result)

1.0

In [20]:
# Step 4: code fragment using functions for calculations
# Add functions for other operators: **    //    %

def add(n1,n2):
    return n1+n2

def subtract(n1, n2):
    return n1-n2

def multiply(n1, n2):
    return n1*n2

def divide(n1, n2):
    if n2 != 0:
        return n1/n2
    else:
        return ("Error: Division by Zero")

def main():
    print (add(100,10))
    print (subtract(100,10))
    print (multiply(100,10))
    print (divide(100,10))

if __name__ == "__main__":
   main()

110
90
1000
10.0

**Leap Years**

- A year not divisible by 4 is not a leap year
- A year divisible by 4 but not by 100 is a leap year
- A year divisible by 100 but not by 400 is not a leap year
- A year  divisible by 400 is a leap year

In [49]:
# elif is used to check more than just one condition, and to stop when the first statement which is true is found.

year = int(input("What year do you want ot check? "))

if year % 4 != 0:
    print(f"{year} is NOT a leap year (not divisible by 4)")
elif year % 100 != 0:
    print(f"{year} IS a leap year (divisible by 4 but not by 100)")
elif year % 400 != 0:
    print(f"{year} is NOT a leap year (divisible by 100 but not by 400)")
else:
    print(f"{year} IS a leap year (divisible by 400)")

What year do you want ot check?  2000

2000 IS a leap year (divisible by 400)

In [51]:
years = [1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 2100, 2200]

for year in years:
    if year % 4 != 0:
        print(f"{year} is NOT a leap year (not divisible by 4)")
    elif year % 100 != 0:
        print(f"{year} IS a leap year (divisible by 4 but not by 100)")
    elif year % 400 != 0:
        print(f"{year} is NOT a leap year (divisible by 100 but not by 400)")
    else:
        print(f"{year} IS a leap year (divisible by 400)")

1000 is NOT a leap year (divisible by 100 but not by 400)
1100 is NOT a leap year (divisible by 100 but not by 400)
1200 IS a leap year (divisible by 400)
1300 is NOT a leap year (divisible by 100 but not by 400)
1400 is NOT a leap year (divisible by 100 but not by 400)
1500 is NOT a leap year (divisible by 100 but not by 400)
1600 IS a leap year (divisible by 400)
1700 is NOT a leap year (divisible by 100 but not by 400)
1800 is NOT a leap year (divisible by 100 but not by 400)
1900 is NOT a leap year (divisible by 100 but not by 400)
2000 IS a leap year (divisible by 400)
2100 is NOT a leap year (divisible by 100 but not by 400)
2200 is NOT a leap year (divisible by 100 but not by 400)

# Files are everywhere

In [99]:
# Save your input in a file for later usage, or for transmission
text_to_save = input("What do you want to save?")
print("Writing to a file ...")
with open("storage_or_transmission.txt", "w") as f:
    f.write(text_to_save)

print("Reading from a file ...")
with open("storage_or_transmission.txt", "r") as f:
    content = f.read()
    print(content)

What do you want to save? Blablabla

Writing to a file ...
Reading from a file ...
Blablabla

# Loops are everywhere

- **For**-loops are commonly used, specifically if you can determine how many iterations are required before starting the loop.

In [38]:
# Looping through files
# Basic example 1
filename = "netherlands_suriname_names.csv"

with open(filename, "r", encoding="utf-8") as file:
    lines = file.read().splitlines()

print("Printing list")
print(lines)
print()

print("Printing three lines")
print(lines[0])
print(lines[1])
print(lines[2])
print()

print("Printing all lines") # => you will need a loop. For-loops are very common

# Iterate over lines (skip header)
for line in lines[1:]:
    print (line)

Printing list
['Last Name,First Name,Birth Year', 'Kalloe,Sunil,1999', 'Jansen,Piet,1958', 'Jansen,Sanne,2016', 'Visser,Sanne,2025', 'Monifa,Chandni,2013', 'Pinas,Anjali,1956', 'Meijer,Jan,2018', 'de Vries,Jan,1974', 'Jansen,Kees,1953', 'Visser,Sanne,1975', 'Meijer,Sanne,1993', 'Monifa,Chandni,1950', 'de Vries,Emma,2000', 'Baldewsingh,Shaquille,1960', 'Ramdien,Chandni,1966', 'Bakker,Piet,1971', 'Visser,Kees,1966', 'Jansen,Piet,2004', 'Meijer,Kees,1961', 'Kalloe,Sunil,2016']

Printing three lines
Last Name,First Name,Birth Year
Kalloe,Sunil,1999
Jansen,Piet,1958

Printing all lines
Kalloe,Sunil,1999
Jansen,Piet,1958
Jansen,Sanne,2016
Visser,Sanne,2025
Monifa,Chandni,2013
Pinas,Anjali,1956
Meijer,Jan,2018
de Vries,Jan,1974
Jansen,Kees,1953
Visser,Sanne,1975
Meijer,Sanne,1993
Monifa,Chandni,1950
de Vries,Emma,2000
Baldewsingh,Shaquille,1960
Ramdien,Chandni,1966
Bakker,Piet,1971
Visser,Kees,1966
Jansen,Piet,2004
Meijer,Kees,1961
Kalloe,Sunil,2016

**Do the same with a while loop**

In this case for-loops are more common

**Conditions are everywhere** (revisited)

In [22]:
filename = "netherlands_suriname_names.csv"

with open(filename, "r", encoding="utf-8") as file:
    lines = file.read().splitlines()

print("Printing all lines")

# Iterate over lines (skip header)
for line in lines[1:]:
    fields = line.split(",")
    if fields[2] >= "2000":
        print(fields)

Printing all lines
['Jansen', 'Sanne', '2016']
['Visser', 'Sanne', '2025']
['Monifa', 'Chandni', '2013']
['Meijer', 'Jan', '2018']
['de Vries', 'Emma', '2000']
['Jansen', 'Piet', '2004']
['Kalloe', 'Sunil', '2016']

# Sorting is everywhere

In [43]:
#Sorting on name
filename = "netherlands_suriname_names.csv"

with open(filename, "r", encoding="utf-8") as file:
    lines = file.read().splitlines()

# Separate header and data
header = lines[0]
data_lines = lines[1:]

# Sort the data lines alphabetically
sorted_lines = sorted(data_lines)

# Print header and sorted lines
print("Printing all lines (sorted):")
print(header)
for line in sorted_lines:
    print(line)

Printing all lines (sorted):
Last Name,First Name,Birth Year
Bakker,Piet,1971
Baldewsingh,Shaquille,1960
Jansen,Kees,1953
Jansen,Piet,1958
Jansen,Piet,2004
Jansen,Sanne,2016
Kalloe,Sunil,1999
Kalloe,Sunil,2016
Meijer,Jan,2018
Meijer,Kees,1961
Meijer,Sanne,1993
Monifa,Chandni,1950
Monifa,Chandni,2013
Pinas,Anjali,1956
Ramdien,Chandni,1966
Visser,Kees,1966
Visser,Sanne,1975
Visser,Sanne,2025
de Vries,Emma,2000
de Vries,Jan,1974

**Sorting on date**

In [36]:
# More complex
filename = "netherlands_suriname_names.csv"

with open(filename, "r", encoding="utf-8") as file:
    lines = file.read().splitlines()

# Separate header and data
header = lines[0]
data_lines = lines[1:]

# Find the index of "Birth Year"
header_fields = header.split(",")
birth_index = header_fields.index("Birth Year")

# Convert to list of tuples (birth_year_int, line)
def parse_birth_year(line):
    fields = line.split(",")
    try:
        return (int(fields[birth_index].strip()), line)
    except (IndexError, ValueError):
        return (float('inf'), line)  # Place malformed/missing years at the end

# Sort by birth year
sorted_data = sorted(data_lines, key=parse_birth_year)

# Print header and sorted lines
print("Printing all lines (sorted by birth year):")
print(header)
for line in sorted_data:
    print(line)

Printing all lines (sorted by birth year):
Last Name,First Name,Birth Year
Monifa,Chandni,1950
Jansen,Kees,1953
Pinas,Anjali,1956
Jansen,Piet,1958
Baldewsingh,Shaquille,1960
Meijer,Kees,1961
Ramdien,Chandni,1966
Visser,Kees,1966
Bakker,Piet,1971
de Vries,Jan,1974
Visser,Sanne,1975
Meijer,Sanne,1993
Kalloe,Sunil,1999
de Vries,Emma,2000
Jansen,Piet,2004
Monifa,Chandni,2013
Jansen,Sanne,2016
Kalloe,Sunil,2016
Meijer,Jan,2018
Visser,Sanne,2025

**Loops are everywhere** (revisited)

- **While**-loops => if you do not know when the loop will end, e.g. choice of the user or something you cannot predetermine

In [65]:
# Power calculator, until you want to stop
print("Start of the program")
counter = 0
prompt = "Please enter a value between 0 and 9, any other value to quit."
while True:
    val = int(input(prompt))
    if val not in range(10):
        break # exit/terminate the loop
    else:
        counter = counter + 1
        print ("Counter:", counter, "Result:", 10 ** val)
        print(prompt)
print("End of the program")

Start of the program

Please enter a value between 0 and 9, any other value to quit. 9

Counter: 1 Result: 1000000000
Please enter a value between 0 and 9, any other value to quit.

Please enter a value between 0 and 9, any other value to quit. 99

End of the program