# Praktijkvoorbeelden 7 mei

In [4]:
# Operating system command preceded by an exclamation mark
! python --version
! dir

Python 3.11.11
 Volume in drive C is Windows
 Volume Serial Number is 9E1E-8F54

 Directory of C:\Users\yroos\Python Scripts\Python Essentials

14/05/2025  08:06    <DIR>          .
10/05/2025  12:22    <DIR>          ..
10/05/2025  11:33                35 .gitignore
14/05/2025  08:06    <DIR>          .ipynb_checkpoints
13/05/2025  16:23    <DIR>          anaconda_projects
13/05/2025  15:52               422 netherlands_suriname_names.csv
10/05/2025  10:53            34.726 pandas.ipynb
07/05/2025  16:08            69.139 Python Essentials 2025 Prep.ipynb
08/05/2025  09:03           591.294 Python Essentials B.ipynb
14/05/2025  07:29            16.703 Python Essentials Extra Practice 13 mei .ipynb
13/05/2025  19:03            37.046 Python Essentials Extra Practice 7 mei.ipynb
13/05/2025  11:00            99.553 Python Essentials Extra Practice.ipynb
14/05/2025  08:02            40.379 Python Essentials Prep 13 mei .ipynb
14/05/2025  08:04            14.493 Python Essentials Prep 14 mei .ipynb
13/05/2025  13:57               180 temperature_measurements.csv
14/05/2025  06:40                72 Untitled.ipynb
              12 File(s)        904.042 bytes
               4 Dir(s)  643.475.292.160 bytes free

**Printing** 

- Creating outputs
- Communicating results

In [11]:
### STEP 1 # In reality, data is often read in "realtime" from an input source, e.g. a file, a spreadsheet, a message, ...
first_name = "Yvan"
last_name = "Rooseleer"
company = "BiASC"
address = "Gravenbosstraat 134"
city = "Brussel"

print (first_name, last_name, company, address, city)

Yvan Rooseleer BiASC Gravenbosstraat 134 Brussel

In [15]:
### MANIPULATE NAME
first_name = "Yvan"
last_name = "Rooseleer"
company = "BiASC"
address = "Gravenbosstraat 134"
city = "Brussel"

# short_name = f"{first_name[0]}. {last_name}"
# short_name = first_name[0] +". "+ last_name
# short_name = first_name[0] +". "+ last_name
# print(short_name)
initials = first_name[-2] + last_name[-2]
print(initials)

ae

In [25]:
### INITIALS
first_name = "Yvan"
last_name = "Rooseleer"
company = "BiASC"
address = "Gravenbosstraat 134"
city = "Brussel"

# short_name = f"{first_name[0]}. {last_name}"
initials = first_name[0] + last_name[0]
print(initials)

YR

In [2]:
### STEP 1 USING INPUT
first_name = input("Voornaam:")
last_name = input("Familienaam:")
company = input("Company:")
address = input("Adres:")
city = input("Woonplaats:")

print (first_name, last_name, company, address, city)

Voornaam: Yvan
Familienaam: Rooseleer
Company: BiASC
Adres: Gravenbos 134
Woonplaats: Liedekerke

Yvan Rooseleer BiASC Gravenbos 134 Liedekerke

In [3]:
print (first_name, last_name, company, address, city)

Yvan Rooseleer BiASC Gravenbos 134 Liedekerke

In [23]:
print (first_name, last_name, company, address, city, sep=", ")

Yvan, Rooseleer, BiASC, Gravenbosstraat 134, Brussel

In [5]:
print (first_name, last_name, company, address, city, sep="/" )

Yvan/Rooseleer/BiASC/Gravenbos 134/Liedekerke

In [6]:
print (first_name, last_name)
print (company)
print (address)
print (city)

Yvan Rooseleer
BiASC
Gravenbos 134
Liedekerke

In [7]:
print (first_name[0]+".", last_name)
print (company)
print (address)
print (city)

Y. Rooseleer
BiASC
Gravenbos 134
Liedekerke

In [25]:
# calculate length
print(len(first_name))
print(len(last_name))

4
9

In [12]:
print (last_name, first_name, sep=", ")
print (company, address, city, sep=", ")

Rooseleer, Yvan
BiASC, Gravenbos 134, Liedekerke

In [13]:
print (first_name[0], last_name, sep = ". ")
print (company, address, city, sep=", ")

Y. Rooseleer
BiASC, Gravenbosstraat 134, Brussel

In [14]:
# STEP 5 username
first_name = "Yvan"
last_name = "Rooseleer"
company = "BiASC"
address = "Gravenbosstraat 134"
city = "Brussel"

user_name = first_name[0] +last_name[0:6]
print(user_name)
#user_name = user_name.lower()
#print(user_name)

YRoosel

In [15]:
# STEP 5 bis username
first_name = "Yvan"
last_name = "Rooseleer"
company = "BiASC"
address = "Gravenbosstraat 134"
city = "Brussel"

user_name = first_name[0] +last_name[0:6]
user_name = user_name.lower()  # of upper()
print(user_name)

yroosel

**Length of the hypotenuse**

Pythagorean formula

In [16]:
a = 3.0
b = 4.0
c = (a ** 2 + b ** 2) ** 0.5
print("c =", c)

c = 5.0

In [4]:
# new
# it is recommended to use parentheses for clarity in expressions 
a = 3.0
b = 4.0
c = ((a ** 2) + (b ** 2)) ** 0.5
print("c =", c)

c = 5.0

In [29]:
# new: Ask the user for input
a = input("Enter the value of a: ")
b = input("Enter the value of b: ")
print(type(a))
print(type(b))
a = float(a)
b = float(b)
print(type(a))
print(type(b))
# Calculate the hypotenuse c using the Pythagorean theorem
c = ((a ** 2) + (b ** 2)) ** 0.5

# Display the result
print("c =", c)

Enter the value of a:  2
Enter the value of b:  2

<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
c = 2.8284271247461903

**Simple converter**

In [17]:
kilometers = 42.150
miles = 26.4

miles_to_kilometers = miles * 1.61
kilometers_to_miles = kilometers / 1.61

print(miles, "miles is", round(miles_to_kilometers, 2), "kilometers")
print(kilometers, "kilometers is", round(kilometers_to_miles, 2), "miles")

26.4 miles is 42.5 kilometers
42.15 kilometers is 26.18 miles

In [47]:
# new: Get input from the user
kilometers = float(input("Enter distance in kilometers: "))
miles = float(input("Enter distance in miles: "))

# Perform conversions
miles_to_kilometers = miles * 1.61
kilometers_to_miles = kilometers / 1.61

# Display results
print(miles, "miles is", round(miles_to_kilometers, 2), "kilometers")
print(kilometers, "kilometers is", round(kilometers_to_miles, 2), "miles")

Enter distance in kilometers:  2.5
Enter distance in miles:  2

2.0 miles is 3.22 kilometers
2.5 kilometers is 1.55 miles

**Datetime**

In [16]:
# DATETIME STEP 1
# using a function to simplify coding
from datetime import datetime
now = datetime.now()
print("Current date and time:", now)

Current date and time: 2025-05-10 12:08:39.476333

In [18]:
# DATETIME STEP 2
from datetime import datetime
from zoneinfo import ZoneInfo  # Only available in Python 3.9+

# Choose a timezone
tz = ZoneInfo("Europe/Brussels")
print (tz)

Europe/Brussels

In [51]:
# DATETIME STEP 2 bis
# using timezone to improve date management
from datetime import datetime
from zoneinfo import ZoneInfo  # Only available in Python 3.9+

# Choose a timezone
tz = ZoneInfo("America/Paramaribo")

# Get current date and time in that timezone
now = datetime.now(tz)

# Format the date and time
MyOS = "Windows"
if MyOS == "Windows":
    # Use %#d for Windows; if on Linux/macOS, you can use %-d instead
    formatted_date = now.strftime("%#d %B %Y")
    formatted_time = now.strftime("%H:%M")
else:  
    # Use %#d for Windows; if on Linux/macOS, you can use %-d instead
    formatted_date = now.strftime("%-d %B %Y")     # e.g. 7 May 2025 (on Unix/macOS)
    formatted_time = now.strftime("%H:%M")         # e.g. 13:16
# Print the result
print(f"Date: {formatted_date}")
print(f"Time: {formatted_time} {tz.key}")

Date: 13 May 2025
Time: 13:25 America/Paramaribo

**Calculating Minutes**

In [22]:
## STEP 1
## CONVERT HH:MI TO MINUTES
## Verander de namen van de variabelen voor meer leesbaarheid
HH = 2 # uren
MM = 30 # minuten
MINS = (HH * 60) + MM # berekend aantal minuten
print ("Resultaat: " , HH, ":", MM ," is gelijk aan" , sep="", end=" ")
print(MINS, "minuten", sep=" ")

Resultaat: 2:30 is gelijk aan 150 minuten

In [23]:
## STEP 2
## CONVERT HH MIN SEC TO SECONDS
HH = 1
MM = 30
SS = 10
SEC = (HH * 60 * 60) + (MM * 60) + SS
print ("Result: " , HH, ":", MM , ":", SS , " is" , sep="", end=" ")
print(SEC, "seconds", sep=" ")

Result: 1:30:10 is 5410 seconds

In [25]:
## STEP 3
## CONVERT HH MIN SEC TO SECONDS : INTERACTIVE
HH = int(input("How  many hours? (0-48)"))
MM = int(input("How  many minutes? (0-59)"))
SS = int(input("How  many seconds? (0-59)"))
SEC = (HH * 60 * 60) + (MM * 60) + SS
print ("Result: " , HH, ":", MM , ":", SS , " is" , sep="", end=" ")
print(SEC, "seconds", sep=" ")

How  many hours? (0-48) 12
How  many minutes? (0-59) 12
How  many seconds? (0-59) 12

Result: 12:12:12 is 43932 seconds

In [2]:
## STEP 4 -- NOT FINISHED !
## integers expected as input
## if user enters invalid input program will crash; 
print("Start of the program")
print("Note: Program will crash if you enter a letter instead of a number)")

user_input = input("How many hours? (0–48): ")
HH = int(user_input)
if HH < 0 or HH > 48: 
    HH = 0

user_input = input("How many minutes? (0–59): ")
MM = int(user_input)
if MM < 0 or MM > 59: 
    MM = 0

user_input = input("How many seconds? (0–59): ")
SS = int(user_input)
if SS < 0 or SS > 59: 
    SS = 0

SEC = (HH * 60 * 60) + (MM * 60) + SS

print("Result: ", HH, ":", MM, ":", SS, " is", sep="", end=" ")
print(SEC, "seconds", sep=" ")
print("End of the program")

Start of the program
Note: Program will crash if you enter a letter instead of a number)

How many hours? (0–48):  2
How many minutes? (0–59):  2
How many seconds? (0–59):  2

Result: 2:2:2 is 7322 seconds
End of the program

In [57]:
## STEP 4b new
## convert invalid input (non-integer or out-of-range) to 0
print("Start of the program")
print("All invalid input will be converted to a zero (0) value")

user_input = input("How many hours? (0–48): ")
if user_input.isdigit():
    HH = int(user_input)
    if HH < 0 or HH > 48:
        HH = 0
else:
    HH = 0

user_input = input("How many minutes? (0–59): ")
if user_input.isdigit():
    MM = int(user_input)
    if MM < 0 or MM > 59:
        MM = 0
else:
    MM = 0

user_input = input("How many seconds? (0–59): ")
if user_input.isdigit():
    SS = int(user_input)
    if SS < 0 or SS > 59:
        SS = 0
else:
    SS = 0

SEC = (HH * 60 * 60) + (MM * 60) + SS

print("Result: ", HH, ":", MM, ":", SS, " is", sep="", end=" ")
print(SEC, "seconds", sep=" ")
print("End of the program")

Start of the program
All invalid input will be converted to a zero (0) value

How many hours? (0–48):  1
How many minutes? (0–59):  1
How many seconds? (0–59):  C

Result: 1:1:0 is 3660 seconds
End of the program

In [54]:
## STEP 4c new
## Functions make code more readable

print("Start of the program")
print("Note: Any invalid input will automatically be changed to 0.")

def get_valid_input(prompt, min_val, max_val):
    user_input = input(prompt)
    if user_input.isdigit():
        val = int(user_input)
        if min_val <= val <= max_val:
            return val
    return 0

HH = get_valid_input("How many hours? (0–48): ", 0, 48)
MM = get_valid_input("How many minutes? (0–59): ", 0, 59)
SS = get_valid_input("How many seconds? (0–59): ", 0, 59)

SEC = (HH * 60 * 60) + (MM * 60) + SS

print("Result: ", HH, ":", MM, ":", SS, " is", sep="", end=" ")
print(SEC, "seconds", sep=" ")
print("End of the program")

Start of the program
Note: Any invalid input will automatically be changed to 0.

How many hours? (0–48):  0
How many minutes? (0–59):  0
How many seconds? (0–59):  a

Result: 0:0:0 is 0 seconds
End of the program

In [53]:
## STEP 4d new
## Improving code to avoid program crashing
## try...except construction to change invalid inputs into zero (0)

print("Start of the program")
print("Note: Any invalid input will automatically be changed to 0.")

def get_valid_input(prompt, min_val, max_val):
    try:
        val = int(input(prompt))
        if min_val <= val <= max_val:
            return val
        else:
            return 0
    except:
        return 0

HH = get_valid_input("How many hours? (0–48): ", 0, 48)
MM = get_valid_input("How many minutes? (0–59): ", 0, 59)
SS = get_valid_input("How many seconds? (0–59): ", 0, 59)

SEC = (HH * 60 * 60) + (MM * 60) + SS

print("Result: ", HH, ":", MM, ":", SS, " is", sep="", end=" ")
print(SEC, "seconds", sep=" ")
print("End of the program")

Start of the program
Note: Any invalid input will automatically be changed to 0.

How many hours? (0–48):  1
How many minutes? (0–59):  1
How many seconds? (0–59):  a

Result: 1:1:0 is 3660 seconds
End of the program

In [56]:
## STEP 4e new
## Logic is separated into a convert_time_to_seconds() function
## More reusable; calculation logic is encapsulated in a function
## Formatting of the output is more generic, using an f-string

def get_valid_input(prompt, min_val, max_val):
    try:
        val = int(input(prompt))
        if min_val <= val <= max_val:
            return val
        else:
            return 0
    except:
        return 0

def convert_time_to_seconds():
    HH = get_valid_input("How many hours? (0–48): ", 0, 48)
    MM = get_valid_input("How many minutes? (0–59): ", 0, 59)
    SS = get_valid_input("How many seconds? (0–59): ", 0, 59)

    SEC = (HH * 60 * 60) + (MM * 60) + SS
    print(f"Result: {HH:02}:{MM:02}:{SS:02} is {SEC} seconds")

# Run the program
print("Start of the program")
print("Note: Any invalid input will automatically be changed to 0.")
convert_time_to_seconds()
print("End of the program")

Start of the program
Note: Any invalid input will automatically be changed to 0.

How many hours? (0–48):  1
How many minutes? (0–59):  1
How many seconds? (0–59):  X

Result: 01:01:00 is 3660 seconds
End of the program

In [58]:
## STEP 4f new
## Input stops immediately if user presses "enter"
## Output format: always two digits (e.g. 01:01:01)
## Writing code that considers possible errors is always more complex

def get_valid_input(prompt, min_val, max_val):
    while True:
        user_input = input(prompt)
        if user_input == "":
            return None  # stop bij Enter
        try:
            val = int(user_input)
            if min_val <= val <= max_val:
                return val
            else:
                print(f"Please enter a value between {min_val} and {max_val}, or press Enter to stop.")
        except ValueError:
            print("Invalid input. Please enter a number or press Enter to stop.")

def convert_time_to_seconds():
    HH = get_valid_input("How many hours? (0–48): ", 0, 48)
    if HH is None:
        return

    MM = get_valid_input("How many minutes? (0–59): ", 0, 59)
    if MM is None:
        return

    SS = get_valid_input("How many seconds? (0–59): ", 0, 59)
    if SS is None:
        return

    SEC = (HH * 60 * 60) + (MM * 60) + SS
    print(f"Result: {HH:02}:{MM:02}:{SS:02} is {SEC} seconds")

# Run the program
print("Start of the program")
print("Press Enter at any time to stop.")
convert_time_to_seconds()
print("End of the program")

Start of the program
Press Enter at any time to stop.

How many hours? (0–48):

End of the program

In [53]:
## STEP 5 - ORIGINAL SOLUTION USING 99
## Input stops immediately if user enters 99
## Output format: always two digits (e.g. 01:01:01)
## Writing code that considers possible errors is always more complex

def get_valid_input(prompt, min_val, max_val):
    while True:
        try:
            val = int(input(prompt))
            if val == 99:
                return 99
            if min_val <= val <= max_val:
                return val
            else:
                print(f"Please enter a value between {min_val} and {max_val}, or 99 to quit.")
        except ValueError:
            print("Invalid input. Please enter a number.")

def convert_time_to_seconds():
    HH = get_valid_input("How many hours? (0–48, 99 to quit): ", 0, 48)
    if HH == 99:
        return  # stop immediately

    MM = get_valid_input("How many minutes? (0–59, 99 to quit): ", 0, 59)
    if MM == 99:
        return  # stop immediately

    SS = get_valid_input("How many seconds? (0–59, 99 to quit): ", 0, 59)
    if SS == 99:
        return  # stop immediately

    # only executed if all inputs are valid (not 99)
    SEC = (HH * 60 * 60) + (MM * 60) + SS
    print(f"Result: {HH:02}:{MM:02}:{SS:02} is {SEC} seconds")

# Run the program
print("Start of the program")
convert_time_to_seconds()
print("End of the program")

Start of the program

How many hours? (0–48, 99 to quit):  50

Please enter a value between 0 and 48, or 99 to quit.

How many hours? (0–48, 99 to quit):  48
How many minutes? (0–59, 99 to quit):  99

End of the program

In [55]:
print(2+10)
print(2**10)

12
1024

In [67]:
def add(n1,n2):
    return n1+n2

def optellen(n1,n2):
    return n1+n2
 
def subtract(n1, n2):
    return n1-n2

def multiply(n1, n2):
    return n1*n2

def divide(n1, n2):
    if n2 != 0:
        return n1/n2
    else:
        return ("Error: Division by Zero")

def main():
    v1 = 10
    v2 = 20
    print ("Het resultaat van de optelling van", v1, "en",  v2, "is", add(v1,v2))
    #print (subtract(2,2))
    #print (multiply(2,2)
    #print (divide(2,2))

if __name__ == "__main__":
   main()

Het resultaat van de optelling van 10 en 20 is 30

In [75]:
print(True > False)
print(True < False)
print(int(True))
print(int(False))
print(1==1)
print(1==0)
print(True==False)
print(type(1))
print(type(True))
print(type(None))

True
False
1
0
True
False
False
<class 'int'>
<class 'bool'>
<class 'NoneType'>

In [99]:
# Sort names
import csv

# File to read
filename = "netherlands_suriname_names.csv"

# Read all rows into a list of dictionaries
with open(filename, mode="r", newline="") as file:
    reader = csv.DictReader(file)
    people = list(reader)

# Sort the list by last name, then by first name
people.sort(key=lambda person: (person["Last Name"], person["First Name"]))

# Display the header
print(f"{'Name':<25} {'Age in 2025':<12}")
print("-" * 40)

# Process and display each entry
for person in people:
    last_name = person["Last Name"]
    first_name = person["First Name"]
    birth_year = int(person["Birth Year"])

    # Format: Last Name, F.
    initial = first_name[0] + "." if first_name else ""
    formatted_name = f"{last_name}, {initial}"

    # Calculate age in 2025
    age_2025 = 2025 - birth_year

    print(f"{formatted_name:<25} {age_2025:<12}")
    
# Display how many
how_many = len(people)
print(f"Total names: {how_many}")

Name                      Age in 2025
----------------------------------------
Bakker, P.                54
Baldewsingh, S.           65
Jansen, K.                72
Jansen, P.                67
Jansen, P.                21
Jansen, S.                9
Kalloe, S.                26
Kalloe, S.                9
Meijer, J.                7
Meijer, K.                64
Meijer, S.                32
Monifa, C.                12
Monifa, C.                75
Pinas, A.                 69
Ramdien, C.               59
Visser, K.                59
Visser, S.                0
Visser, S.                50
de Vries, E.              25
de Vries, J.              51
Total names: 20

In [ ]:
# Display age of persons
import csv

# File to read
filename = "netherlands_suriname_names.csv"

# Read and process the CSV file
with open(filename, mode="r", newline="") as file:
    reader = csv.DictReader(file)
    
    print(f"{'Name':<25} {'Age in 2025':<12}")
    print("-" * 40)
    
    for row in reader:
        last_name = row["Last Name"]
        first_name = row["First Name"]
        birth_year = int(row["Birth Year"])
        
        # Format name as: Last Name, F.
        initial = first_name[0] + "." if first_name else ""
        formatted_name = f"{last_name}, {initial}"
        
        # Calculate age
        age_2025 = 2025 - birth_year
        
        print(f"{formatted_name:<25} {age_2025:<12}")