# Praktijkvoorbeelden 14 mei

**Tests kun je twee keer afleggen**

**Vandaag**
- Data types, conversions and operations (revisited)
- Input (revisited) 
- Conditions (if)
- Functions (readable, manageable and reusable code)
- Loops (for, while)
- Files (intro with text files)
- Lists: meer volgende week, eerst oefenen met loops
- Sorting (intro)

# Data Types

- int
  - very **natural**
- float
  - making a **calculator**
- boolean: True, False
  - computer **logic**
  - making **decisions**
- None
  - unknown
- string
  - computers can manage **language** easily: word processing, AI, ...

- complex: 
  - files are used to **store and transmit**: text file, csv, spreadsheet, image, ...
  - lists: **mainly next week**
  - dictionary and json: **later**

## Data Types in Python
- int
Natural numbers (e.g., 5, 42)

- float
Decimal numbers (e.g., 3.14) — useful in calculations

- bool (True, False)
Used in logic and decision-making
Powers conditions in if statements

- None
Represents unknown or no value

- str
Handles text and language — essential for AI and word processing

- complex
Real + imaginary numbers (e.g., 2 + 3j) — rare in practice

- file (via open(...)) Used to read from or write to external files

- list
Ordered sequence of values — to be covered next week

- dict / json
Key-value pairs — covered later

**Programming languages**

- "no ambiguity", as opposed to natural language
- "alternatives" are possible
  - some alternatives are better than others
  - some are safer than others

**Temperature**

- **Note** the comments in the code example

In [51]:
# Ask the user to enter a temperature in Celsius and determine if water will be liquid
temp = int(input("Enter the measured temperature in Celsius: "))

Enter the measured temperature in Celsius:  0

In [69]:
if temp in range(1,100): 
    is_liquid = True 
else: 
    is_liquid = False
print(is_liquid)

False

In [53]:
# First execute the previous cell
# Determine if the water is liquid
if temp in range(1,100):
    is_liquid = True
else:
    is_liquid = False

print(is_liquid)

False

In [79]:
is_liquid = temp > 0 and temp < 100
print(is_liquid)
# is_liquid = temp <= 0 or temp >= 100
# print(is_liquid)

False

In [55]:
# Display the result
print("Temperature measured:", temp)
print("Is water liquid at this temperature?", is_liquid)

Temperature measured: 0
Is water liquid at this temperature? False

In [59]:
# Alternative output
print("_" * 50)
print(f"Temperature: {temp}°C → Liquid: {is_liquid}")

__________________________________________________
Temperature: 0°C → Liquid: False

In [111]:
# Step 1
# Often we have to perform different calculations one after the other: example

# One
val1 = 11
val2 = 2  # avoid 0
calc_result = val1 / val2
print (calc_result)

# Two
val1 = 111
val2 = 10 # avoid 0
calc_result = val1 / val2
print (calc_result)

# Three
val1 = 1100
val2 = 2  # avoid 0
calc_result = val1 / val2
print (calc_result)

# Four
val1 = 1111
val2 = 10 # avoid 0
calc_result = val1 / val2
print (calc_result)

5.5
11.1
550.0
111.1

In [109]:
# Step 1 bis => Catch the ZeroDivisionError
val1 = 10
val2 = 0  

try:
    calc_result = val1 / val2
    print(calc_result)
except ZeroDivisionError:
    print("Error: Cannot divide by zero.")

Error: Cannot divide by zero.

In [101]:
# Step 2
# Improvement to prevent division by zero => code being copied => unreadable, unmanageable for reuse

# One
val1 = 10
val2 = 100  # avoid 0

if val2 != 0:
    calc_result = val1 / val2
else:
    print("Error: Division by Zero")
    
print (calc_result)

# Two
val1 = 100
val2 = 0 # avoid 0

if val2 != 0:
    calc_result = val1 / val2
else:
    print("Error: Division by Zero")

print (calc_result)

0.1
Error: Division by Zero
0.1

In [123]:
# Step 3: creating a function for reusabilty
# Functions allow to reuse the same code without copying
# 
def divide(n1, n2):
    if n2 != 0:
        return n1/n2
    else:
        return ("Error: Division by Zero")

val1 = 100
val2 = 10 

calc_result = divide(val1,val2)
print (calc_result)

10.0

**Add functions for other operators: **    //    % in the code fragment below**

In [ ]:
# Step 4: code fragment using functions for calculations

def add(n1,n2):
    calc_result = n1+n2
    return calc_result 

def subtract(n1, n2):
    return n1-n2

def multiply(n1, n2):
    return n1*n2

def divide(n1, n2):
    if n2 != 0:
        return n1/n2
    else:
        return ("Error: Division by Zero")

def main():
    print (add(100,10))
    print (subtract(100,10))
    print (multiply(100,10))
    print (divide(100,10))

if __name__ == "__main__":
   main()

**Leap Years**

- A year not divisible by 4 is not a leap year
- A year divisible by 4 but not by 100 is a leap year
- A year divisible by 100 but not by 400 is not a leap year
- A year divisible by 400 is a leap year

In [130]:
# elif is used to check more than just one condition, and to stop when the first statement which is true is found.

year = int(input("What year do you want to check? "))

if year % 4 != 0:
    print(f"{year} is NOT a leap year (not divisible by 4)")
elif year % 100 != 0:
    print(f"{year} IS a leap year (divisible by 4 but not by 100)")
elif year % 400 != 0:
    print(f"{year} is NOT a leap year (divisible by 100 but not by 400)")
else:
    print(f"{year} IS a leap year (divisible by 400)")

What year do you want to check?  2100

2100 is NOT a leap year (divisible by 100 but not by 400)

In [134]:
years = [1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 2100, 2200]

for year in years:
    if year % 4 != 0:
        print(f"{year} is NOT a leap year (not divisible by 4)")
    elif year % 100 != 0:
        print(f"{year} IS a leap year (divisible by 4 but not by 100)")
    elif year % 400 != 0:
        print(f"{year} is NOT a leap year (divisible by 100 but not by 400)")
    else:
        print(f"{year} IS a leap year (divisible by 400)")

print(type(years))

1000 is NOT a leap year (divisible by 100 but not by 400)
1100 is NOT a leap year (divisible by 100 but not by 400)
1200 IS a leap year (divisible by 400)
1300 is NOT a leap year (divisible by 100 but not by 400)
1400 is NOT a leap year (divisible by 100 but not by 400)
1500 is NOT a leap year (divisible by 100 but not by 400)
1600 IS a leap year (divisible by 400)
1700 is NOT a leap year (divisible by 100 but not by 400)
1800 is NOT a leap year (divisible by 100 but not by 400)
1900 is NOT a leap year (divisible by 100 but not by 400)
2000 IS a leap year (divisible by 400)
2100 is NOT a leap year (divisible by 100 but not by 400)
2200 is NOT a leap year (divisible by 100 but not by 400)
<class 'list'>

# Files

In [141]:
# Save your input in a file for later usage, or for transmission
text_to_save = input("What do you want to save?")
filename = "storage_or_transmission.txt" 
print("Writing to a file ...")
with open(filename, "w") as f:
    f.write(text_to_save)

What do you want to save? Historic Records May 2025

Writing to a file ...

In [143]:
print("Reading from a file ...")
filename = "storage_or_transmission.txt"
with open(filename, "r") as f:
    content = f.read()
    print(content)

Reading from a file ...
Historic Records May 2025

In [149]:
# Looping through files
# Basic example 1
filename = "netherlands_suriname_names.csv"

with open(filename, "r", encoding="utf-8") as file:
    lines = file.read().splitlines()

print("Printing list")
print(lines)
print()

Printing list
['Last Name,First Name,Birth Year', 'Kalloe,Sunil,1999', 'Jansen,Piet,1958', 'Jansen,Sanne,2016', 'Visser,Sanne,2025', 'Monifa,Chandni,2013', 'Pinas,Anjali,1956', 'Meijer,Jan,2018', 'de Vries,Jan,1974', 'Jansen,Kees,1953', 'Visser,Sanne,1975', 'Meijer,Sanne,1993', 'Monifa,Chandni,1950', 'de Vries,Emma,2000', 'Baldewsingh,Shaquille,1960', 'Ramdien,Chandni,1966', 'Bakker,Piet,1971', 'Visser,Kees,1966', 'Jansen,Piet,2004', 'Meijer,Kees,1961', 'Kalloe,Sunil,2016']

In [165]:
print("Printing three lines")
print(lines[0])
print(lines[1])
print(lines[-1])
print(len(lines))

Printing three lines
Last Name,First Name,Birth Year
Kalloe,Sunil,1999
Kalloe,Sunil,2016
21

In [185]:
print("Printing all lines\n") # => you will need a loop. For-loops are very common

# Iterate over lines (skip header)
for line in lines[1:]:
    print(line)

Printing all lines

Kalloe,Sunil,1999
Jansen,Piet,1958
Jansen,Sanne,2016
Visser,Sanne,2025
Monifa,Chandni,2013
Pinas,Anjali,1956
Meijer,Jan,2018
de Vries,Jan,1974
Jansen,Kees,1953
Visser,Sanne,1975
Meijer,Sanne,1993
Monifa,Chandni,1950
de Vries,Emma,2000
Baldewsingh,Shaquille,1960
Ramdien,Chandni,1966
Bakker,Piet,1971
Visser,Kees,1966
Jansen,Piet,2004
Meijer,Kees,1961
Kalloe,Sunil,2016

In [187]:
filename = "netherlands_suriname_names.csv"

with open(filename, "r", encoding="utf-8") as file:
    lines = file.read().splitlines()

print("Printing all lines\n")

# Iterate over lines (skip header)
for line in lines[1:]:
    fields = line.split(",")
    print(fields)

Printing all lines

['Kalloe', 'Sunil', '1999']
['Jansen', 'Piet', '1958']
['Jansen', 'Sanne', '2016']
['Visser', 'Sanne', '2025']
['Monifa', 'Chandni', '2013']
['Pinas', 'Anjali', '1956']
['Meijer', 'Jan', '2018']
['de Vries', 'Jan', '1974']
['Jansen', 'Kees', '1953']
['Visser', 'Sanne', '1975']
['Meijer', 'Sanne', '1993']
['Monifa', 'Chandni', '1950']
['de Vries', 'Emma', '2000']
['Baldewsingh', 'Shaquille', '1960']
['Ramdien', 'Chandni', '1966']
['Bakker', 'Piet', '1971']
['Visser', 'Kees', '1966']
['Jansen', 'Piet', '2004']
['Meijer', 'Kees', '1961']
['Kalloe', 'Sunil', '2016']

In [195]:
# Iterate over lines (skip header)
for line in lines[1:]:
    fields = line.split(",")
    if fields[2] >= "2000":
        print(fields[0], fields[1], sep=", ")

Jansen, Sanne
Visser, Sanne
Monifa, Chandni
Meijer, Jan
de Vries, Emma
Jansen, Piet
Kalloe, Sunil

**Sorting**

In [198]:
#Sorting on name
filename = "netherlands_suriname_names.csv"

with open(filename, "r", encoding="utf-8") as file:
    lines = file.read().splitlines()

# Separate header and data
header = lines[0]
data_lines = lines[1:]

# Sort the data lines alphabetically
sorted_lines = sorted(data_lines)

# Print header and sorted lines
print("Printing all lines (sorted):")
print(header)
for line in sorted_lines:
    print(line)

Printing all lines (sorted):
Last Name,First Name,Birth Year
Bakker,Piet,1971
Baldewsingh,Shaquille,1960
Jansen,Kees,1953
Jansen,Piet,1958
Jansen,Piet,2004
Jansen,Sanne,2016
Kalloe,Sunil,1999
Kalloe,Sunil,2016
Meijer,Jan,2018
Meijer,Kees,1961
Meijer,Sanne,1993
Monifa,Chandni,1950
Monifa,Chandni,2013
Pinas,Anjali,1956
Ramdien,Chandni,1966
Visser,Kees,1966
Visser,Sanne,1975
Visser,Sanne,2025
de Vries,Emma,2000
de Vries,Jan,1974

**Sorting on birth date**

In [201]:
# More complex
filename = "netherlands_suriname_names.csv"

with open(filename, "r", encoding="utf-8") as file:
    lines = file.read().splitlines()

# Separate header and data
header = lines[0]
data_lines = lines[1:]

print(header)

Last Name,First Name,Birth Year

In [203]:
# Find the index of "Birth Year"
header_fields = header.split(",")
birth_index = header_fields.index("Birth Year")

# Convert to list of tuples (birth_year_int, line)
def parse_birth_year(line):
    fields = line.split(",")
    try:
        return (int(fields[birth_index].strip()), line)
    except (IndexError, ValueError):
        return (float('inf'), line)  # Place malformed/missing years at the end

# Sort by birth year
sorted_data = sorted(data_lines, key=parse_birth_year)

# Print header and sorted lines
print("Printing all lines (sorted by birth year):")
print(header)
for line in sorted_data:
    print(line)

Printing all lines (sorted by birth year):
Last Name,First Name,Birth Year
Monifa,Chandni,1950
Jansen,Kees,1953
Pinas,Anjali,1956
Jansen,Piet,1958
Baldewsingh,Shaquille,1960
Meijer,Kees,1961
Ramdien,Chandni,1966
Visser,Kees,1966
Bakker,Piet,1971
de Vries,Jan,1974
Visser,Sanne,1975
Meijer,Sanne,1993
Kalloe,Sunil,1999
de Vries,Emma,2000
Jansen,Piet,2004
Monifa,Chandni,2013
Jansen,Sanne,2016
Kalloe,Sunil,2016
Meijer,Jan,2018
Visser,Sanne,2025