# Praktijkvoorbeelden 20 mei

In [18]:
numbers = [10, 5, 7, 2, 1]
print("Aantal elementen:", len(numbers))
print("Lijst:", numbers)
del numbers[1]
print("Aantal elementen:", len(numbers))
print("Lijst:", numbers)

Aantal elementen: 5
Lijst: [10, 5, 7, 2, 1]
Aantal elementen: 4
Lijst: [10, 7, 2, 1]

In [12]:
numbers.append(111)
print("Aantal elementen:", len(numbers))
print("Lijst:", numbers)

Aantal elementen: 5
Lijst: [10, 7, 2, 1, 111]

In [28]:
numbers.sort()
print("Aantal elementen:", len(numbers))
print("Lijst:", numbers)

Aantal elementen: 7
Lijst: [1, 2, 7, 10, 222, 333, 555]

In [26]:
numbers.insert(-1, 555)
print(len(numbers))
print(numbers)

7
[1, 2, 7, 10, 333, 555, 222]

In [36]:
my_list = [1, 2, 7, 10, 222, 333, 555]
total = 0

for i in range(len(my_list)):
    print("Value: " , my_list[i])
    total = total + my_list[i]
    print("Subtotal: ", total)
    # total += my_list[i]

print(total)

Value:  1
Subtotal:  1
Value:  2
Subtotal:  3
Value:  7
Subtotal:  10
Value:  10
Subtotal:  20
Value:  222
Subtotal:  242
Value:  333
Subtotal:  575
Value:  555
Subtotal:  1130
1130

In [56]:
list_1 = [1,2,3,4,5]
list_2 = list_1[0:len(list_1)]
print(list_1)
print(list_2)
#list_1[0] = 2
#print(list_2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [58]:
my_list = [0, 3, 12, 8, 2]

print(5 in my_list)

print(5 not in my_list)

print(12 in my_list)

False
True
True

In [80]:
my_list = [17, 3, 11, 5, 1, 9000, 7, 150, 13000, 15000]
largest = my_list[0]
print(largest)

17

In [82]:
for i in range(0, len(my_list)):
    if my_list[i] > largest:
        largest = my_list[i]

print(largest)

15000