# Praktijkvoorbeelden 13 mei

In [4]:
# Print de datum van vandaag

In [2]:
from datetime import datetime
now = datetime.now()
print("Current date and time:", now)

Current date and time: 2025-05-13 18:18:53.584529

In [10]:
# DATETIME STEP 2 bis
# using timezone to improve date management
from datetime import datetime
from zoneinfo import ZoneInfo  # Only available in Python 3.9+

# Choose a timezone
# tz = ZoneInfo("Europe/Brussels")
tz = ZoneInfo("America/Paramaribo")
# Get current date and time in that timezone
now = datetime.now(tz)
# Format the date and time
# Use %#d for Windows; if on Linux/macOS, you can use %-d instead
formatted_date = now.strftime("%#d %B %Y")
formatted_time = now.strftime("%H:%M")
# Print the result
print(f"Date: {formatted_date}")
print(f"Time: {formatted_time} {tz.key}")

Date: 13 May 2025
Time: 13:26 America/Paramaribo

In [34]:
# new: Get input from the user
kilometers = float(input("Enter distance in kilometers: "))
miles = float(input("Enter distance in miles: "))

# Perform conversions
miles_to_kilometers = miles * 1.61
kilometers_to_miles = kilometers / 1.61

# Display results
print(miles, "miles is", round(miles_to_kilometers, 2), "kilometers")
print(kilometers, "kilometers is", round(kilometers_to_miles, 2), "miles")

Enter distance in kilometers:  10
Enter distance in miles:  10

10.0 miles is 16.1 kilometers
10.0 kilometers is 6.21 miles

In [14]:
## STEP 1
## CONVERT HH:MI TO MINUTES
## Verander de namen van de variabelen voor meer leesbaarheid
HH = 12 # uren
MM = 30 # minuten
MINS = (HH * 60) + MM # berekend aantal minuten
print ("Resultaat: " , HH, ":", MM ," is gelijk aan" , sep="", end=" ")
print(MINS, "minuten", sep=" ")

Resultaat: 12:30 is gelijk aan 750 minuten

In [28]:
## STEP 3
## CONVERT HH MIN SEC TO SECONDS : INTERACTIVE
HH = int(input("How  many hours? (0-48)"))
MM = int(input("How  many minutes? (0-59)"))
SS = int(input("How  many seconds? (0-59)"))
SEC = (HH * 60 * 60) + (MM * 60) + SS
print ("Result: " , HH, ":", MM , ":", SS , " is" , sep="", end=" ")
print(SEC, "seconds", sep=" ")

How  many hours? (0-48) 2
How  many minutes? (0-59) 2
How  many seconds? (0-59) 2

Result: 2:2:2 is 7322 seconds

In [32]:
## STEP 4 -- NOT FINISHED !
## integers expected as input
## if user enters invalid input program will crash; 
print("Start of the program")
print("Note: Program will crash if you enter a letter instead of a number)")

user_input = input("How many hours? (0–48): ")
HH = int(user_input)
if HH < 0 or HH > 48:
    # print("Sorry, de input is fout")
    HH = 0

user_input = input("How many minutes? (0–59): ")
MM = int(user_input)
if MM < 0 or MM > 59: 
    MM = 0

user_input = input("How many seconds? (0–59): ")
SS = int(user_input)
if SS < 0 or SS > 59: 
    SS = 0

SEC = (HH * 60 * 60) + (MM * 60) + SS

print("Result: ", HH, ":", MM, ":", SS, " is", sep="", end=" ")
print(SEC, "seconds", sep=" ")
print("End of the program")

Start of the program
Note: Program will crash if you enter a letter instead of a number)

How many hours? (0–48):  100

Sorry, de input is fout

How many minutes? (0–59):  100
How many seconds? (0–59):  100

Result: 0:0:0 is 0 seconds
End of the program

In [42]:
print(True > False)
print(True < False)
print(int(True))
print(int(False))
print(1==1)
print(1==0)
print(True==False)
print(type(1))
print(type(True))
print(type(None))

True
False
1
0
True
False
False
<class 'int'>
<class 'bool'>
<class 'NoneType'>

In [40]:
name = None
print("Naam: " , name)
name = "" # empty string is invisible
print("Naam: " , name)

Naam:  None
Naam:

In [58]:
print(None == "")

False

In [54]:
name = None # note the same as the empty string ""
name = input("What's your name?")
if name != "":  
    print(name)
else: 
    print("Unknown")

What's your name?

Unknown

In [40]:
# Basic example 1
filename = "netherlands_suriname_names.csv"

with open(filename, "r", encoding="utf-8") as file:
    lines = file.read().splitlines()

print(lines[0])
print(lines[1])
print(lines[])

# Iterate over remaining lines (skip header)
for line in lines[1:]:
    print (lines(line))

Last Name,First Name,Birth Year

TypeError: 'list' object is not callable

In [30]:
# Basic example 2
filename = "netherlands_suriname_names.csv"

with open(filename, "r", encoding="utf-8") as file:
    lines = file.read().splitlines()

# First row (row zero) is the header
header = lines[0].split(",")

# Iterate over remaining lines (skip header)
count = 0
for line in lines[1:]:
    fields = line.split(",")
    print (fields)
    count += 1

# Display how many
print(f"Total names: {count}")

Last Name,First Name,Birth Year
Kalloe,Sunil,1999
['Kalloe', 'Sunil', '1999']
['Jansen', 'Piet', '1958']
['Jansen', 'Sanne', '2016']
['Visser', 'Sanne', '2025']
['Monifa', 'Chandni', '2013']
['Pinas', 'Anjali', '1956']
['Meijer', 'Jan', '2018']
['de Vries', 'Jan', '1974']
['Jansen', 'Kees', '1953']
['Visser', 'Sanne', '1975']
['Meijer', 'Sanne', '1993']
['Monifa', 'Chandni', '1950']
['de Vries', 'Emma', '2000']
['Baldewsingh', 'Shaquille', '1960']
['Ramdien', 'Chandni', '1966']
['Bakker', 'Piet', '1971']
['Visser', 'Kees', '1966']
['Jansen', 'Piet', '2004']
['Meijer', 'Kees', '1961']
['Kalloe', 'Sunil', '2016']
Total names: 20

In [2]:
# Added security
filename = "netherlands_suriname_names.csv"

with open(filename, "r", encoding="utf-8") as file:
    lines = file.read().splitlines()

# First row (row zero) is the header
header = lines[0].split(",")
first_name_index = header.index("First Name")
last_name_index = header.index("Last Name")
birth_index = header.index("Birth Year")

# Iterate over remaining lines (skip header)
count = 0
for line in lines[1:]:
    fields = line.split(",")
    
    # Skip if line is malformed
    if len(fields) <= max(first_name_index, last_name_index, birth_index):
        print("Encountered malformed line — skipping.")
        continue

    first = fields[first_name_index].strip()
    last = fields[last_name_index].strip()
    birth = "(" + fields[birth_index].strip() + ")"

    if not first or not last:
        print("Encountered missing name — stopping.")
        break

    print(last, first, birth, sep=", ")
    count += 1

# Display how many
print(f"Total names: {count}")

Kalloe, Sunil, (1999)
Jansen, Piet, (1958)
Jansen, Sanne, (2016)
Visser, Sanne, (2025)
Monifa, Chandni, (2013)
Pinas, Anjali, (1956)
Meijer, Jan, (2018)
de Vries, Jan, (1974)
Jansen, Kees, (1953)
Visser, Sanne, (1975)
Meijer, Sanne, (1993)
Monifa, Chandni, (1950)
de Vries, Emma, (2000)
Baldewsingh, Shaquille, (1960)
Ramdien, Chandni, (1966)
Bakker, Piet, (1971)
Visser, Kees, (1966)
Jansen, Piet, (2004)
Meijer, Kees, (1961)
Kalloe, Sunil, (2016)
Total names: 20

In [16]:
# Display age of persons
# alternative approach
import csv

# File to read
filename = "netherlands_suriname_names.csv"

# Read and process the CSV file
with open(filename, mode="r", newline="") as file:
    reader = csv.DictReader(file)  
    for row in reader:
        last_name = row["Last Name"]
        first_name = row["First Name"]
        birth_year = int(row["Birth Year"])
        
        # Format name as: Last Name, F.
        initial = first_name[0] + "." if first_name else ""
        formatted_name = f"{last_name}, {initial}"
        
        # Calculate age
        age_2025 = 2025 - birth_year
        
        # print(f"{formatted_name:<25} {age_2025:<12}")
        print(formatted_name, age_2025)

Kalloe, S. 26
Jansen, P. 67
Jansen, S. 9
Visser, S. 0
Monifa, C. 12
Pinas, A. 69
Meijer, J. 7
de Vries, J. 51
Jansen, K. 72
Visser, S. 50
Meijer, S. 32
Monifa, C. 75
de Vries, E. 25
Baldewsingh, S. 65
Ramdien, C. 59
Bakker, P. 54
Visser, K. 59
Jansen, P. 21
Meijer, K. 64
Kalloe, S. 9