**PRINT**

In [414]:
print("My name is", "Yvan.")
print("Yvan Rooseleer.")

My name is Yvan.
Yvan Rooseleer.

In [444]:
print(300000 * .21)

63000.0

In [452]:
print("The itsy bitsy spider climbed \n up the waterspout.")
print()
print("Down came the rain and washed the \n spider out.")

The itsy bitsy spider climbed
 up the waterspout.

Down came the rain and washed the
 spider out.

In [454]:
print("\\")

\

In [462]:
print("Yvan\n" , "Rooseleer\n" , "Brussel\n")

Yvan
 Rooseleer
 Brussel

In [476]:
print("My name is", "Python.", end=" ")
print("Monty Python.")

My name is Python. Monty Python.

In [480]:
print("My", "name", "is", "Monty", "Python.", sep="***")

My***name***is***Monty***Python.

In [484]:
print("Yvan", "Rooseleer", "woont", sep="***", end="!!!")
print("in", "Brussel.", sep="+++", end="+++\n")

Yvan***Rooseleer***woont!!!in+++Brussel.+++

In [218]:
print("My", "name", "is", sep="_", end="*")
print("Monty", "Python.", sep="*", end="*\n")

My_name_is*Monty*Python.*

In [416]:
print("My\nname\nis\nBond.", end=" ")
print("James Bond.")

My
name
is
Bond. James Bond.

In [268]:
print("\"I'm\"\n\"\"learning\"\"\n\"\"\"Python\"\"\"")

"I'm"
""learning""
"""Python"""

In [220]:
print("Programming","Essentials","in", sep="***", end="...")
print("Python")

Programming***Essentials***in...Python

In [486]:
print("    *")
print("   * *")
print("  *   *")
print(" *     *")
print("***   ***")
print("  *   *")
print("  *   *")
print("  *****")

    *
   * *
  *   *
 *     *
***   ***
  *   *
  *   *
  *****

In [490]:
###################
print("original version:")
###################
print("    *")
print("   * *")
print("  *   *")
print(" *     *")
print("***   ***")
print("  *   *")
print("  *   *")
print("  *****")
###################
print("with fewer 'print()' invocations:")
###################
print("    *\n   * *\n  *   *\n *     *\n***   ***")
print("  *   *\n  *   *\n  *****")
###################
print("higher:")
###################
print("        *")
print("       * *")
print("      *   *")
print("     *     *")
print("    *       *")
print("   *         *")
print("  *           *")
print(" *             *")
print("******     ******")
print("     *     *")
print("     *     *")
print("     *     *")
print("     *     *")
print("     *     *")
print("     *     *")
print("     *******")
###################
print("doubled:")
###################
m2 = 2
print("        *        "*m2)
print("       * *       "*m2)
print("      *   *      "*m2)
print("     *     *     "*m2)
print("    *       *    "*m2)
print("   *         *   "*m2)
print("  *           *  "*m2)
print(" *             * "*m2)
print("******     ******"*m2)
print("     *     *     "*m2)
print("     *     *     "*m2)
print("     *     *     "*m2)
print("     *     *     "*m2)
print("     *     *     "*m2)
print("     *     *     "*m2)
print("     *******     "*m2)

original version:
    *
   * *
  *   *
 *     *
***   ***
  *   *
  *   *
  *****
with fewer 'print()' invocations:
    *
   * *
  *   *
 *     *
***   ***
  *   *
  *   *
  *****
higher:
        *
       * *
      *   *
     *     *
    *       *
   *         *
  *           *
 *             *
******     ******
     *     *
     *     *
     *     *
     *     *
     *     *
     *     *
     *******
doubled:
        *                *
       * *              * *
      *   *            *   *
     *     *          *     *
    *       *        *       *
   *         *      *         *
  *           *    *           *
 *             *  *             *
******     ************     ******
     *     *          *     *
     *     *          *     *
     *     *          *     *
     *     *          *     *
     *     *          *     *
     *     *          *     *
     *******          *******

In [494]:
print("tripled:")
###################
m = 4
print("        *        "*m)
print("       * *       "*m)
print("      *   *      "*m)
print("     *     *     "*m)
print("    *       *    "*m)
print("   *         *   "*m)
print("  *           *  "*m)
print(" *             * "*m)
print("******     ******"*m)
print("     *     *     "*m)
print("     *     *     "*m)
print("     *     *     "*m)
print("     *     *     "*m)
print("     *     *     "*m)
print("     *     *     "*m)
print("     *******     "*m)

tripled:
        *                *                *                *
       * *              * *              * *              * *
      *   *            *   *            *   *            *   *
     *     *          *     *          *     *          *     *
    *       *        *       *        *       *        *       *
   *         *      *         *      *         *      *         *
  *           *    *           *    *           *    *           *
 *             *  *             *  *             *  *             *
******     ************     ************     ************     ******
     *     *          *     *          *     *          *     *
     *     *          *     *          *     *          *     *
     *     *          *     *          *     *          *     *
     *     *          *     *          *     *          *     *
     *     *          *     *          *     *          *     *
     *     *          *     *          *     *          *     *
     *******          *******          *******          *******

In [4]:
#print(type(123))
#print(type("123"))
#print(type(123.5))
#print(type("Yvan"))

v= "0.123"
print (v*2)

0.1230.123

In [572]:
v1 = 144.4
d2 = 11
print (type(v1))
print (v1 / d2)
print (v1 // d2)
print (v1 % d2)

<class 'float'>
13.127272727272727
13.0
1.4000000000000057

In [648]:
#v1 = 1
#v1 = v1 + 2
v1 += 2
print(v1)

11

**Number systems**

In [245]:
print(0o123)
print(0o11)

83
9

In [247]:
print(0x123)
print(0x11)

291
17

**Floating Point**

In [249]:
print(0.0000000000000000000001)

1e-22

**STRINGS**

In [252]:
print("I like \"Monty Python\"")

I like "Monty Python"

In [255]:
print('I like "Monty Python"')

I like "Monty Python"

In [257]:
print('I\'m Monty Python.')

I'm Monty Python.

In [332]:
a = '1'
b = "1"
print(a + b)

11

**Boolean values**

In [266]:
print(True > False)
print(True < False)
print(True == False)
print(True == True)
print(True == None)

True
False
False
True
False

**Exponentiation**

In [271]:
print(2 ** 3)
print(2 ** 3.)
print(2. ** 3)
print(2. ** 3.)

8
8.0
8.0
8.0

**Integer division (floor division)**

In [276]:
print(6 // 3)
print(6 // 3.)
print(6. // 3)
print(6. // 3.)

1
2.0
2.0
2.0

In [280]:
print(6 // 3)
print(6 // 4)
print(6 // 5)

2
1
1

In [282]:
print(-6 // 4)
print(6. // -4)

-2
-2.0

**Remainder (modulo)**

In [293]:
print(6 % 3)
print(6 % 4)
print(6 % 5)
print(6 // 3.0)
print(6 // 3.5)

0
2
1
2.0
1.0

In [295]:
print(9 % 6 % 2)

1

In [299]:
print((9 % 6) % 2)

1

**Operators**

In [393]:
x = 1
y = 2
z = x
x = y
y = z
print(x, y)

2 1

In [9]:
x = int(input())
y = int(input())
 
x = x // y
y = y // x
 
print(y)

 4
 2

1

In [397]:
x = int(input())
y = int(input())
 
x = x / y
y = y / x

print(y)

 2
 4

8.0

In [399]:
x = int(input())
y = int(input())
 
x = x % y
x = x % y
y = y % x
 
print(y)

 11
 4

1

**Exponentiation operator** uses right-sided binding

In [301]:
print(2 ** 2 ** 3)

256

In [303]:
print((2 ** 2) ** 3)

64

In [305]:
print(2 ** (2 ** 3))

256

**Operators and their bindings**

The binding of the operator determines the order of computations performed by some operators with equal priority, put side by side in one expression.

In [308]:
print(2 * 3 % 5)

1

In [312]:
print(2 * (3 % 5))

6

In [314]:
print((2 * 3) % 5)

1

In [409]:
x = 1 / 2 + 3 // 3 + 4 ** 2
print(x)
x = (1 / 2) + (3 // 3) + (4 ** 2)
print(x)

17.5
17.5

In [411]:
x = int(input())
y = int(input())
 
print(x + y)

 2
 4

6

**Operators and parentheses**

In [316]:
print((5 * ((25 % 13) + 100) / (2 * 13)) // 2)

10.0

**Shortcut Operators**

In [335]:
a = 6
b = 3
a /= 2 * b
print(a)

1.0

**Assign a new value to an already existing variable**

In [320]:
var = 1
print(var)
var = var + 1
print(var)

1
2

**Length of the hypotenuse**

In [327]:
a = 3.0
b = 4.0
c = (a ** 2 + b ** 2) ** 0.5
print("c =", c)

c = 5.0

**Simple converter**

In [330]:
kilometers = 12.25
miles = 7.38

miles_to_kilometers = miles * 1.61
kilometers_to_miles = kilometers / 1.61

print(miles, "miles is", round(miles_to_kilometers, 2), "kilometers")
print(kilometers, "kilometers is", round(kilometers_to_miles, 2), "miles")

7.38 miles is 11.88 kilometers
12.25 kilometers is 7.61 miles

**INPUT**

In [340]:
print("Tell me anything...")
anything = input()
print("Hmm...", anything, "... Really?")

Tell me anything...

 Yes, we can!

Hmm... Yes, we can! ... Really?

In [342]:
anything = input("Tell me anything...")
print("Hmm...", anything, "...Really?")

Tell me anything... No, we won't!

Hmm... No, we won't! ...Really?

In [401]:
x = input()
y = int(input())
 
print(x * y)

 5
 5

55555

In [17]:
# ERROR
anything = input("Enter a number: ")
something = anything ** 2
print(anything, "to the power of 2 is", something)

Enter a number:  2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [346]:
anything = float(input("Enter a number: "))
something = anything ** 2.0
print(anything, "to the power of 2 is", something)

Enter a number:  2

2.0 to the power of 2 is 4.0

In [348]:
leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
hypo = (leg_a**2 + leg_b**2) ** .5
print("Hypotenuse length is", hypo)

Input first leg length:  3
Input second leg length:  4

Hypotenuse length is 5.0

In [350]:
leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
print("Hypotenuse length is", (leg_a**2 + leg_b**2) ** .5)

Input first leg length:  4
Input second leg length:  5

Hypotenuse length is 6.4031242374328485

**String operators**

In [380]:
name = input("Enter your name: ")
print("Hello, " + name + ". Nice to meet you!")

Enter your name:  James

Hello, James. Nice to meet you!

In [382]:
name = input("Enter your name: ")
print("Hello, " + name + ". Nice to meet you!")
 
print("\nPress Enter to end the program.")
input()
print("THE END.")

Enter your name:  John

Hello, John. Nice to meet you!

Press Enter to end the program.

THE END.

In [386]:
my_input = input("Enter something: ") 
print(my_input * 3)

Enter something:  bla

blablabla

In [388]:
x = int(input("Enter a number: ")) # The user enters 2
print(x * "5")

Enter a number:  5

55555

In [390]:
x = input("Enter a number: ") # The user enters 2
print(type(x))

Enter a number:  5

<class 'str'>

In [353]:
fnam = input("May I have your first name, please? ")
lnam = input("May I have your last name, please? ")
print("Thank you.")
print("\nYour name is " + fnam + " " + lnam + ".")

May I have your first name, please?  Julio
May I have your last name, please?  Iglesias

Thank you.

Your name is Julio Iglesias.

In [403]:
z = y = x = 1
print(x, y, z, sep='*')

1*1*1

**String Replication**

In [356]:
print("+" + 10 * "-" + "+")
print(("|" + " " * 10 + "|\n") * 5, end="")
print("+" + 10 * "-" + "+")

+----------+
|          |
|          |
|          |
|          |
|          |
+----------+

In [366]:
size = 20
height = 10
print("+" + size * "-" + "+")
print(("|" + " " * size + "|\n") * height, end="")
print("+" + size * "-" + "+")

+--------------------+
|                    |
|                    |
|                    |
|                    |
|                    |
|                    |
|                    |
|                    |
|                    |
|                    |
+--------------------+

**Right-angle triangle again**

In [369]:
eg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
print("Hypotenuse length is " + str((leg_a**2 + leg_b**2) ** .5))

Input first leg length:  3
Input second leg length:  4

Hypotenuse length is 5.656854249492381

**Operators and expressions**

In [376]:
x = float(input("Enter value for x: "))
y = 1./(x + 1./(x + 1./(x + 1./x)))
print("y =", y)

Enter value for x:  10

y = 0.09901951266867294

In [378]:
hour = int(input("Starting time (hours): "))
mins = int(input("Starting time (minutes): "))
dura = int(input("Event duration (minutes): "))
mins = mins + dura # find a total of all minutes
hour = hour + mins // 60 # find a number of hours hidden in minutes and update the hour
mins = mins % 60 # correct minutes to fall in the (0..59) range
hour = hour % 24 # correct hours to fall in the (0..23) range
print(hour, ":", mins, sep='')

Starting time (hours):  12
Starting time (minutes):  12
Event duration (minutes):  40

12:52

**IF ELSE**

In [132]:
income = float(input("Enter the annual income: "))

if income < 85528:
	tax = income * 0.18 - 556.02
# Write the rest of your code here.

tax = round(tax, 0)
print("The tax is:", tax, "thalers")

Enter the annual income:  123

The tax is: -534.0 thalers

In [135]:
income = float(input("Enter the annual income: "))

if income < 85528:
	tax = income * 0.18 - 556.02
else:
	tax = (income - 85528) * 0.32 + 14839.02

if tax < 0.0:
	tax = 0.0

tax = round(tax, 0)
print("The tax is:", tax, "thalers")

Enter the annual income:  123

The tax is: 0.0 thalers

**LOOPS**

In [137]:
# A program that reads a sequence of numbers
# and counts how many numbers are even and how many are odd.
# The program terminates when zero is entered.
 
odd_numbers = 0
even_numbers = 0
 
# Read the first number.
number = int(input("Enter a number or type 0 to stop: "))
 
# 0 terminates execution.
while number != 0:
    # Check if the number is odd.
    if number % 2 == 1:
        # Increase the odd_numbers counter.
        odd_numbers += 1
    else:
        # Increase the even_numbers counter.
        even_numbers += 1
    # Read the next number.
    number = int(input("Enter a number or type 0 to stop: "))
 
# Print results.
print("Odd numbers count:", odd_numbers)
print("Even numbers count:", even_numbers)

Enter a number or type 0 to stop:  10
Enter a number or type 0 to stop:  9
Enter a number or type 0 to stop:  0

Odd numbers count: 1
Even numbers count: 1

In [44]:
i = 0
while i <= 3 :
    i += 2
    print("*")

*
*

In [46]:
i = 0
while i <= 5 :
    i += 1
    if i % 2 == 0:
      break
    print("*")

*

In [165]:
i = 1
while i < 5:
    print(i)
    i += 1
else:
    print("else:", i)

1
2
3
4
else: 5

In [139]:
for i in range(10):
    print("The value of i is currently", i)

The value of i is currently 0
The value of i is currently 1
The value of i is currently 2
The value of i is currently 3
The value of i is currently 4
The value of i is currently 5
The value of i is currently 6
The value of i is currently 7
The value of i is currently 8
The value of i is currently 9

In [145]:
for i in range(2, 8):
    print("The value of i is currently", i)

The value of i is currently 2
The value of i is currently 3
The value of i is currently 4
The value of i is currently 5
The value of i is currently 6
The value of i is currently 7

In [149]:
for i in range(2, 8, 3):
    print("The value of i is currently", i)

The value of i is currently 2
The value of i is currently 5

In [155]:
# EMPTY RANGE
for i in range(1, 1):
    print("The value of i is currently", i)

In [161]:
power = 1
for expo in range(16):
    print(power)
    print(expo)
    print("2 to the power of", expo, "is", power)
    power *= 2

1
0
2 to the power of 0 is 1
2
1
2 to the power of 1 is 2
4
2
2 to the power of 2 is 4
8
3
2 to the power of 3 is 8
16
4
2 to the power of 4 is 16
32
5
2 to the power of 5 is 32
64
6
2 to the power of 6 is 64
128
7
2 to the power of 7 is 128
256
8
2 to the power of 8 is 256
512
9
2 to the power of 9 is 512
1024
10
2 to the power of 10 is 1024
2048
11
2 to the power of 11 is 2048
4096
12
2 to the power of 12 is 4096
8192
13
2 to the power of 13 is 8192
16384
14
2 to the power of 14 is 16384
32768
15
2 to the power of 15 is 32768

after exiting the loop, the else statement is executed

In [55]:
var = 0
while var < 6:
    var += 1
    if var % 2 == 0:
        continue
    print("#")

#
#
#

In [120]:
var = 1
while var < 10:
    print(var)
    print("#")
    var = var << 1

1
#
2
#
4
#
8
#

In [163]:
for i in range(1):
    print("#")
else:
    print("#")

#
#

In [167]:
for i in range(5):
    print(i)
else:
    print("else:", i)

0
1
2
3
4
else: 4

In [185]:
i = None
for i in range(2, 1):
    print(i)
else:
    print("else:", i)

else: None

In [189]:
for i in range(1, 10):
    if i % 2 == 0:
        print(i)

2
4
6
8

In [193]:
word = "Python"
for letter in word:
    print(letter, end="*")

P*y*t*h*o*n*

In [201]:
n = 0
while n != 3:
    print(n)
    n += 1
else:
    print(n, "else")

0
1
2
3 else

In [199]:
for i in range(0, 3):
    print(i)
else:
    print(i, "else")

0
1
2
2 else

In [209]:
for i in range(3):
    print(i, end=" ")  # Outputs: 0 1 2

0 1 2

In [207]:
for i in range(6, 1, -2):
    print(i, end="->")  # Outputs: 6, 4, 2

6->4->2->

**Collatz Sequence**

In [8]:
def collatz_sequence():
    try:
        c0 = int(input("Enter a natural number (non-zero positive integer): "))
        if c0 <= 0:
            print("The number must be a natural number (greater than 0).")
            return

        steps = 0
        print(f"Starting with: {c0}")

        while c0 != 1:
            if c0 % 2 == 0:
                c0 = c0 // 2
            else:
                c0 = 3 * c0 + 1
            print(c0)
            steps += 1

        print(f"Total steps: {steps}")

    except ValueError:
        print("Invalid input. Please enter a natural number.")

# Run the program
collatz_sequence()

Enter a natural number (non-zero positive integer):  99

Starting with: 99
298
149
448
224
112
56
28
14
7
22
11
34
17
52
26
13
40
20
10
5
16
8
4
2
1
Total steps: 25

**Logical and bit operations**

In [122]:
z = 10
y = 0
x = (y < z and z > y) or (y > z and z < y)
print(x)

True

In [65]:
a = 1
b = 0
c = a & b
d = a | b
e = a ^ b
 
print(c + d + e)

2

In [13]:
i = 15
j = 22
log = i and j
print(log)
# Print values in decimal and binary
print(f"i = {i} -> binary: {bin(i)}")
print(f"j = {j} -> binary: {bin(j)}")
print(f"i and j = {log} -> binary: {bin(log)}")

22
i = 15 -> binary: 0b1111
j = 22 -> binary: 0b10110
i and j = 22 -> binary: 0b10110

In [17]:
i = 15
j = 22

# Logical AND (returns j because i is non-zero)
logical_result = i and j

# Bitwise AND (compares bits)
bitwise_result = i & j
print(f"i          = {i:3} -> binary: {format(i, '08b')}")
print(f"j          = {j:3} -> binary: {format(j, '08b')}")
print(f"i and j    = {logical_result:3} -> binary: {format(logical_result, '08b')} (logical AND)")
print(f"i & j      = {bitwise_result:3} -> binary: {format(bitwise_result, '08b')} (bitwise AND)")

i          =  15 -> binary: 00001111
j          =  22 -> binary: 00010110
i and j    =  22 -> binary: 00010110 (logical AND)
i & j      =   6 -> binary: 00000110 (bitwise AND)

**XOR Operator**

In [19]:
a = 12        # 1100
b = 10        # 1010

result = a ^ b  # 0110 = 6

print(f"{a:08b} (a)")
print(f"{b:08b} (b)")
print(f"{result:08b} (a ^ b)")

00001100 (a)
00001010 (b)
00000110 (a ^ b)

**Binary left shift and binary right shift**

In [21]:
var = 17
var_right = var >> 1
var_left = var << 2
print(var, var_left, var_right)

17 68 8

**Logican and bitwise**

In [24]:
x = 1
y = 0
 
z = ((x == y) and (x == y)) or not(x == y)
print(not(z))

False

In [27]:
x = 4
y = 1
 
a = x & y
b = x | y
c = ~x  # tricky!
d = x ^ 5
e = x >> 2
f = x << 2
 
print(a, b, c, d, e, f)

0 5 -5 1 1 16

**Lists**

In [89]:
vals = [0, 1, 2]
vals[0], vals[2] = vals[2], vals[0]
print(vals)

[2, 1, 0]

In [93]:
vals = [0, 1, 2]
vals.insert(0, 1)
del vals[1]
print(vals)

[1, 1, 2]

In [95]:
nums = [1, 2, 3]
vals = nums
del vals[1:2]
print(nums)
print(vals)

[1, 3]
[1, 3]

In [97]:
nums = [1, 2, 3]
vals = nums[-1:-2]
print(nums)
print(vals)

[1, 2, 3]
[]

In [101]:
my_list_1 = [1, 2, 3]
my_list_2 = []
for v in my_list_1:
    my_list_2.insert(0, v)
    print(my_list_2)    
print(my_list_2)

[1]
[2, 1]
[3, 2, 1]
[3, 2, 1]

In [103]:
my_list = [1, 2, 3]
for v in range(len(my_list)):
    my_list.insert(1, my_list[v])
print(my_list)

[1, 1, 1, 1, 2, 3]

In [107]:
my_list = [i for i in range(-1, 2)]
print(my_list)

[-1, 0, 1]

In [115]:
t = [[3-i for i in range (3)] for j in range (3)]
print(t)
s = 0
for i in range(3):
    s += t[i][i]
    print(s)    
print(s)

[[3, 2, 1], [3, 2, 1], [3, 2, 1]]
3
5
6
6

- Creates a 3×3 2D matrix using nested list comprehensions
- When i = 0 → 3 - 0 = 3
- When i = 1 → 3 - 1 = 2
- When i = 2 → 3 - 2 = 1

In [129]:
my_list = [[0, 1, 2, 3] for i in range(5)]
print(my_list)
print(my_list[2][0])

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]
0

In [85]:
my_list = [1, 2, 3, 4]
print(my_list[-3:-2])

[2]

In [83]:
my_list = [3, 1, -2]
print(my_list[-1])
print(my_list[-2])
print(my_list[my_list[-1]])

-2
1
1

In [36]:
EMPTY_CELL = 0
board = [[EMPTY_CELL for i in range(8)] for j in range(8)]
print(board)

[[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]]

In [38]:
table = [[":(", ":)", ":(", ":)"],
         [":)", ":(", ":)", ":)"],
         [":(", ":)", ":)", ":("],
         [":)", ":)", ":)", ":("]]
 
print(table)
print(table[0][0])  # outputs: ':('
print(table[0][3])  # outputs: ':)'

[[':(', ':)', ':(', ':)'], [':)', ':(', ':)', ':)'], [':(', ':)', ':)', ':('], [':)', ':)', ':)', ':(']]
:(
:)

In [40]:
cube = [[[':(', 'x', 'x'],
         [':)', 'x', 'x'],
         [':(', 'x', 'x']],
 
        [[':)', 'x', 'x'],
         [':(', 'x', 'x'],
         [':)', 'x', 'x']],
 
        [[':(', 'x', 'x'],
         [':)', 'x', 'x'],
         [':)', 'x', 'x']]]
 
print(cube)
print(cube[0][0][0])  # outputs: ':('
print(cube[2][2][0])  # outputs: ':)'

[[[':(', 'x', 'x'], [':)', 'x', 'x'], [':(', 'x', 'x']], [[':)', 'x', 'x'], [':(', 'x', 'x'], [':)', 'x', 'x']], [[':(', 'x', 'x'], [':)', 'x', 'x'], [':)', 'x', 'x']]]
:(
:)

In [117]:
my_list = [[0, 1, 2, 3] for i in range(2)]
print(my_list[2][0])

IndexError: list index out of range