In [6]:
# OS command
! python --version

Python 3.11.11

**Printing**

In [10]:
### STEP 1 # In reality, data is often read in "realtime" from an input source, e.g. a file, a spreadsheet, a message, ...
first_name = "Yvan"
last_name = "Rooseleer"
company = "BiASC"
address = "Gravenbosstraat 134"
city = "Brussel"

print (first_name, last_name, company, address, city)

Yvan Rooseleer BiASC Gravenbosstraat 134 Brussel

In [21]:
### MANIPULATE NAME
first_name = "Yvan"
last_name = "Rooseleer"
company = "BiASC"
address = "Gravenbosstraat 134"
city = "Brussel"

# short_name = f"{first_name[0]}. {last_name}"
short_name = first_name[0] +". "+ last_name
short_name = first_name[0] +". "+ last_name
print(short_name)

Y. Rooseleer

In [25]:
### INITIALS
first_name = "Yvan"
last_name = "Rooseleer"
company = "BiASC"
address = "Gravenbosstraat 134"
city = "Brussel"

# short_name = f"{first_name[0]}. {last_name}"
initials = first_name[0] + last_name[0]
print(initials)

YR

In [26]:
### STEP 1 USING INPUT
first_name = input("Voornaam:")
last_name = input("Familienaam:")
company = input("Company:")
address = input("Adres:")
city = input("Woonplaats:")

print (first_name, last_name, company, address, city)

Voornaam: Yvan
Familienaam: Rooseleer
Company: BiASC
Adres: Gravenbos 134
Woonplaats: iedekerke

Yvan Rooseleer BiASC Gravenbos 134 iedekerke

In [27]:
print (first_name, last_name, company, address, city)

Yvan Rooseleer BiASC Gravenbos 134 iedekerke

In [29]:
print (first_name, last_name, company, address, city, sep=", ")

Yvan, Rooseleer, BiASC, Gravenbos 134, iedekerke

In [39]:
print (first_name, last_name, company, address, city, sep="/" )

Yvan/Rooseleer/BiASC/Gravenbos 134/iedekerke

In [40]:
print (first_name, last_name)
print (company)
print (address)
print (city)

Yvan Rooseleer
BiASC
Gravenbos 134
iedekerke

In [47]:
print (first_name[0]+".", last_name)
print (company)
print (address)
print (city)

Y. Rooseleer
BiASC
Gravenbos 134
iedekerke

In [50]:
print(len(first_name))
print(len(last_name))

4
9

In [51]:
print (last_name, first_name, sep=", ")
print (company, address, city, sep=", ")

Rooseleer, Yvan
BiASC, Gravenbos 134, iedekerke

In [55]:
print (first_name[0], last_name, sep = ". ")
print (company, address, city, sep=", ")

Y. Rooseleer
BiASC, Gravenbos 134, iedekerke

In [56]:
# STEP 5 username
first_name = "Yvan"
last_name = "Rooseleer"
company = "BiASC"
address = "Gravenbosstraat 134"
city = "Brussel"

user_name = first_name[0] +last_name[0:6]
print(user_name)
#user_name = user_name.lower()
#print(user_name)

YRoosel

In [59]:
# STEP 5 bis username
first_name = "Yvan"
last_name = "Rooseleer"
company = "BiASC"
address = "Gravenbosstraat 134"
city = "Brussel"

user_name = first_name[0] +last_name[0:6]
user_name = user_name.lower()  # of upper()
print(user_name)

yroosel

**Length of the hypotenuse**

In [80]:
a = 3.0
b = 4.0
c = (a ** 2 + b ** 2) ** 0.5
print("c =", c)

c = 5.0

**Simple converter**

In [91]:
kilometers = 42.150
miles = 26.4

miles_to_kilometers = miles * 1.61
kilometers_to_miles = kilometers / 1.61

print(miles, "miles is", round(miles_to_kilometers, 2), "kilometers")
print(kilometers, "kilometers is", round(kilometers_to_miles, 2), "miles")

26.4 miles is 42.5 kilometers
42.15 kilometers is 26.18 miles

**Datetime**

In [61]:
# DATETIME STEP 1
from datetime import datetime
now = datetime.now()
print("Current date and time:", now)

Current date and time: 2025-05-07 16:20:15.153099

In [62]:
# DATETIME STEP 2
from datetime import datetime
from zoneinfo import ZoneInfo  # Only available in Python 3.9+

# Choose a timezone
tz = ZoneInfo("Europe/Brussels")
print (tz)

Europe/Brussels

In [65]:
# DATETIME STEP 2 bis
from datetime import datetime
from zoneinfo import ZoneInfo  # Only available in Python 3.9+

# Choose a timezone
tz = ZoneInfo("Europe/Brussels")

# Get current date and time in that timezone
now = datetime.now(tz)

# Format the date and time
MyOS = "Windows"
if MyOS == "Windows":
    # Use %#d for Windows; if on Linux/macOS, you can use %-d instead
    formatted_date = now.strftime("%#d %B %Y")
    formatted_time = now.strftime("%H:%M")
else:  
    # Use %#d for Windows; if on Linux/macOS, you can use %-d instead
    formatted_date = now.strftime("%-d %B %Y")     # e.g. 7 May 2025 (on Unix/macOS)
    formatted_time = now.strftime("%H:%M")         # e.g. 13:16
# Print the result
print(f"Date: {formatted_date}")
print(f"Time: {formatted_time} {tz.key}")

Date: 07 May 2025
Time: 18:24 Europe/Brussels

**Calculating Minutes**

In [71]:
## STEP 1
## CONVERT HH:MI TO MINUTES
## Verander de namen van de variabelen voor meer leesbaarheid
HH = 2 # uren
MM = 30 # minuten
MINS = (HH * 60) + MM # berekend aantal minuten
print ("Resultaat: " , HH, ":", MM ," is gelijk aan" , sep="", end=" ")
print(MINS, "minuten", sep=" ")

Resultaat: 2:30 is gelijk aan 150 minuten

In [72]:
## STEP 2
## CONVERT HH MIN SEC TO SECONDS
HH = 1
MM = 30
SS = 10
SEC = (HH * 60 * 60) + (MM * 60) + SS
print ("Result: " , HH, ":", MM , ":", SS , " is" , sep="", end=" ")
print(SEC, "seconds", sep=" ")

Result: 1:30:10 is 5410 seconds

In [74]:
## STEP 3
## CONVERT HH MIN SEC TO SECONDS : INTERACTIVE
HH = int(input("How  many hours? (0-48)"))
MM = int(input("How  many minutes? (0-59)"))
SS = int(input("How  many seconds? (0-59)"))
SEC = (HH * 60 * 60) + (MM * 60) + SS
print ("Result: " , HH, ":", MM , ":", SS , " is" , sep="", end=" ")
print(SEC, "seconds", sep=" ")

How  many hours? (0-48) 48
How  many minutes? (0-59) 59
How  many seconds? (0-59) 120

Result: 48:59:120 is 176460 seconds

In [77]:
## STEP 4 -- NOT FINISHED !
## CONVERT HH MIN SEC TO SECONDS : INTERACTIVE
## Input should stop  if user enters 99

def get_valid_input(prompt, min_val, max_val):
    while True:
        try:
            val = int(input(prompt))
            if val == 99:
                print("Exiting...")
                break
            if min_val <= val <= max_val:
                return val
            else:
                print(f"Please enter a value between {min_val} and {max_val}, or 99 to quit.")
        except ValueError:
            print("Invalid input. Please enter a number.")

HH = get_valid_input("How many hours? (0–48, 99 to quit): ", 0, 48)
MM = get_valid_input("How many minutes? (0–59, 99 to quit): ", 0, 59)
SS = get_valid_input("How many seconds? (0–59, 99 to quit): ", 0, 59)

SEC = (HH * 60 * 60) + (MM * 60) + SS

print("Result: ", HH, ":", MM, ":", SS, " is", sep="", end=" ")
print(SEC, "seconds", sep=" ")

How many hours? (0–48, 99 to quit):  2
How many minutes? (0–59, 99 to quit):  2
How many seconds? (0–59, 99 to quit):  2

Result: 2:2:2 is 7322 seconds

In [79]:
## STEP 5
## Input stops immediately if user enters 99
## Output format: always two digits (e.g. 01:01:01)

def get_valid_input(prompt, min_val, max_val):
    while True:
        try:
            val = int(input(prompt))
            if val == 99:
                return 99
            if min_val <= val <= max_val:
                return val
            else:
                print(f"Please enter a value between {min_val} and {max_val}, or 99 to quit.")
        except ValueError:
            print("Invalid input. Please enter a number.")

def convert_time_to_seconds():
    HH = get_valid_input("How many hours? (0–48, 99 to quit): ", 0, 48)
    if HH == 99:
        return  # stop immediately

    MM = get_valid_input("How many minutes? (0–59, 99 to quit): ", 0, 59)
    if MM == 99:
        return  # stop immediately

    SS = get_valid_input("How many seconds? (0–59, 99 to quit): ", 0, 59)
    if SS == 99:
        return  # stop immediately

    # only executed if all inputs are valid (not 99)
    SEC = (HH * 60 * 60) + (MM * 60) + SS
    print(f"Result: {HH:02}:{MM:02}:{SS:02} is {SEC} seconds")

# Run the program
print("Start of the program")
convert_time_to_seconds()
print("End of the program")

Start of the program

How many hours? (0–48, 99 to quit):  99

End of the program